[2018-03-19 21:54] miketaylr opened #1 "2018-Q2 1.1 Ship a needsdiagnosis issue dashboard"
Continuation of dashboard prototype begun in Q1.

The work is tracked here: https://github.com/webcompat/webcompat-metrics/issues/4

https://webcompat.github.io/webcompat-metrics-client/

[2018-04-05 17:52] miketaylr opened #2 "2018-Q2 1.2 Ship a needscontact issue dashboard"
Issue filed at https://github.com/webcompat/webcompat-metrics/issues/30.

[2018-04-05 19:09] miketaylr opened #3 "2018-Q2 1.3 Reduce needsdiagnosis backlog to 0 issues (for non-anonymous issues)"
Currently at 316: https://github.com/webcompat/web-bugs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+milestone%3Aneedsdiagnosis+-author%3Awebcompat-bot+sort%3Acreated-desc+created%3A%3C%3D2018-04-01

[2018-04-05 19:10] miketaylr opened #4 "2018-Q2 1.4 Re-triage all existing non-anonymous needsdiagnosis issues."
Currently at 316: https://github.com/webcompat/web-bugs/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+milestone%3Aneedsdiagnosis+-author%3Awebcompat-bot+sort%3Acreated-desc+

[2018-04-05 19:14] miketaylr opened #5 "2018-Q2 1.5 Add contextual metadata to new in-product webcompat.com bug reports"
- [ ] Console Errors: [Bug 1453493](https://bugzilla.mozilla.org/show_bug.cgi?id=1453493)
- [x]  Tracking protection status: [Bug 1399987](https://bugzilla.mozilla.org/show_bug.cgi?id=1399987)
- - [x] add label for tracking protection list type https://github.com/webcompat/webcompat.com/issues/2434
- [x]  Include `navigator.buildID` and update channel:
- - [x] https://github.com/webcompat/webcompa

[2018-04-05 19:32] miketaylr opened #6 "2018-Q2 1.6 "Pre-triage with the crowd" experiment"
We believe there might be an opportunity for us to increase contributions from non-technical (or /rather, non-expert) volunteers in a way that is rewarding for them, and helps us to handle a greater number of issues. It's our hope that by doing this, our triagers can more readily make decisions about bug cycle states and our diagnosers can spend less time on non-expert activities.

Some documents:

[2018-04-05 19:36] miketaylr opened #7 "2018-Q2 1.7 Duplicate / related issues tool for webcompat.com"
Rather than creating this functionality for users at [report-time](https://github.com/webcompat/webcompat.com/issues/1990), we will build a dashboard or tool to allow us to identify possible duplicates or related issues at **triage-time**.

[2018-04-05 19:48] miketaylr opened #8 "2018-Q2 2.1 Ship webcompat system addon v2"
* [x] Land the code in Desktop (61 train?) [Bug 1386807](https://bugzilla.mozilla.org/show_bug.cgi?id=1386807)
* [x] Define site patching release process with RelMan
* [ ] Build 6 site patches:
   * [x] bankofamerica.com - [tracking bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1472075), [site patch PR](https://github.com/mozilla/webcompat-addon/pull/24)
   * [x] election.gov.np - [tracking bu

[2018-04-05 19:52] miketaylr opened #9 "2018-Q2 2.2 Prototype an addon for diagnosing compat issues"
For this addon, the target audience is the current Mozilla webcompat team and community. Future releases may target more use cases that would be interesting for Mozilla or developers, depending on the success of this prototype.

https://github.com/wisniewskit/webCompatSiteDiagnosisHelper is the starting point for this (to be moved to webcompat org).

* [x] Gather and document difficult diagnosis u

[2018-04-05 19:55] miketaylr opened #10 "2018-Q2 2.3 Organize and hold metrics insights workshop with Open Innovation team"
We would like to organize and hold a workshop with the OI team to brainstorm and define future projects with the end goal of helping us understand the insights we can gather from web compatibility data and efforts.

cc @rosanardila

[2018-04-05 19:57] miketaylr opened #11 "2018-Q2 2.4 Run a longitudinal user sentiment data prototype experiment (Blipz)"
Some clarity on scoping to come, but roughly: we'll build a WebExtension and accompanying backend service, get a group of Mozillians to opt in for some testing for a few weeks, and writing up findings / define next steps.

cc @rosanardila

[Experiment Design](https://docs.google.com/document/d/15NvkpnhOddsbOwGYmR83M40pipyEKX3FfsD0e043_98/edit#heading=h.g118rl2i6btw)

[2018-04-10 13:10] karlcow commented on #3
Currently as of today 283 non-anonymous issues in needsdiagnosis.

[2018-04-10 13:10] miketaylr commented on #4
(sergiu and oana to own)

[2018-04-10 13:15] miketaylr commented on #6
(sergiu and oana)

[2018-04-10 13:37] karlcow commented on #3
These includes 99 issues opened by @softvision-sergiulogigan and @softvision-oana-arbuzov

[2018-04-16 20:55] miketaylr commented on #5
PR @ https://github.com/webcompat/webcompat.com/pull/2395

[2018-04-16 22:30] miketaylr commented on #8
Please use this comment to track candidate site patch bugs:

1. [ ] https://bugzilla.mozilla.org/show_bug.cgi?id=1442050

[2018-04-17 01:34] adamopenweb commented on #2
There should be two outcomes from this:

- Report to measure outreach work
- Burndown dashboard combining queries for needscontact and contactready (bugs that need to be worked on)

* [ ] Define process and highlight metrics to track (**in progress**)
* [ ] Build a POC using old style reports
* [ ] Document the specs for the report
* [ ] Utilize another dashboard with different query for needscont

[2018-04-17 13:06] karlcow commented on #1
Repo has been created. Client part and server part will be separated.
I opened a couple of issues about the server.

[2018-04-17 13:07] miketaylr commented on #3
253 open today.

[2018-04-17 13:11] miketaylr commented on #4
Going to create a label to track the work, in progress.

Decided that we won't comment on issues with a comment in the 30 days (presumably they're still active).

We already re-triaged our own issues.

[2018-04-17 13:14] miketaylr commented on #5
@wisniewskit to investigate console errors. Unknown how difficult it will be. Details and buildID/update channel stuff in progress.

[2018-04-17 13:19] miketaylr commented on #8
Dennis: the code is finished. Waiting on some small review feedback and new QA contact to do tests. 61 soft freeze is in 9 days (April 26th).

[2018-04-17 13:55] softvision-oana-arbuzov commented on #6
Pre-triage Experiment progress document [link](https://docs.google.com/spreadsheets/d/1p6lIt74SFqSkf8UmRfQLYlDLwHk_MCABOsY7INDR7W0/edit?usp=sharing)

[2018-04-19 07:13] karlcow commented on #1
* Format discussed with @masgout https://github.com/webcompat/webcompat-metrics-server/issues/3
* Proto-coding started. Using Flask with python 3 (for now).
* First commits should come next week.
* Gathered docs for heroku https://github.com/webcompat/webcompat-metrics-server/issues/1#issuecomment-382290693
* Data collection with a cron job https://github.com/webcompat/webcompat-metrics-server/iss

[2018-04-20 16:07] denschub commented on #8
Got a second r+ by :mconley, approval from QA arrived, patch is waiting for checking. Bumping the confidence up a fair bit.

[2018-04-24 14:46] miketaylr commented on #8
https://wiki.mozilla.org/Compatibility/Go_Faster_Addon/Override_Policies_and_Workflows#Checklist_for_shipping_a_site_patch

[2018-04-26 05:04] karlcow commented on #1
* A first version of the data has been deployed see https://github.com/webcompat/webcompat-metrics/issues/4#issuecomment-384513114 and https://github.com/webcompat/webcompat-metrics-server/issues/7
* Discussion about domain names https://github.com/webcompat/webcompat-metrics-server/issues/6
* Current data converted to UTC and JSON

[2018-04-27 05:39] karlcow commented on #1
* Requested a heroku account to Mozilla
* Made a temporary URL with hourly generated data accessible to @magsout

[2018-04-27 21:15] magsout commented on #1
- refactoring some components
- added first Chart Line
- Made first draft of needsdiagnosis dashboard with a temporary URL from @karlcow

[2018-04-30 11:06] softvision-sergiulogigan commented on #4
Probably a good idea to write down progress.
April 30 - 56 remaining issues to re-triage.

[2018-04-30 23:10] miketaylr opened #12 "2018-Q2 3.1 Create and land a web extension for spoofing UA string on Google and Facebook"
* [Bug 1453691](https://bugzilla.mozilla.org/show_bug.cgi?id=1453691)

[2018-05-01 00:51] adamopenweb commented on #2
Update April 30th.

- Ran into some issues with the amount of data required to build this report. Going to focus on a short period of time (small data set), collect the data from Github to a JSON file, to build out the POC report.

- Spun up a Ubuntu / Node server on Digital Ocean to automate the old style reporting.

- Created and started applying new labels required for outreach and sitewait tra

[2018-05-01 13:08] miketaylr commented on #3
191 / 316, but we need more participation from @wisniewskit and @denschub.

[2018-05-01 13:15] miketaylr commented on #5
TP stuff in review, @wisniewskit has some WIP code for console logging (with an open question about inner window IDs). Looking good.

[2018-05-01 13:17] miketaylr commented on #8
Patch has landed, but there's some perf regression concerns and possibly related intermittents to fix.

[2018-05-01 13:33] miketaylr commented on #7
Unsure about staffing right now, perhaps more bandwidth towards the end of the quarter, or a mini-sprint during SF all hands. But something that's very important.

[2018-05-02 18:37] denschub commented on #8
Related:

* https://bugzilla.mozilla.org/show_bug.cgi?id=1455796 - `Intermittent dom/base/test/browser_messagemanager_loadprocessscript.js | Should get back to the base number of processes at this point (3 or 4)`
  * 2018-05-02: Patch to fix the test proposed, waiting for review.
* https://bugzilla.mozilla.org/show_bug.cgi?id=1457538 - `14.37% tp5o responsiveness (linux64) regression`
  * 2018-05-

[2018-05-03 01:44] karlcow commented on #1
Next OKR checking: May 15.

## 2018-05-03
* Heroku configured with automatic deployment
<img width="1073" alt="capture d ecran 2018-05-03 a 10 40 58" src="https://user-images.githubusercontent.com/505230/39556894-be96ae00-4ebe-11e8-8c00-14e3d3b1dc8e.png">
* Github connected with master and staging branches for deployment on heroku.
* Reading docs… a lot of docs…

[2018-05-09 07:44] softvision-sergiulogigan commented on #4
May 9 - 0 issues remining.

![image](https://user-images.githubusercontent.com/16573771/39802121-e43c8ed4-5375-11e8-830c-aed960913615.png)

[2018-05-09 13:26] magsout commented on #1
- reorganization of the repository, deleting of server-related files
- Travis added for automated testing
- Improved documentation

[2018-05-11 13:18] miketaylr commented on #6
Round results.

Round 1: 26.49%
Round 2: 21.09%
Round 3: 15.65%
Round 4: 8.07%

[2018-05-14 22:14] wisniewskit commented on #12
Feedback has been received on how to proceed with this, though I haven't had time to investigate it during this OKR sprint. Confidence remains the same for now.

[2018-05-14 22:34] wisniewskit commented on #11
The prototype addon has been more or less implemented during the last OKR sprint, and is chiefly awaiting feedback on final UX/copy issues, as well as how to tie it into the backend. As such confidence for the actual addon portion of the project is practically 100% at this stage (assuming it doesn't change too drastically).

[2018-05-14 22:37] wisniewskit commented on #5
Unfortunately I haven't had time to investigate the aformentioned window ID issues for the console error portion of this OKR during this sprint, so I can't provide any meaningful update on that.

[2018-05-15 09:52] denschub commented on #8
I ticked the "land source to desktop" checkbox, as it looks like we'll stick.

The intermittent mentioned earlier were resolved by adjustments in the test last week. Those changes were uplifted into the 61 beta, and failure rate for that test is now back at 0.

The performance issue was closed as a WONTFIX for now. Multiple people looked at the data and some profiles, and the actual reason for the

[2018-05-15 12:58] karlcow commented on #1
* Struggling a bit last thursday/friday with the way to keep the data. Because Heroku will evaporate everything at each restart.
* Planned meeting with @magsout soon.

[2018-05-15 13:01] karlcow commented on #3
Dedicating my time on needsdiagnosis 3 days a week (putting aside #1 with only 1 day a week). Given the current circumstances and San Francisco coming, we will probably not meet the target.

[2018-05-15 13:09] miketaylr commented on #2
Ping @adamopenweb for an update.

[2018-05-15 13:10] miketaylr commented on #3
155 / 316

[2018-05-15 13:14] miketaylr commented on #5
Going to leave at 80% confidence, will be on the backburner for a ~2 weeks.

[2018-05-18 10:29] magsout commented on #1
Meeting with @karlcow on this morning, we talked:
- about the granularity of the data (by day or by hour) https://github.com/webcompat/webcompat-metrics-server/issues/22
- figure out how to deploy server and client: https://github.com/webcompat/webcompat-metrics-server/issues/23
- the UI of the client: chart, form, homepage.
- a deadline for the first deployment (about 2 weeks 👍 )
- improved the d

[2018-05-18 15:34] magsout commented on #1
A little demo:
![screen recording 2018-05-18 at 05 33 pm](https://user-images.githubusercontent.com/1997108/40243868-a5217ed2-5ac1-11e8-9614-27cb0855cdd2.gif)

[2018-05-23 20:05] adamopenweb commented on #2
I haven't been able to focus on this as much as I'd like.
- Collected a small data set and saved to JSON, lots of data but not as bad as I expected
- Created the beginning of the outreach dashboard [here](http://adamstevenson.ca/mozilla/reports/outreach.html).

[2018-05-25 14:32] wisniewskit commented on #12
Quick update: we're still waiting on a blocking bug to land, but once that's done, only minor work apparently remains on the actual addon itself. Unfortunately it's uncertain whether the blocking bug will land soon enough for us to actually land the addon by the end of the quarter.

[2018-05-29 15:08] wisniewskit commented on #9
No updates during this past OKR sprint, though I should be working on it now, especially during the All-Hands.

[2018-05-29 15:12] wisniewskit commented on #11
At this stage the actual development seems to be essentially completed, as we're just waiting for [this Shield PR](https://github.com/mozilla/shield-studies-addon-utils/pull/180) so a final build of the addon can be made. Only minor tweaks and reviewing seems to remain.

[2018-05-29 15:13] wisniewskit commented on #12
The blocking bug has since landed and I have completed development of the addon. It's now pending any remaining reviews, so my confidence here has increased that we can get it shipped this quarter.

[2018-06-04 21:40] wisniewskit commented on #11
Just a quick update; we're still waiting on the PR I mentioned to pass review, but now we're not 100% sure how long it will take, so I'm waiting on go-ahead from the Shield on whether they're alright with us using an RC rather than a final version (if we choose to). Other progress this past week includes some bug fixes and finalizing of the testing mode code. All that seems to remain is a testing

[2018-06-04 23:43] wisniewskit commented on #12
We've now landed this, but unfortunately Fennec system addons are not being built, and I don't have the buildsystem know-how to easily figure out why. I've created [bz1466539](https://bugzilla.mozilla.org/show_bug.cgi?id=1466539) to figure it out, but kmag is on PTO until tomorrow, so I can't estimate how long it will take to tackle this final blocker.

[2018-06-04 23:47] wisniewskit commented on #5
Update on the console messages: I took another look at it, only to end up blocked on a needinfo. I'm not at all sure why the inner window IDs that I need aren't working, but once I have a clue on that I may be able to finish it.

[2018-06-06 20:20] miketaylr commented on #1
@karlcow @magsout things are looking good here, how would we rate confidence today? Still at 60%? It seems maybe higher?

[2018-06-06 20:21] miketaylr commented on #2
This is looking good @adamopenweb. What does "Exceptions" mean?

It would also be cool if you could somehow click on a column and have that be the search query to those open bugs.

[2018-06-06 20:27] adamopenweb commented on #2
Thanks. Exceptions means filtering out the things that are hard to control:
* Exclude any issues which are tagged with the following labels:
    * status-needsinfo - should not count bugs that are in a holding pattern
    * severity-minor
    * country-cn
    * country-id
    * country-jp

Good idea!

[2018-06-06 20:27] miketaylr commented on #5
Thanks for the update @wisniewskit, I'm going to lower confidence a little bit -- it seems like we might end up in "things not working as we expect them" territory.

[2018-06-06 20:28] miketaylr commented on #6
Latest update:

So, it seems like we can probably run this after all hands.

[2018-06-06 20:29] miketaylr commented on #8
@denschub can you give an update on where things stand today? thanks!

[2018-06-06 20:30] miketaylr commented on #10
The workshop happened, the remaining work here is to finish up mockups and present them to potential audiences by the end of all-hands (if possible), so we can start to plan something for q3.

[2018-06-06 20:32] miketaylr commented on #12
Update: @wisniewskit has a patch up that is waiting on review.

[2018-06-06 22:02] karlcow commented on #1
@miketaylr Probably after today. Yes! I'm finishing something today.

[2018-06-07 03:29] karlcow commented on #1
* Added parameters handling https://github.com/webcompat/webcompat-metrics-server/issues/12

[2018-06-07 15:13] miketaylr commented on #8
status update: for desktop, we expect GREEN status by end of week for 61 beta.
mobile: blocked on getting system addons to work in fennec (link bug here)
site patches: most of them written, just waiting on blockers then will submit PR.

[2018-06-07 15:42] miketaylr commented on #12
Update: patch bounced, waiting on feedback.

[2018-06-07 15:44] miketaylr commented on #11
Update: Tom working on test plan, hoping to finish today (and some useful testing utils for the addon).

[2018-06-07 15:53] miketaylr commented on #11
Update: Hoping to get PI request in by EOW, pending https://github.com/mozilla/shield-studies-addon-utils/pull/180 landing.

[2018-06-07 18:27] miketaylr commented on #1
Awesome! Will get on that today.

[2018-06-07 20:08] miketaylr commented on #3
Changing to 70% confidence to reflect being ~72% done as of right now.

[2018-06-11 02:43] wisniewskit commented on #5
I managed to figure out the issue, and have submitted a patch to the addon for review.

[2018-06-14 16:42] wisniewskit commented on #12
The addon has actually landed in moz-central, but is not actually being bundled with Fennec due to build-system issues ([bz1466539](https://bugzilla.mozilla.org/show_bug.cgi?id=1466539)). There are also potential mysterious performance test regressions noted in that bug. I'm no longer sure how confident to be about shipping anytime soon as a result, and it seems out of my hands.

[2018-06-14 16:45] wisniewskit commented on #11
Version 1 of the add-on is now basically done, and QA on it is imminent.

[2018-06-14 16:53] wisniewskit commented on #9
I'm currently soliciting feedback and discussing the add-on at the All-Hands (and gave the lightning talk). I'm aiming to come up with a roadmap and file issues next week. I'm still confident that I can complete the basic documentation and ship a minimally-usable version on AMO by the end of the quarter.

[2018-06-14 20:19] miketaylr commented on #1
status: Almost done. Need to solve one issue around CSP. The client can't fetch data from API server. Plan to do this right after work week.

[2018-06-14 20:20] denschub commented on #8
Desktop: Approval for 61 arrived, so we're good to go.
Mobile: Status unchanged.
Site patches: Site patches are written, planning on do some careful testing today and pushing to bugzilla tomorrow!

[2018-06-14 20:22] miketaylr commented on #2
status: should be able to finish first 3 checkmarks due to health issues.

[2018-06-14 20:23] miketaylr commented on #3
81 / 316

[2018-06-14 20:38] softvision-oana-arbuzov commented on #6
This part is done and the Experiment was a success. We can move forward with it and involve more contributors.
There are no issues to be logged.

Recommendations: The next step will be to run the Experiment with more people from the community (Christos Bacharakis is working on gathering a list of people to participate).

[2018-06-19 20:45] karlcow commented on #1
We have a finished working product

<img width="958" alt="capture d ecran 2018-06-20 a 05 30 37" src="https://user-images.githubusercontent.com/505230/41623206-f88d0600-744c-11e8-9a40-f0e0a7872b02.png">

That can now be improved through iterations.
https://github.com/webcompat/webcompat-metrics-server/issues/

OKR? 100%

[2018-06-21 09:06] softvision-oana-arbuzov commented on #6
@miketaylr could you add check-marks for:
- [ ] - Write up findings and recommendations
- [ ] - File bugs for follow up work (if any)

[2018-06-22 03:05] miketaylr commented on #6
@softvision-oana-arbuzov done!

(I also re-pinged about getting you and sergiu added to the @mozilla github org today)

[2018-06-22 14:56] softvision-oana-arbuzov commented on #6
@miketaylr thanks.

[2018-06-26 13:05] denschub commented on #8
Desktop: Unchaned (done)
Mobile: Status unchanged, still blocked.
Site patches: Doing tests, having issues with building, but still should be fine. However, landing won't happen, because PI needs to get involved.

[2018-06-26 13:06] miketaylr commented on #2
@adamopenweb status update?

[2018-06-26 13:06] karlcow commented on #1
The client is visible at https://webcompat.github.io/webcompat-metrics-client/

[2018-06-26 13:07] miketaylr commented on #3
79 / 316

[2018-06-26 13:09] denschub commented on #5
Finished everything, except console errors. Got a review on our approach, but have to finish that. Also some issues with the labeling, but doable.

[2018-06-26 13:10] denschub commented on #6
From the OKR checkin: Still waiting for feedback, so no update. Did a brainstorming session with Rosana, but also waiting for more material.

[2018-06-26 13:13] denschub commented on #9
All left to be done is writing a blog post. @miketaylr Tom suggested to mark this as closed, because it's basically done, what do you think?

[2018-06-26 13:14] denschub commented on #11
More or less done, waiting for release management and QA to figure out when it's going to ship. Some of the points moved to version 2.

[2018-06-26 13:15] denschub commented on #12
Still blocked, unfortunately.

[2018-06-26 13:16] denschub commented on #10
Should be done by the end of the week. We have a summary presentation, and only need to do one more chat.

[2018-06-26 13:18] wisniewskit commented on #9
Actually we'll mark it done once I've written a post and shipped on AMO, which should still be done by end-of-quarter if nothing comes up.

[2018-06-29 15:28] wisniewskit commented on #12
This just landed today, thanks to kmag's noble efforts in [bz1459004](https://bugzilla.mozilla.org/show_bug.cgi?id=1459004). We're done here!

[2018-06-29 15:28] #12 closed

[2018-06-29 15:30] wisniewskit commented on #11
Aaaaand we're off! Or rather, QA is done, and we're going to start rolling out the add-on starting on the 2nd of July.

[2018-06-29 15:39] wisniewskit commented on #9
This is essentially done now. The add-on is now [listed on AMO](https://addons.mozilla.org/en-US/firefox/addon/tinker-tester-developer-spy/) as an experimental one, and [the documentation](https://cdn.rawgit.com/webcompat/tinker-tester-developer-spy/master/docs/index.html) has gone live.

[2018-06-29 15:39] #9 closed

[2018-06-29 18:20] miketaylr commented on #11
Yeah, let's mark this as DONE, since we're going live next week.

https://bugzilla.mozilla.org/show_bug.cgi?id=1459678

[2018-06-29 18:20] #11 closed

[2018-06-29 18:23] miketaylr commented on #5
Let's go ahead and close -- there will be some follow up work in Q3 to ensure the console errors get sent to the form, but it depends on some infrastructure work on the webcompat.com backend.

[2018-06-29 18:23] #5 closed

[2018-06-29 18:23] miketaylr commented on #7
Possibly late Q3 or Q4 future work.

[2018-06-29 18:23] #7 closed

[2018-06-29 18:25] miketaylr commented on #6
Let's go ahead and close. We'll continue work on this in Q3.

[2018-06-29 18:25] #6 closed

[2018-07-02 15:37] miketaylr commented on #2
Q2 is done, so let's close. Will circle back with Adam to assign a final score when he's back from PTO.

[2018-07-02 15:37] #2 closed

[2018-07-02 15:38] miketaylr commented on #3
Currently at 76. Let's close with the quarter done. Thanks for the efforts everyone.

[2018-07-02 15:38] #3 closed

[2018-07-02 15:39] miketaylr commented on #1
Let's close this out, great work @karlcow and @magsout!

[2018-07-02 15:39] #1 closed

[2018-07-02 15:40] miketaylr commented on #4
Let's close this out, thanks sergiu and oana!

[2018-07-02 15:40] #4 closed

[2018-07-02 15:41] miketaylr commented on #8
Let's go ahead and close since the quarter is done. Thanks @denschub!

[2018-07-02 15:41] #8 closed

[2018-07-02 16:19] miketaylr commented on #11
(changing from DONE to 80%, because we missed the target for "get a group of Mozillians to opt in for some testing for a few weeks, and writing up findings / define next steps." -- this will happen in Q3).

[2018-07-02 16:43] miketaylr commented on #1
Score: 1.0.

Very strong collaborative work by Karl and Guillaume here.
https://webcompat.github.io/webcompat-metrics-client/?from=2018-05-19&to=2018-06-19

[2018-07-02 16:44] miketaylr commented on #7
Score: 0

Nobody to work on this / descoped.

[2018-07-02 16:44] miketaylr commented on #12
Score: 1.0

This snuck in at the end of the quarter after being blocked on some build issues. We plan on letting this ship for 4 weeks, then planning next steps. (In retrospect, we probably should have written another KR for writing up findings… but we didn’t. And we don’t have any right now).

[2018-07-02 16:44] miketaylr commented on #11
Score: 0.75

We were able to design the addon, work within the SHIELD process, and get it QA’d. A lot of the time we ended up blocked on SHIELD API updates, so we weren’t able to ship in Q2 or document findings. Go live date is July 2.

[2018-07-02 16:45] miketaylr commented on #10
Score 1.0:

The workshop went well and we presented ideas to stakeholders to get their feedback. Something we will pursue further in Q3.

[2018-07-02 16:45] miketaylr commented on #9
Score: 0.9

Tom got the addon shipped on AMO, gave a lightning talk, and documented everything. We decided to punt on a blog post for now.

https://addons.mozilla.org/en-US/firefox/addon/tinker-tester-developer-spy/
https://cdn.rawgit.com/webcompat/tinker-tester-developer-spy/master/docs/index.html

[2018-07-02 16:45] miketaylr commented on #8
Score: 0.5

We managed to ship in Desktop on the 61 train, and Dennis has 4 of 6 site patches written, but PI will need to test them before they can ship. We also ended up blocked for most of the quarter on the Fennec portion of this.

[2018-07-02 16:46] miketaylr commented on #6
Score: 0.7

We were blocked on a final exercise with more volunteers, but everything else points to this being a useful thing to follow up with in Q3.

[2018-07-02 16:46] miketaylr commented on #5
Score: 0.85

We landed 6 out of 7 bugs listed in the OKR. The 7th received r+ but we realized it needs some backend changes on webcompat.com to support it. We’ll continue to prioritize the last one in Q3.

[2018-07-02 16:46] miketaylr commented on #4
Score 1.0

Great work as always by Sergiu and Oana.

[2018-07-02 16:47] miketaylr commented on #3
Score: 0.7

Of 316 issues, 76 were not diagnosed, meaning we got to ~78% of issues this quarter. This is really good, but we could have gotten to 100% by prioritizing this work a bit higher, even with the other demands (especially when blocked).

[2018-07-02 16:47] miketaylr commented on #2
Score: 0.5

Some unforseen circumstances made it difficult to achieve everything planned for this, but Adam has a prototype running at http://adamstevenson.ca/mozilla/reports/outreach.html

[2018-07-09 22:25] miketaylr opened #13 "2018-Q3 2.1 Port Report Site Issue addon to a Web Extension"
* [ ] https://bugzilla.mozilla.org/show_bug.cgi?id=1451485

[2018-07-09 22:27] miketaylr opened #14 "2018-Q3 2.2 Report Site Issue Beta Desktop SHIELD experiment"
See https://bugzilla.mozilla.org/show_bug.cgi?id=1409056#c1

TODO: fill in SHIELD bug once this gets a go ahead from S&I team.

[2018-07-09 22:28] miketaylr opened #15 "2018-Q3 2.3 Enable Report Site Issue menu in Fennec Beta channel"
* [ ] https://bugzilla.mozilla.org/show_bug.cgi?id=1452783

[2018-07-09 22:29] miketaylr opened #16 "2018-Q3 2.4 Send new issue data via POST"
* [ ] https://github.com/webcompat/webcompat.com/issues/2024

[2018-07-09 22:29] miketaylr opened #17 "2018-Q3 2.4.1 Capture console errors in new bug reports - webcompat backend support"
In order to have more details and enable faster diagnosis, we would like to log console erros in bug report.

This KR covers the rewrite of the webcompat reporting backend:

* [ ] webcompat/webcompat.com#2024

[2018-07-09 22:32] miketaylr opened #18 "2018-Q3 1.1 Compatibility testing survey of top Enterprise sites"
See https://wiki.mozilla.org/Compatibility/Enterprise_Testing_Surveys. We'll test the top Enterprise sites provided by Product, and report and categorize Desktop bugs.

* [x] create new wiki page
* [ ] test all sites
* [ ] file bugs
* [ ] write summary report

[2018-07-09 22:33] miketaylr opened #19 "2018-Q3 1.2 Diagnose 35 tracking protection “tp-needsrepro” bugs."
https://bugzilla.mozilla.org/buglist.cgi?status_whiteboard_type=allwordssubstr&query_format=advanced&status_whiteboard=tp-needsrepro&bug_status=UNCONFIRMED&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED&component=Tracking%20Protection&product=Firefox&list_id=14226328

[2018-07-09 22:33] miketaylr opened #20 "2018-Q3 1.3 Build webcompat.com endpoint for TP in-product reporting needs"
In order to support the TP folks, we will build a backend service to power the TP bustage reporting feature that will file private github issues.

* [x] https://bugzilla.mozilla.org/show_bug.cgi?id=1474238

[2018-07-09 22:35] miketaylr opened #21 "2018-Q3 3.1 Prototype top-site insights dashboards"
See https://docs.google.com/presentation/d/1CpTPAGMrNr1TqfMcSKEsPqQfTxgmUNgYP9-gf5u4VnI/edit?usp=sharing

* [ ] Prototype Dashboard
* [ ] Propose a Report Card for Dashboard
* [ ] Start conversations with Pioneer (figure out process) to power Blipz

![img_20180727_122234](https://user-images.githubusercontent.com/67283/43316083-5a5e77a2-9198-11e8-93af-cebf1cc814b9.jpg)

[2018-07-09 22:36] miketaylr opened #22 "2018-Q3 3.2 Further Blipz experiments"
Depends on results of first experiment, and planning session July 25 - 27.

[2018-07-09 22:36] miketaylr opened #23 "2018-Q3 3.3 Finish weekly reporting dashboard powered by new metrics server / client"

[2018-07-27 08:23] miketaylr commented on #20
* [ ] set up private repos / dedicated github bot
* [ ] create a server endpoint on heroku
* [ ] make sure it doesn't log IP addresses
* [ ] look into html sanitization

[2018-07-27 15:30] miketaylr opened #24 "2018-Q3 1.4 WebVR UA string testing + recommendations"

[2018-07-27 15:31] #16 closed

[2018-07-27 16:06] miketaylr commented on #22
![img_20180727_180342](https://user-images.githubusercontent.com/67283/43332128-b65822cc-91c7-11e8-8ad4-1253dc90a93b.jpg)

* [ ] Build 2 experiments
* [ ] Ship 1

[2018-07-31 03:33] adamopenweb commented on #24
Met with Lars to get details of upcoming compat & outreach work.

[2018-07-31 03:34] adamopenweb commented on #18
Started outreach for accounts.

[2018-07-31 13:12] miketaylr commented on #19
Update: Sergiu and Oana have started on this. Have 19 more to go. Many of the older ones no longer reproduce. But lots of traige to do.

On average, we can investigate 5 issues today.

[2018-07-31 13:16] miketaylr commented on #13
Tom has some WIP patches.

[2018-07-31 13:24] miketaylr commented on #23
Update: getting all the server / db stuff set up. Working on tests + refactoring.

[2018-08-08 18:49] miketaylr commented on #18
Created https://wiki.mozilla.org/Compatibility/Enterprise_Testing_Surveys.

[2018-08-08 18:50] miketaylr commented on #18
cc @softvision-oana-arbuzov
cc @softvision-sergiulogigan

[2018-08-10 15:53] miketaylr commented on #14
Update: Sent a study design review request today.

PhD here: https://docs.google.com/document/d/1-JY8KMwDFoKaWQwFAnmKpYzN_nRqTCilFpkrS-uNa7w/edit

[2018-08-10 15:55] miketaylr commented on #11
Final report: https://metrics.mozilla.com/protected/tdsmith/2018-08-blipz_v1_report.html

[2018-08-10 16:07] miketaylr commented on #15
Update: @denschub is going to tackle this one.

[2018-08-14 06:15] karlcow commented on #17
# 2018-08-14
* Read documentation on strategies for sending form.data to another form.
* Need to better define what will be the POST data, we would be receiving from the browser/addon

[2018-08-14 13:06] miketaylr commented on #18
Update: there's enough to start testing now, while contacts are being found.
Testing: Ready to start testing (splitting time with TP diagnosis) this week.

[2018-08-14 13:09] miketaylr commented on #19
Status: 2 more issues, one under investigation. one is blocked. Nearly done here.

[2018-08-14 13:11] miketaylr commented on #13
Update: something for Tom after his PTO.

[2018-08-14 13:12] miketaylr commented on #13
(Dennis said 64 might be the real timeline for this)

[2018-08-14 13:12] softvision-sergiulogigan commented on #19
https://bugzilla.mozilla.org/show_bug.cgi?id=1410688 - CBS issue (looks like CBS does not support TP)
https://bugzilla.mozilla.org/show_bug.cgi?id=1338483 - Issue being blocked by https://github.com/webcompat/web-bugs/issues/18174

[2018-08-14 13:14] miketaylr commented on #17
Update: @karlcow to work on server piece (before @wisniewskit is back from PTO)

[2018-08-14 13:17] miketaylr commented on #21
Update: started work on report card yesterday with @adamopenweb.

[2018-08-23 05:46] karlcow commented on #17
## 2018-08-23
* Made progress on this. I probably have a working solution without creating a new URI.
* It was easier than initially thought and it will make it possible for clients to transition at their own pace.

[2018-08-28 01:47] karlcow commented on #17
## 2018-08-28
* Good progress on this. I know what I want to do and how to handle it. The biggest part is that it requires a bit of refactoring so we do not break anything working now. But it's all good. Progress will be made on this coming thursday.

[2018-08-28 13:06] miketaylr commented on #18
Update: started testing, have done Word Online, working on Powerpoint.

[2018-08-28 13:09] miketaylr commented on #19
Update: also working on the "see also" webcompat.com TP issues, ~20 remaining.

[2018-08-28 13:16] miketaylr commented on #20
This is done and in Nightly.

[2018-08-28 13:18] miketaylr commented on #24
Update: Most of the work here is done. To write up findings + a little more work around tablet UA string testing.

[2018-08-28 13:25] miketaylr commented on #22
Update: working on https://docs.google.com/document/d/1fUwkO5UGlsftAHp5J5JjJwfJnFE-uM3C0aGnKwBUu3w/edit at the moment.

[2018-08-28 13:28] miketaylr commented on #23
Update: the backend has landed. Kate is working on ideas around how to present thing via the frontend.

[2018-08-28 14:26] miketaylr commented on #21
Some updates to https://metrics.mozilla.com/tdsmith/webcompat/.

[2018-08-31 13:06] softvision-sergiulogigan commented on #19
Great success!

We finally finished looking at all the Tracking protection items.

So, for the "2018-Q3 1.2 Diagnose 35 tracking protection “tp-needsrepro” bugs" OKR (https://github.com/mozilla/webcompat-team-okrs/issues/19), we still have 1 more issue that's currently untestable, due to a blocker.
https://github.com/webcompat/web-bugs/issues/18174 blocks https://bugzilla.mozilla.org/show_bug.cgi?

[2018-09-04 19:17] miketaylr opened #25 "2018-Q3 1.5 Support "Dark Funnel" tiger team reporting needs"
The dark funnel tiger team is trying to understand which non-mozilla.org sites are offering Firefox downloads. They approached us to see what we can do.

[2018-09-04 19:18] miketaylr commented on #25
Update: A mostly done version exists, just waiting on some questions around required forms.

English, Spanish, and Basaha localization also done.

They also need a script to dump report values to CSV, tbd if I'm doing that too.

[2018-09-07 17:10] denschub commented on #15
Patch waiting for review: https://bugzilla.mozilla.org/show_bug.cgi?id=1452783#c5

[2018-09-11 05:38] karlcow commented on #17
#2018-09-11

This is very close to the finish line.
https://github.com/webcompat/webcompat.com/compare/master...karlcow:2024/1?expand=1

I need to add a couple of tests to make sure I didn't break the world.

[code]

[2018-09-11 13:03] miketaylr commented on #18
Update: finished Excel, started Outlook testing. Some testing on ServiceNow, started work on Google Drive.

[2018-09-11 13:06] miketaylr commented on #24
Update: done.

[2018-09-11 13:06] miketaylr commented on #25
Update: 99% done. In testing right now, a few requests to change things.

[2018-09-11 13:09] miketaylr commented on #14
Update: live!

http://adamstevenson.ca/mozilla/reports/beta/

[2018-09-11 13:10] miketaylr commented on #15
Update: Dennis is looking for a reviewer.

[2018-09-11 13:16] miketaylr commented on #21
Update: more progress, OOM crashes next.

[2018-09-11 13:17] miketaylr commented on #22
Update: new SHEILD bug filed https://bugzilla.mozilla.org/show_bug.cgi?id=1490261

[2018-09-11 13:19] miketaylr commented on #23
Update: working on getting more test data in, looking to prototype needsdiagnosis stuff in the coming weeks.

[2018-09-11 16:53] denschub commented on #15
Landed! Let's wait with marking this as done until it's merged to central and didn't get backed out in a day, but let's bump the confidence. :)

[2018-09-12 14:35] miketaylr commented on #15
https://hg.mozilla.org/mozilla-central/rev/7a7a689a669b

[2018-09-12 14:36] miketaylr commented on #15
Oh haha, got too excited. If it gets backed out, I'll toggle it back... 🙈

[2018-09-12 14:36] #25 closed

[2018-09-14 17:21] miketaylr opened #26 "2018-Q3 2.4.2 Capture console errors in new bug reports - Firefox support"
In order to have more details and enable faster diagnosis, we would like to log console errors in bug report.

This KR covers the Firefox side of things

* [ ] https://bugzilla.mozilla.org/show_bug.cgi?id=1453493:

[2018-09-25 08:46] karlcow commented on #17
This is done. and deployed v14.0.0 of webcompat.com

[2018-09-25 08:48] #17 closed

[2018-09-25 13:10] miketaylr commented on #18
Update: Outlook, OneNote, OneDrive, Gmail. Continuing the work.

[2018-09-25 13:13] miketaylr commented on #13
Update: in review.

[2018-09-25 13:13] miketaylr commented on #14
Update: 2 weeks in we're steady at like 75 bug reports a week.

[2018-09-25 13:17] miketaylr commented on #26
Update: in progress.

[2018-09-25 13:20] miketaylr commented on #22
Update: final UI is in, building things, waiting on experiment review.

[2018-09-25 22:27] miketaylr commented on #14
I'm going to mark this as DONE, given that it's shipping.

[2018-09-27 16:27] miketaylr commented on #13
Update: we're blocked here on Fluent API for Web Extensions being implemented. Still need to hit 64 timeline tho: https://bugzilla.mozilla.org/show_bug.cgi?id=1425104

[2018-09-27 16:31] miketaylr commented on #18
I don't have a great sense of the % done -- the spreadsheet is hard to parse, I'm guessing 20? @softvision-sergiulogigan @softvision-oana-arbuzov, please change to be more accurate.

[2018-09-27 16:31] miketaylr commented on #26
Update: have local patches working, but blocked again on WebExtension work (which is blocked on Fluent API stuff).

[2018-09-27 16:38] miketaylr commented on #22
Update: passed PhD review.

Branch 1 UI: https://projects.invisionapp.com/share/WQO3F41R6BD#/screens/320153541
Branch 2 UI: https://projects.invisionapp.com/share/BNO4HQU578R#/screens/320154861

Hoping to have this ship in the next few weeks. Will likely roll over this KR into Q4.

[2018-09-27 16:54] miketaylr commented on #23
https://github.com/webcompat/webcompat-metrics-server/pull/61/files has landed. 🎉

[2018-09-27 16:55] miketaylr commented on #23
I'm gonna put this at 50% done -- @laghee has built a backend and remote service to power this. Next up: front-end bits. (it could be less than 50%, just being conservative here)

[2018-09-28 01:39] karlcow commented on #23
laghee's PR has been merged on the server side part,

[2018-10-06 20:42] #13 closed

[2018-10-06 20:42] #14 closed

[2018-10-06 20:42] #15 closed

[2018-10-06 20:42] #18 closed

[2018-10-06 20:42] #19 closed

[2018-10-06 20:42] #20 closed

[2018-10-06 20:42] #21 closed

[2018-10-06 20:42] #22 closed

[2018-10-06 20:42] #23 closed

[2018-10-06 20:42] #24 closed

[2018-10-06 20:42] #26 closed

[2018-10-08 19:19] miketaylr opened #27 "2018-Q4 1.1 - Ship Blipz v2 SHIELD experiment"
Ship the second iteration to experiment with scaling up crowdsourcing funnel by prompting users.

* [x] Get UX signoff
* [x] Finish UI implementation
* [x] Get data + legal signoff
* [x] Get QA signoff
* [x] Get Firefox Peer signoff
* [x] Ship it
* [ ] Document findings

[2018-10-08 19:21] miketaylr opened #28 "2018-Q4 1.2 - Extend operational metrics work"
Add sections for needscontact, sitewait. Finish weekly stats re-write.

* [ ] Create DBs
* [ ] Add sitewait dashboard
* [ ] add needscontact dashboard
* [x] build front-end for weekly reports

[2018-10-08 19:22] miketaylr opened #29 "2018-Q4 1.3 - Track new Top Site Tier 1 KPI"
Document and track tier 1 “report card” for top sites

* [x] finalize report card
* [x] evaluate 20 top sites against report card
* [ ] integrate into dashboards

[2018-10-08 19:23] miketaylr opened #30 "2018-Q4 1.4 - Finish up dashboards prototype"
* [ ] Finish remaining TODOs for prototypes.
* [ ] Gather feedback in Orlando to finish work in 2019 (production versions)

[2018-10-08 19:24] miketaylr opened #31 "2018-Q4 2.1 - Prototype duplicate issue detection"
Improve reporting & triage with duplicate search.

* [ ] create functional prototype tool (command line, dashboard, webapp, etc) that takes a domain and returns related issues.

[2018-10-08 19:25] miketaylr opened #32 "2018-Q4 2.2 - Instrument Report Site Issue telemetry / webcompat.com analytics"
Gather user insights & experimentation with better tracking.

* [x] fix google analytics
* [x] https://bugzilla.mozilla.org/show_bug.cgi?id=1514861
* [x] https://github.com/webcompat/webcompat-reporter-extensions/issues/140
* [x] https://github.com/webcompat/webcompat.com/issues/2748

[2018-10-08 19:26] miketaylr opened #33 "2018-Q4 2.3 - Experiment with opt-in mechanism to get in touch with anonymous reporters"
Make anonymous reports more actionable by allow users to opt into feedback channels (possibly web push).

[2018-10-08 19:26] miketaylr opened #34 "2018-Q4 2.4 - Update webcompat reporter addons to send POST data"
Follow up maintenance work on server rewrite.

[2018-10-08 19:28] miketaylr opened #35 "2018-Q4 2.5 - Land Console Error reporting"
Make reports more actionable by including error information.

[2018-10-08 19:29] miketaylr opened #36 "2018-Q4 2.6 - Land Web Extension Report Site Issue in Fennec"
Consistent extension code base.

Depends on landing web extension re-write.

https://bugzilla.mozilla.org/show_bug.cgi?id=1503402

[2018-10-08 19:31] miketaylr opened #37 "2018-Q4 3.1 - Finish Enterprise site testing"
Finish QA on Enterprise top sites and services.

https://wiki.mozilla.org/Compatibility/Enterprise_Testing_Surveys

[2018-10-08 19:32] miketaylr opened #38 "2018-Q4 3.2 - Diagnose Enterprise QA issues"
Follow up on [Enterprise QA with diagnosis](https://github.com/webcompat/web-bugs/issues?q=is%3Aopen+is%3Aissue+milestone%3Aneedsdiagnosis+label%3Atype-enterprise-survey) and [outreach](https://github.com/webcompat/web-bugs/issues?q=is%3Aopen+is%3Aissue+label%3Atype-enterprise-survey+milestone%3Acontactready).

[2018-10-08 19:33] miketaylr opened #39 "2018-Q4 3.3 - Google Tier 1 images investigation (mobile)"
Further work towards GWS Tier 1 with manual QA work and collaboration with Google Infra team.

[2018-10-08 19:34] miketaylr opened #40 "2018-Q4 4.1 - Establish regular site patch deploy process"
Establish a process with release management for off-train intervention deployment (GoFaster)

[2018-10-08 19:35] miketaylr opened #41 "2018-Q4 4.2 - Fix 25 site issues using webcompat system addon"
Use the new super power to make a better web for Firefox. And get it in front of our release users.

[2018-10-08 19:36] miketaylr opened #42 "2018-Q4 4.3 - Land Nightly-only about:compat page to list current site patches / UA overrides"
Inform users on active webcompat system patches.

[2018-10-08 19:36] miketaylr opened #43 "2018-Q4 4.4 - Convert system addon into a webextension"
Maintenance on system addon to keep the extension alive.

[2018-10-08 19:37] miketaylr opened #44 "2018-Q4 5.1 - Tinker Tester for Chrome"
Make tinker tester compatible with Chrome

[2018-10-08 19:38] miketaylr opened #45 "2018-Q4 5.2 - Draft a more polished Tinker Tester UI/UX concept"
Make it more useful for other people, and easier to use.

[2018-10-08 19:38] miketaylr opened #46 "2018-Q4 5.3 - Website snapshotting for WebCompat reports"
Prototype a system for taking snapshots of Websites with WebCompat reports

[2018-10-08 19:38] miketaylr opened #47 "2018-Q4 5.4 - Modularize tinker tester code for external users"
Make the extension useful for other teams.

[2018-10-09 13:19] miketaylr commented on #28
cc @laghee @magsout

[2018-10-09 14:05] laghee commented on #32
Found a few FOSS alternatives that could be worth investigating:  [Open Web Analytics] (http://www.openwebanalytics.com/), [Matomo](https://matomo.org/) (formerly PIWIK), [Countly](https://count.ly/web-analytics), and the kinda ugly (or, more kindly, fashionably retro) [AWStats](http://www.awstats.org/).

[2018-10-11 19:04] miketaylr commented on #46
Let's archive this for future work. cc @denschub.

[2018-10-11 19:04] #46 closed

[2018-10-11 19:30] miketaylr commented on #31
I'm going to archive this for Q4. Let's revisit next quarter (more conversations to be had in Orlando).

cc @karlcow

[2018-10-11 19:30] #31 closed

[2018-10-11 19:34] miketaylr commented on #28
I believe https://github.com/webcompat/webcompat-metrics-client/issues/30 covers the "sitewait / needscontact" part.

https://github.com/webcompat/webcompat-metrics-client/issues/107 covers the weekly reports (at least the first parts of it).

[2018-10-11 19:37] miketaylr commented on #42
This is https://bugzilla.mozilla.org/show_bug.cgi?id=1488845.

[2018-10-13 16:52] wisniewskit commented on #35
This has just landed as part of [bz1451485](https://bugzilla.mozilla.org/show_bug.cgi?id=1451485). Assuming it sticks, and we confirm that everything's working as desired, this is done.

[2018-10-13 17:03] wisniewskit commented on #34
Related: the in-tree reporter addon now sends reports as POST data as of [bz1451485](https://bugzilla.mozilla.org/show_bug.cgi?id=1451485). It required using an [experimental API](https://searchfox.org/mozilla-central/source/browser/extensions/webcompat-reporter/experimentalAPIs/tabExtras.js#96) to efficiently POST to the server as part of loading a tab.

But I'm not sure how easy it will be to do

[2018-10-16 13:19] denschub commented on #43
Desktop: Still fighting against leakcheck tests, pinging people to get help.

Mobile: Mochitests still failing, nobody understands why, yet.

[2018-10-16 13:27] wisniewskit commented on #42
No progress yet.

[2018-10-16 13:28] miketaylr commented on #30
Update: having meeting in Mountain View for Nov 15 related to this.

[2018-10-16 13:28] wisniewskit commented on #44
Some feasibility investigations were done over the past couple of weeks, but I haven't had time to actually code anything.

[2018-10-16 13:28] adamopenweb commented on #37
Requires accounts. Sending follow ups this week to our contacts. Have a meeting internally for Workday.

[2018-10-16 13:30] adamopenweb commented on #40
Waiting for the web-extension to land before bugging Dennis too much.

[2018-10-16 13:30] miketaylr commented on #32
No update here yet. Thanks @laghee!

[2018-10-16 13:31] miketaylr commented on #33
Update: in discussions with @karlcow about how to do this.

[2018-10-16 13:32] miketaylr commented on #34
@miketaylr needs to file some bugs.

[2018-10-16 13:37] wisniewskit commented on #47
No chance to get to this yet, but note that it will probably overlap with OKR 5.1.

[2018-10-16 13:41] softvision-sergiulogigan commented on #37
16 October 2018

Office 365 - DONE
GSuite - DONE
Box - DONE
Sharepoint - In progress
Slack - In progress

Workday - Not started
ServiceNow - Not started
Salesforce - Not started
Concur - Not started
SuccessFactors - Not started
Jive - Not started
WebEx - Not started
ZScaler - Not started
Confluence - Not started
Cornerstone OnDemand - Not started

[2018-10-22 14:50] denschub commented on #43
This is... **done**.

The update for desktop was done in [bug 1498278](https://bugzilla.mozilla.org/show_bug.cgi?id=1498278), the Fennec part landed in [bug 1451484](https://bugzilla.mozilla.org/show_bug.cgi?id=1451484).

[2018-10-23 18:59] magsout commented on #28
@laghee we can think about a new dep.

[2018-10-24 19:00] miketaylr commented on #35
Done!

[2018-10-30 06:37] karlcow commented on #28
no progress on my side for this. I know @laghee is a bit busy too. :)

[2018-10-30 06:38] karlcow commented on #33
no progress on this. on my side. busy with webcompat.com diagnosis. That said I want to try a simpler solution than web push.

[2018-10-30 07:12] softvision-sergiulogigan commented on #37
30 October 2018

Office 365 - DONE
GSuite - DONE
Box - DONE
Sharepoint - DONE
Slack - DONE
ServiceNow - DONE
Confluence - DONE

Workday - No access
Salesforce - No access
Concur - Not started
SuccessFactors - No account
Jive - No account
WebEx - No account
ZScaler - Not started
Cornerstone OnDemand - No account

[2018-10-30 12:38] laghee commented on #34
Discussed possibilities with @miketaylr, including suggestion above by @wisniewskit. Will take some research to get to the experimentation point and time is a little short this month, but I'll try to have a better idea on how to proceed toward the mid/end of November (or, worst case, will bring ideas to AllHands in December).

[2018-10-30 12:46] laghee commented on #28
Thanks @magsout! I appreciate that. Since, in theory, the dashboards are going to be powered by the database rather than these temporary endpoints in a few months (or at least that's been my understanding), I'm trying to avoid adding extra packages we won't need for long.

I'll try to bend the current json to my will (or possibly alter my endpoint to return the data an easier way) before messing a

[2018-10-30 12:59] miketaylr commented on #32
Update: figured out this is not broken. :)

[2018-10-30 13:01] miketaylr commented on #27
Update: ready for QA and Peer signoff.

[2018-10-30 13:08] miketaylr commented on #37
Update re: accounts:

WebEx going to set up a test account for us, in the next few days.
Workday: blocked, but asking stpeter for more help.
Jive: asking stpeter for help.

Some of the others have turned out to be dead ends.

[2018-10-30 13:09] wisniewskit commented on #44
I did some work converting over to Chrome, but the results aren't conclusive yet. It seems likely that a Chrome-specific version won't be able to load before all scripts on a page as early as the Firefox version, which could cause hiccups on sites using inline script tags.

[2018-10-30 13:11] wisniewskit commented on #47
Still no progress, but other OKRs are now winding down so the priority here may be bumped up.

[2018-10-30 13:15] adamopenweb commented on #40
Webextension work is done. Started talking with Dennis about requirements, process and potential issues.

[2018-10-30 15:58] miketaylr commented on #39
We'll need to do this in H1.

[2018-10-30 15:58] #39 closed

[2018-10-30 21:33] miketaylr commented on #36
@wisniewskit has been poking at this, and has a mostly working version with a few items to sort out. adding him as a co-owner.

[2018-10-31 06:38] karlcow commented on #33
## 2018-10-31
Added context and questions for the project in
https://github.com/webcompat/webcompat.com/issues/1822#issuecomment-434577219

After reading all the bricks involved in doing that, I don't think the project is doable in one quarter.
We should have probably separated the pieces in a more nuclear form.  Basically there is design, server and client components.

[2018-11-01 04:18] karlcow commented on #28
We need to move to a DB. so we can remove our dependency from @laghee and @karlcow servers
https://github.com/webcompat/webcompat-metrics-server/issues/4#issuecomment-434925670

[2018-11-01 06:54] karlcow commented on #28
Added more context on DB choices to move forward on this OKR.
https://github.com/webcompat/webcompat-metrics-server/issues/4#issuecomment-434942350

[2018-11-04 22:29] wisniewskit commented on #27
Update: the first (big) round of QA is done, and I will be posting the addon for review early this week unless there is some unexpected major change necessary.

[2018-11-04 22:31] wisniewskit commented on #47
Quick update: there is still little progress here, but now I finally have a solid idea of how to port this over to Chrome, so I'm able to finally start consdering how to cleanly modularize the code.

[2018-11-06 16:36] laghee commented on #28
Very basic front end for weekly reports is hacked up and awaiting review [PR#11 on metrics-client](https://github.com/webcompat/webcompat-metrics-client/pull/111) while failing 7% of tests! 🎉

![weekly-reports-tab](https://user-images.githubusercontent.com/20972610/48078866-854fda80-e1ea-11e8-9a5c-ac257c193ffc.png)

[2018-11-06 18:01] miketaylr commented on #45
@denschub I think we're defining the scope of this as a proposal, is that correct? So the deliverable will likely be some form of document.

[2018-11-06 22:09] karlcow commented on #28
awesome!

[2018-11-13 08:17] softvision-oana-arbuzov commented on #37
WebEx (Modern/Clasic view) - In progress
Salesforce - In progress

[2018-11-13 13:43] denschub commented on #41
17 site patches are built and merged into the GitHub repo. [This internal spreadsheet](https://docs.google.com/spreadsheets/d/1U17PnlB0lN6dtmuz2HpUI8ANUYMh-aaeyz22qGu5faY/edit?usp=sharing) keeps track of both potential candidates and patches already built. We need more candidates (and someone looking for them).

As for getting them released, @adamopenweb is still working on it, but we've had some

[2018-11-13 13:47] laghee commented on #28
Looks like fixing the tests for the weekly issues dashboard won't be too complicated, then I can concentrate on making it look better and adding any extra features, as well as pulling in the outreach dashboard as well. I should be able to do the test fixes by the end of this week.

[2018-11-13 13:49] laghee commented on #34
Haven't had time to look at this so far, but will be prepared to brainstorm in Orlando...

[2018-11-13 13:59] wisniewskit commented on #27
We're finally done with QA and the addon is reviewed. Now waiting on signing and deployment, which may end up happening next Monday.

[2018-11-13 14:03] wisniewskit commented on #36
Still waiting on review. Will ping this week to try to get it across the finish line.

[2018-11-13 14:07] wisniewskit commented on #44
Progress is good, and I now have a version of the addon about half done which supports both Chrome and Firefox with essentially the same codebase (just different methods for gluing things together).

I also have a pending webextension API proposal for these kinds of addons, which I will discuss at the upcoming All-Hands, and should help even more.

[2018-11-13 14:10] wisniewskit commented on #47
As hoped, I'm now modularizing the addon as I rewrite it for Chrome and Firefox (in #44). Hopefully the most useful parts for other team can be factored out this quarter, but I'm still not 100% sure yet.

[2018-11-13 14:12] wisniewskit commented on #42
Still no progress. Will chat with Mike about this ASAP to see if we have any concrete ideas yet, or should at least do some research.

[2018-11-13 14:12] miketaylr commented on #30
Update: status remains the same.

[2018-11-13 14:13] miketaylr commented on #32
Update: not much to report yet.

[2018-11-14 17:39] wisniewskit commented on #27
We shipped yesterday, so with luck we'll have some data to look at by the time the All Hands swings around.

[2018-11-15 05:42] karlcow commented on #33
## 2018-11-15

Created a prototype for a low key form. Asked review by @miketaylr
https://github.com/webcompat/webcompat.com/pull/2713
it needs tests and a bit or reorg.

* example of a bug report https://github.com/webcompat/webcompat-tests/issues/1720
* example of a possible abuse https://github.com/webcompat/webcompat-tests/issues/1721

[2018-11-16 00:18] karlcow commented on #38
# 2018-11-16
So a status about this
https://github.com/webcompat/web-bugs/issues?utf8=%E2%9C%93&q=+is%3Aissue+label%3Atype-enterprise-survey+

There are [64 issues](https://github.com/webcompat/web-bugs/issues?utf8=%E2%9C%93&q=+is%3Aissue+label%3Atype-enterprise-survey+)

On these 64 issues
* 41 open
* 23 closed

in the 41 open ones, 23 remained to be diagnosed. The rest has been already dealt wit

[2018-11-16 04:32] karlcow commented on #38
## 2018-11-16

well… now 17 remained to be diagnosed and I'm pretty sure 5 of them are either wontfix or invalid.

17 -> 73%

[2018-11-17 15:42] wisniewskit commented on #36
This just landed.

[2018-11-17 15:42] #36 closed

[2018-11-19 05:05] karlcow commented on #38
## 2018-11-19
We are almost done.

I asked for help to @wisniewskit on two issues
* https://github.com/webcompat/web-bugs/issues/19240
* https://github.com/webcompat/web-bugs/issues/18621

One issue is blocked because I need to coordinate with oana and sergiu.

I also realized that 4 of these issues are… chrome only. So should not be counted part of the OKR.

2 issues on 60 firefox issues We are a

[2018-11-20 02:48] karlcow commented on #41
* https://bugzilla.mozilla.org/show_bug.cgi?id=1508516

[2018-11-20 07:57] karlcow commented on #41
* https://bugzilla.mozilla.org/show_bug.cgi?id=1508564

[2018-11-26 12:08] softvision-sergiulogigan commented on #37
27 November 2018

WebEx (Modern/Classic view) - In progress (80%)
Salesforce - In progress (50%)

[2018-11-26 23:47] karlcow commented on #38
2018-11-27 There is a moving dependency around this.
It depends on https://github.com/mozilla/webcompat-team-okrs/issues/37#issuecomment-441616997
So each time, @softvision-oana-arbuzov @softvision-sergiulogigan add to the pile. The percentage is changing ;)

[2018-11-26 23:55] wisniewskit commented on #27
We're done with the coding now, as far as I can tell. Version 2.1's launch is imminent, and it addresses the final tweaks to our reporting/labels/UI that are worth doing in this iteration. That leaves us with the documentation of the findings, and since it will take two weeks for the experiment to run, it'll be close to the end of the quarter before we can do that part.

[2018-11-27 00:09] wisniewskit commented on #44
Progress is unfortunately about where it was last time, as I explored making an experimental API (so we had a more solid proposal ready for the Mozilla All-Hands) but it hasn't become solid enough yet for my liking. I'm going to refocus on just getting the Chrome port done now instead.

[2018-11-27 02:06] miketaylr commented on #29
@adamopenweb and I met the week of the 12th and talked about some ideas. Plan is to try to make some progress this week against some of the top sites for discussion in Orlando. This also relates to some compat metrics proposed by Panos.

[2018-11-27 02:08] miketaylr commented on #30
Update: Nemo to document the webcompat issue service this week. Still plan on discussions in Orlando.

[2018-11-27 02:09] miketaylr commented on #32
Same.

[2018-11-27 13:17] denschub commented on #41
With https://github.com/mozilla/webcompat-addon/pull/39 merged, we are now at *23* overrides in the repo.

[2018-11-27 13:18] denschub commented on #45
I finished everything I wanted to, and will export them as a usable file format (from Sketch to .. PDF or so) and put them in a slide deck on the plane to Orlando, so I have something to do, and we have something to look at. :)

[2018-11-27 13:30] adamopenweb commented on #40
Met with the QA team, received good feedback. Next step is to book kickoff meeting for single site patch. Also need to draft project plan.

[2018-11-27 14:23] miketaylr commented on #42
Hoping to have conversations in Orlando around this feature with Product, and the team.

[2018-11-29 15:35] softvision-sergiulogigan commented on #37
29 November 2018

Salesforce - DONE

[2018-12-04 15:03] softvision-oana-arbuzov commented on #37
4 December 2018

WebEx - DONE

[2018-12-04 18:31] laghee commented on #28
Update: Tests fixed! Adding a date filter back in this week.

[2018-12-10 21:50] miketaylr opened #48 "2019-Q1 3.2 - Add 3 dashboards to track "needscontact", "sitewait", "needstriage" bug states to webcompatmetrics"
The final output should be the functional dashboards for the following bugs milestones, that live @ http://webcompat-dashboard.herokuapp.com:
* [x] needstriage
* [x] needscontact
* [x] sitewait

Tasks:

* [x] database work + refactoring
* [x] server side gathering of milestones data
* [x] front-end refactoring
* [x] front-end implementation

[2018-12-10 21:51] miketaylr opened #49 "2019-Q1 1.3 - Ship a prototype dashboard showing user-facing webcompat metric for Top 200 Mobile and Desktop Sites"
See [draft proposal](https://docs.google.com/document/d/1cRgFNqmTpv3Ce0Dv9Z8oPy5fmiqnJhxMOiTOTPyWkmU/edit).

It's possible this results in an effective dupe of https://github.com/mozilla/webcompat-team-okrs/issues/67, but that's OK.

[2018-12-10 21:53] miketaylr opened #50 "2019-Q1 N.N - Anonymous reporting followup from Q4"
* [ ] ship the work (if not shipped by EOY 2018)
* [ ] evaluate if it's good

[2018-12-10 21:54] miketaylr opened #51 "2019-Q1 N.N - Finish building intervention rollout process"

[2018-12-10 21:55] miketaylr opened #52 "2019-Q1 3.3 - Implement and ship 4 UI improvement issues for Tinker Tester diagnosis addon"
Implement and ship the following issues: https://github.com/webcompat/tinker-tester-developer-spy/labels/q1-2019

[2018-12-10 21:55] miketaylr opened #53 "2019-Q1 2.2 - Land an `about:compat` page to display active sitepatches, and allow site authors to disable them."
This should land in Nightly and ride to DevEdition.

Bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1488845.

Amazing mockup:
<img width="924" alt="screen shot 2018-12-21 at 12 42 08 pm" src="https://user-images.githubusercontent.com/67283/50358105-d9eeb100-051d-11e9-85d3-6c4e132e873a.png">

We could probably do something similar to what is in `about:policies` for UI.

[code]

### Requirements

[2018-12-10 21:56] miketaylr opened #54 "2019-Q1 N.N - Tinker tester Chrome port"

[2018-12-10 21:56] miketaylr opened #55 "2019-Q1 N.N - Prototype triage-time duplicate issue tooling"

[2018-12-10 21:57] miketaylr opened #56 "2019-Q1 N.N - Research around site snapshotting"

[2018-12-10 21:57] miketaylr opened #57 "2019-Q1 N.N - console.log phase 2"
Make it more useful and usable.

    * structure log
        * time estimate: 2 days
    * UI (front end)
        * time estimate: 2 weeks
    * privacy policy updates:
        * time estimate: 1 day

[2018-12-10 21:58] miketaylr opened #58 "2019-Q1 3.1 - Identify and log presence of Fastclick library (and version) at report-time for Mobile bug reports"
* time estimate: 2 months

[2018-12-10 21:59] miketaylr opened #59 "2019-Q1 N.N - Python3 migration for webcompat.com"
* time estimate: 1 week

[2018-12-10 21:59] miketaylr opened #60 "2019-Q1 N.N - Upgrade nginx"
* time estimate: 1 week

[2018-12-10 22:00] miketaylr opened #61 "2019-Q1 4.1 - Performance improvements to webcompat.com"
* time estimate: 3 months

[2018-12-10 22:00] miketaylr opened #62 "2019-Q1 N.N - migration of labels on webbugs issues"
* time estimate: 2 weeks

[2018-12-10 22:01] miketaylr opened #63 "2019-Q1 2.1 - Diagnose 10 Marfeel framework bugs and produce report with findings."
* [ ] [type-marfeel](https://github.com/webcompat/web-bugs/labels/type-marfeel-analysis)
* [ ] [Bug 1147352](https://bugzilla.mozilla.org/show_bug.cgi?id=1147352)

[code]

[2018-12-10 22:01] miketaylr opened #64 "2019-Q1 N.N - Investigate FastClick sitepatch"
* time estimate: 1 month

[2018-12-10 22:03] miketaylr opened #65 "2019-Q1 N.N - Develop Twitter bot to link public tweets to anon reports"
* time estimate: 1 week

[2018-12-10 22:04] miketaylr opened #66 "2019-Q1 1.2 - Ship a prototype dashboard showing Platform Gap metric for CSS and DOM"
* time estimate: 2 months

Things we want to do:
* WPT: “for the intersection of enabled tests, show which tests pass in Chrome or Safari but not Firefox”

Things we need to do:
* Find the intersection of Blink IDL methods that have use counter data, and Firefox IDL methods, compute a gap score from that.
    * Figure out how to normalize the differences in Confluence data between Firefox and Blin

[2018-12-10 22:05] miketaylr opened #67 "2019-Q1 1.1 - Evaluate compatibility for Top 200(ish) sites in "Tier 1 Report Card" report twice in Q1"
<s>We're experimenting with this Tier 1 Report Card idea over at: https://docs.google.com/spreadsheets/d/148lJgt2qMUDk5LN3PcNMhaEEMS-2KQtwydZw3VuD51Q/edit#gid=0. </s>

Current Top Sites Report Card Prototype: [google doc link (ping mike if you want access)](https://docs.google.com/spreadsheets/d/1lSbM-gPtyyuUf_gO3GGrZKfZ_FP50XZ6N9xmNlouqpU/edit#gid=63787018)

* [x] Capture measurements once
* [x]

[2018-12-10 22:29] miketaylr opened #68 "2019-Q1 N.N - something around TLS 1.0 / 1.1 removal"
So vague. But there are top sites that need to be contacted. Like 50,000+ of them.

[2018-12-11 13:41] miketaylr commented on #27
In theory the study ended yesterday (there's always a few stragglers due to the nature of sending updates to users). We're triaging the final bugs and telemetry data this week, will have next steps / go-no-go details by early next week. Still On Track.

[2018-12-11 13:42] miketaylr commented on #29
Status: we discussed this in Orlando, just need to sit down and do the work this week and next. Will move to Challenged just because it isn't done yet.

[2018-12-11 13:43] miketaylr commented on #30
We shifted focus into metrics. It's possible this work continues in H1.

[2018-12-11 13:43] miketaylr commented on #32
Nothing different to report yet.

[2018-12-11 13:44] miketaylr commented on #37
Orlando update: we met with the Enterprise folks and they were very pleased with the results so far.

[2018-12-11 14:06] miketaylr commented on #28
Let's call this DONE. We will pick up the rest in Q1, probably.

[2018-12-11 14:08] karlcow commented on #38
## 2018-12-11
I plan to work on diagnosis in the next couple of days.

[2018-12-11 14:08] wisniewskit commented on #44
Other priorities kept this from being completed in the last sprint, so it's still unclear if I can finish the port this quarter (but it's close!)

[2018-12-11 14:08] miketaylr commented on #33
Status: @karlcow has a goal to get this done before EOY.

[2018-12-11 14:09] wisniewskit commented on #47
It's unclear how much of this will actually be done as I make the Chrome port, so I'm pretty sure that it won't be done this quarter.

[2018-12-11 14:10] miketaylr commented on #41
Update: we made it to 24, and @denschub pinged people for review.

[2018-12-12 02:12] karlcow commented on #38
## 2018-12-12
This morning
* [6 open issues](https://github.com/webcompat/web-bugs/issues?q=is%3Aopen+label%3Atype-enterprise-survey+milestone%3Aneedsdiagnosis) on a total of 68 issues. 91% done. Working on this today.

Later
* https://github.com/webcompat/web-bugs/issues/19167 should be ignored. It seems to be a Chrome issue.
* https://github.com/webcompat/web-bugs/issues/19089 should be ignored.

[2018-12-17 19:51] miketaylr commented on #32
https://bugzilla.mozilla.org/show_bug.cgi?id=1514861

[2018-12-18 06:57] karlcow commented on #33
## 2018-12-18
 Basically done. A just rogue pull request where one test is failing in Chrome. I'm not sure why.
I will create a new branch and recreate a PR to clean up the cache of circleci

[2018-12-18 06:58] karlcow commented on #38
## 2018-12-18
Probably done. Only one remaining bug to diagnose by @wisniewskit

[2018-12-18 10:30] denschub commented on #41
All interventions landed in [bug 1512907](https://bugzilla.mozilla.org/show_bug.cgi?id=1512907) and didn't get backed out, so this is looking good. As we defined the rollout-to-release process as a separate step, this is done. 🎉

[2018-12-18 10:40] denschub commented on #40
Cross-referencing [bug 1515005](https://bugzilla.mozilla.org/show_bug.cgi?id=1515005), which I filed to track the completion of this work on Bugzilla, so people who want to get rid of the old update mechanism have a bug to depend on. :)

[2018-12-18 14:08] miketaylr commented on #27
Mike to link final report

[2018-12-18 14:15] wisniewskit commented on #44
Due to a sneak-attack bug with the webcompat reporter, I've been delayed and doubt I'll finish this before the quarter is done.

[2018-12-18 21:37] miketaylr commented on #32
Patch submitted: https://phabricator.services.mozilla.com/D14899

[2018-12-19 01:00] karlcow commented on #38
[Remaining issue](https://github.com/webcompat/web-bugs/issues/19240)

[2018-12-19 22:06] miketaylr commented on #38
And we're done now. 🎉

[2018-12-21 18:20] miketaylr commented on #32
Status: done! Landed all the relevant patches, but we'll need a re-deploy on webcompat.com, which will happen in the new year.

[2018-12-21 18:22] miketaylr commented on #60
(this is done!)

[2018-12-21 18:22] #60 closed

[2018-12-21 18:50] miketaylr opened #69 "2019-Q1 2.3 - Ship interventions (site patches) to entire Firefox population (Release, Beta, Nightly) via gofaster"
Follow up work from https://github.com/mozilla/webcompat-team-okrs/issues/41.

We have 24 in Nightly already.

[2018-12-21 19:00] miketaylr opened #70 "2019-Q1 2.4 Ship 1 site patch to fix a -webkit-scrollbar site bug, shimmed on top of CSS Scrollbars."
See https://bugzilla.mozilla.org/show_bug.cgi?id=1432935#c6 and https://github.com/mozilla/webcompat-addon/pull/33

This should also help us hit our goal in https://github.com/mozilla/webcompat-team-okrs/issues/69.

[2018-12-21 19:02] miketaylr commented on #51
Oops, I just filed a dupe of this.

[2018-12-21 19:02] #51 closed

[2018-12-21 19:20] magsout commented on #48
👍 /claim

[2019-01-07 19:11] magsout commented on #48
- [ ] front-end refactoring

[2019-01-08 15:01] magsout commented on #49
I can help if needed to display the data

[2019-01-14 19:48] miketaylr commented on #42
We're tackling this in Q12019.

[2019-01-14 19:49] miketaylr commented on #47
(Going to score this as 0.3, because some work did happen.)

[2019-01-14 19:50] miketaylr commented on #29
Status: Adam and I met before the end of the quarter and came up with a decent proposal, and scored some sites. We'll continue this in Q12019.

[2019-01-15 04:45] adamopenweb commented on #69
Documented a plan for this. Reaching out to RyanVM to kick off the process.
https://docs.google.com/document/d/1PIRGJrqrQ9ngsLrSdf6Qz9PU4IBkMgW8jV7xuqkHRb8/edit?usp=sharing

[2019-01-15 13:44] denschub commented on #70
Update: The Code by Xidorn *is* already for the WebExtension, so my mind played me a trick here. It seems to be working for the case mentioned in the bug (#12356), but not for others, so we'd have to define what exactly we want to achieve (what sites to target and/or what kind of errors to address).

[2019-01-15 14:07] laghee commented on #48
Update: getting back up to speed on what's todo and where to start with database re-tool. Will check in with @karlcow when he's back on his feet.

[2019-01-15 14:07] miketaylr commented on #63
Update: 9 / 10 bugs to go.

[2019-01-15 14:09] miketaylr commented on #53
Status update: we met, and discussed the goals of the thing.

[2019-01-21 22:40] marimeireles commented on #61
* Finished measurements related to the server;
* Tried to improve XHR loading but got to the conclusion that's not worthwhile or maybe not even possible;
* Fixed the test mode bug;
* Finished blog post;
* Started to try to render the server using python instead of relying on js only, ran some tests. Didn't get any meaningful result, so I'll try to adapt more code to see if it has an improvement;

[2019-01-24 06:45] karlcow commented on #48
Make progress on this today.
Added a scheduler with a script to fetch the data count for any milestones. Next step will be to actually store them in a DB so we can get rid of our hackish server data request on @karlcow and @laghee servers.

[2019-01-25 13:02] marimeireles commented on #61
* Fix code bug

[2019-01-29 13:45] softvision-sergiulogigan commented on #67
January 29 update:

55/230 websites tested
25 new issues found

[2019-01-29 14:00] adamopenweb commented on #69
Haven't heard back from Ryan as of yet, sent a follow up message.

[2019-01-29 14:06] laghee commented on #48
Discussion on how to shape the database is in progress. https://github.com/webcompat/webcompat-metrics-server/issues/67

[2019-01-29 14:11] wisniewskit commented on #53
Status update: I have a working prototype pretty much ready, and now I'm figuring out the last bits of integrating it with our existing addon.

[2019-01-29 14:12] wisniewskit commented on #63
Update: still 9 / 10 to go.

[2019-01-29 14:24] denschub commented on #70
Update: No new progress in the last 2 weeks, because of other GoFaster-related work, and diagnosis.

[2019-01-29 14:27] miketaylr commented on #63
@karlcow closed some of the bugs recently because the issue as reported does not exist on the sites anymore. But the issues still exist in Marfeel.

[2019-01-30 20:51] jgraham commented on #66
The "want" item here at least somewhat overlaps something I'm working on. My goal is to get information about interop problems in front of engineers so they are able to triage problems efficiently. The primary way of doing that is to develop a UI which shows cases where we don't match Chrome / Safari and which allows annotating results with bugs (and filtering by annotation). So the work in progre

[2019-01-30 21:23] #27 closed

[2019-01-30 21:23] #28 closed

[2019-01-30 21:23] #29 closed

[2019-01-30 21:23] #30 closed

[2019-01-30 21:23] #32 closed

[2019-01-30 21:23] #33 closed

[2019-01-30 21:23] #34 closed

[2019-01-30 21:23] #35 closed

[2019-01-30 21:23] #37 closed

[2019-01-30 21:23] #38 closed

[2019-01-30 21:23] #40 closed

[2019-01-30 21:23] #41 closed

[2019-01-30 21:23] #42 closed

[2019-01-30 21:23] #43 closed

[2019-01-30 21:23] #44 closed

[2019-01-30 21:23] #45 closed

[2019-01-30 21:23] #47 closed

[2019-01-30 21:24] #68 closed, assigned to nobody

[2019-02-01 18:43] wisniewskit commented on #53
Status update: I have a patch waiting for review/discussion in the bug. I suspect we will need changes to at least the copy and layout of the desktop page, along with any changes related to review feedback.

[2019-02-12 11:37] marimeireles commented on #61
* Using flask-firehose to make pushes from python;
* Tested webcompat.com security;
* Finished what I had planned to render in python but there are some architecture problems that need to be fixed in order to land it.

[2019-02-12 12:15] denschub commented on #70
Update: Rebased and slighly modified the code and added some generic documentation in https://github.com/mozilla/webcompat-addon/pull/45.

[2019-02-12 12:31] karlcow commented on #58
No progress since last time, but likely to work on it this week or next week.

[2019-02-12 12:32] karlcow commented on #48
@laghee finished her script. We need to plug a DB. We have the schema, we just need to dive in…

[2019-02-12 13:13] softvision-sergiulogigan commented on #67
February 12 update:

186/230 websites found
62 issues found

[2019-02-12 13:59] adamopenweb commented on #69
Held kick off meeting on 2/8/2019.

- Adjusted plan slightly to only ship urgent patches through GoFaster mechanism, lower priority patches can ride the trains
- Release and QA are on-board with our plan
- Dennis[ added two patches](https://github.com/mozilla/webcompat-addon/pull/44) for an initial test
- Meeting scheduled for 2/12/2019 to discuss complications of add-on versions

[2019-02-12 14:03] wisniewskit commented on #53
Status update: I think I'm done with the first round of reviews. The l10n bits seem close, the rest I'm not as sure about but I'm not seeing any blockers other than reviews.

[2019-02-12 14:03] wisniewskit commented on #63
Status update: no new progress.

[2019-02-12 16:25] miketaylr commented on #69
Filed https://bugzilla.mozilla.org/show_bug.cgi?id=1527352 for our test interventions that will be shipped to release.

[2019-02-12 16:39] denschub commented on #70
To avoid having unnecessary trouble with merge conflicts, let's pause working on this until both our prototype-rollout-to-release is done, and the work on `about:compat` has been merged.

[2019-02-15 10:25] softvision-sergiulogigan commented on #67
February 15 update:

230/230 websites tested
75 total issues found

1st pass-through is completed. It took 19 working days.
We will start the next pass-through on the 4th of March.

[2019-02-18 02:05] moz-hwine opened #71 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- Restricting write access to contributors is strongly encouraged.  Please [make that change](https://github.com/mozilla/webcompat-team-okrs/settings)  ([documentation](https://help.github.com/articles/changing-access-permissions-for-wikis/)).

These were made as the result of a recent automated defa

[2019-02-19 13:55] marimeireles commented on #61
* Fixed all regressions caused by Markdown-it;
* Optimized our use of Favicons;
* Added a few improvements to how we render text.

[2019-02-25 22:42] adamopenweb commented on #69
Update:
- Patches were approved by QA
- Held a meeting with Ritu and mythmon to discuss shipping to release options
- Received approval to ship our test patches to 100% release population
- Sent Intent to Ship email, waiting for approval

[2019-02-26 08:20] karlcow commented on #48
So we are approaching the end. @laghee is doing a **major work there**.

* DB is working
* We started to gather the data for two sets

Next steps:
* test by plugging a route to the DB
* then if it's working, importing the old data in the DB
* and plug the old routes to the DB.

[2019-02-26 08:21] karlcow commented on #58
no progress there yet.

[2019-02-26 13:12] marimeireles commented on #61
* Testing which is the best way to compress stuff;
* Testing if we should fetch fonts from our server instead of google's;
* Trying to fix the one last regression bug.

[2019-02-26 13:24] denschub commented on #52
Updated: I started digging into the current implementation, build some prototypes for architectural changes and started doing some planning. There will be some shareable progress at the next OKR checkup!

[2019-02-26 13:58] miketaylr commented on #66
Update: still in progress. Working on cleaning up some CSS data now.

[2019-02-26 14:00] wisniewskit commented on #53
Status update: about:compat just landed, so hopefully it sticks and we're done here.

[2019-02-26 14:02] wisniewskit commented on #63
Status update: no updates yet, but now that about:compat has landed, the hope is that I'll be free to focus on this.

[2019-02-26 14:06] miketaylr commented on #66
https://docs.google.com/spreadsheets/d/1z7vwzL4fmvSd8pvFpwf-o5_s1HaRN0ci5UFatnW9CaE/edit#gid=1980197261

[2019-03-01 22:32] CajuM commented on #25
Will the public at large get that report and csv?

[2019-03-12 00:26] wisniewskit commented on #63
Status update: was stuck on diagnosis duty, didn't find the time to dig into these yet.

[2019-03-12 12:14] laghee commented on #48
@karlcow merged my test route, so that is now set up. The endpoint does a database query and returns needsdiagnosis data according to selected params and works from the server side (e.g., https://webcompat-metrics.herokuapp.com/data/needsdiagnosis-dbtest?from=2019-02-26&to=2019-03-11)

But something in the configuration isn't quite right (possibly either an integer vs. string or param-handling iss

[2019-03-12 12:43] softvision-sergiulogigan commented on #67
March 12 update:

2nd run
105/230 websites tested
22 issues found

[2019-03-12 12:57] miketaylr commented on #49
Experimenting with ideas this week.

[2019-03-12 12:57] miketaylr commented on #66
Update: still working on the CSS side of things. Tim Smith is working on getting some historical values.

[2019-03-12 12:58] miketaylr commented on #53
Note: submitted a PI request for this to ride the trains in 68.

[2019-03-12 13:01] denschub commented on #69
Rollout happened in [bug 1527352](https://bugzilla.mozilla.org/show_bug.cgi?id=1527352), landing the patches in tree happened in [bug 1532346](https://bugzilla.mozilla.org/show_bug.cgi?id=1532346), sooo this is done! 🎉

[2019-03-12 13:08] karlcow commented on #58
Working on this tomorrow. I need to discuss with @wisniewskit on how to detect something on the reporter side.

[2019-03-12 13:21] miketaylr commented on #61
Update: let's call this done! 🎉 🐕

[2019-03-13 06:59] karlcow commented on #58
@wisniewskit ok thomas, this seems to work on site I have tried. tell me if it makes sense and if it can be easily incorporated to the Report Site Issue button feature.
https://gist.github.com/karlcow/90cae56b651e0561b1a038262c01b95b

the goal is to add a keyword in the form, that we can parse on webcompat.com side and do whatever we want with it. (extra_labels)

It also shows in the console with

[2019-03-13 07:33] karlcow commented on #58
I also realized something about fastClick. They do have a notNeeded function
https://github.com/ftlabs/fastclick/blob/7e400d112947c7edfcc377d9ef6b0057a7f20bd4/lib/fastclick.js#L796-L806

which is testing user agents, there is a case for Firefox.

[2019-03-13 07:34] karlcow commented on #58
[code]

[2019-03-13 20:21] wisniewskit commented on #58
Yes, I think we can add that to the reporter's `browser.tabExtras.getWebcompatInfo` [experimental API](https://searchfox.org/mozilla-central/source/browser/extensions/webcompat-reporter/experimentalAPIs/tabExtras.js#11),  as part of its `getInfoFrameScript` function. The code probably would not need to change too much, in fact.

[2019-03-13 21:27] miketaylr commented on #58
Good find.

`FastClick.notNeeded`, if it's accessible via the global, we could write interventions to disable it for sites that were important enough.

[2019-03-14 18:58] miketaylr commented on #70
Not currently blocked anymore.

[2019-03-15 22:26] denschub commented on #70
PR with two interventions landed in our repo: https://github.com/mozilla/webcompat-addon/pull/48, central landing will be attempted next week (it's code freeze time right now).

[2019-03-20 00:01] karlcow commented on #58
@wisniewskit deployed The FastClick detection script into the "Report Site Issue" https://bugzilla.mozilla.org/show_bug.cgi?id=1535479
This should be available soon in Firefox Nightly.

I opened for the server side.
https://github.com/webcompat/webcompat.com/issues/2823

We are almost done.

[2019-03-20 17:14] laghee commented on #48
Basic DB query endpoint now works with client side requests.

Since we're down to 10 days on this and the OKR as stated doesn't actually merging the old data from `needsdiagnosis` and `weeklyreports`, I'm thinking I'll address the data migration and updates to existing routes after I add in the structure for the three new dashboards. That way we can count this as done as soon as those are working,

[2019-03-25 12:44] softvision-sergiulogigan commented on #67
March 25 update:

2nd run
230/230 websites tested
38 total issues found

2nd pass-through is completed. It took 16 working days, approximately 4 man hours per day.

[2019-03-26 07:27] karlcow commented on #58
Once this is reviewed. We are done.
https://github.com/webcompat/webcompat.com/pull/2824

[2019-03-26 12:30] laghee commented on #48
I was delayed a bit wrangling (high-maintenance 😜) visiting family members, but I'm going to power through the remaining tasks here in the next couple of days.

[2019-03-26 13:05] denschub commented on #70
Done. Landed to the tree in [bug 1536767](https://bugzilla.mozilla.org/show_bug.cgi?id=1536767).

[2019-03-26 13:06] wisniewskit commented on #63
Still no real progress, was stuck on other things.

[2019-03-26 13:10] miketaylr commented on #48
Awesome!

[2019-03-29 00:47] miketaylr commented on #49
Draft write-up with links here: https://docs.google.com/document/d/1U88cs6pVU08Heunx4_6SjHEkIAvMuGYC2tegG6Tm0v0/edit#heading=h.km363ecwck1s

I think we can call this one done 🎉

[2019-03-29 00:50] miketaylr commented on #66
Working on a summary here: https://docs.google.com/document/d/1NUT7payR3FTN3xykVjH0w9KqeeCsRhZ-u6ZjWH23wTs/edit#

[2019-03-29 20:13] laghee commented on #48
OK, depending on how we / @miketaylr / the powers that be want to judge things... we could possibly call this done (at least superficially):
![Screenshot 2019-03-29 21 04 57](https://user-images.githubusercontent.com/20972610/55259573-56ec9d80-5266-11e9-8e2c-534dbe7660ac.png)
The database exists and is slowly filling up with counts (older data still to be ported in). The framework for DB-query-bas

[2019-03-30 06:50] Mozilla-GitHub-Standards opened #72 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-04-01 21:18] miketaylr commented on #48
This is so cooooooool @laghee. Thank you and @magsout and @karlcow.

[2019-04-02 15:45] miketaylr commented on #69
Note: I want to investigate if Balrog -> Fennec actually works. It got QA signoff, but I never saw the update.

[2019-04-02 15:49] miketaylr commented on #70
Scoring at 0.3 because this turned out to be a lot simpler than we anticipated. :)

(that's a good thing)

[2019-04-02 22:18] miketaylr commented on #70
actually no, let's score this as 0.7. 🎉

[2019-04-02 22:32] miketaylr commented on #53
edit: This should land in Nightly in this quarter. We would like it to ride to release.

[2019-04-08 21:05] #48 closed

[2019-04-08 21:05] #49 closed

[2019-04-08 21:05] #52 closed

[2019-04-08 21:05] #53 closed

[2019-04-08 21:05] #58 closed

[2019-04-08 21:05] #61 closed

[2019-04-08 21:05] #63 closed

[2019-04-08 21:05] #66 closed

[2019-04-08 21:05] #67 closed

[2019-04-08 21:05] #69 closed

[2019-04-08 21:05] #70 closed

[2019-04-08 21:05] #71 closed

[2019-04-08 21:05] #72 closed

[2019-04-08 21:11] miketaylr opened #74 "2019Q2 - 1.1 Platform Gap prototype improvements"
Building on #66 this KR covers implementing a revised plan for a platform gap measurement.

I'll add TODOs later, but here's the overall plan:

[code]

[2019-04-08 21:14] miketaylr opened #75 "2019Q2 - 1.2 Implement proposed changes to bug data scraper (for site compat index)"
No bugs filed yet, but see the list of items at https://docs.google.com/document/d/1U88cs6pVU08Heunx4_6SjHEkIAvMuGYC2tegG6Tm0v0/edit#.

[2019-04-08 21:17] miketaylr opened #76 "2019Q2 - 1.3 Create a regular process to verify sitewait bugs"
<s>We'll continue measuring site compat index (#49) into Q2, for Desktop and Mobile, by gathering known bug data monthly in Q2 (only once for Tier 1 status, at the end of the quarter).

Note, for the Tier 1 stuff, we want a lightweight process here. It should not take longer than a week (ideally).

This depends on #75.</s>

**Update!**
We want to verify sitewait bugs on a regular basis, and determ

[2019-04-08 21:19] miketaylr opened #77 "2019Q2 - 2.1 Google Images Tier 1 QA"
* Perform Exploratory Mobile QA for Google images results while spoofing as Chrome Mobile
* Write up a report with list of bugs and possible next steps

Note: we'd like to time-box this to 3 days.

[2019-04-08 21:21] miketaylr opened #78 "2019Q2 - 2.2 Bing QA"
Let's do some QA for bing.com, on GeckoView-powered mobile devices or tablets.

Similar to #77, this should also be time-boxed to <s>something like 1 week.</s> 1.5 days.

[2019-04-08 21:23] miketaylr opened #79 "2019Q2 - 2.3 Mobile framework detection & tagging"
Just like #64, this KR covers figuring out detection of Mobify and Marfeel so we can understand how prevalent these sites are for our users.

[2019-04-08 21:26] miketaylr opened #80 "2019Q2 - 3.1 Fix remaining -webkit-scrollbar issues via sitepatching"
Follow up to #70.

[2019-04-08 21:29] miketaylr opened #81 "2019Q2 - 3.2 Explore integration of intervention capabilities in Fenix"
Note: There's a dependency on GeckoView web extensions capabilities here.

However, the point of this is to investigate what we need to ship this and write up a spec. Do we have all the WebExtension APIs we need? Do we need Balrog compatibility? Do we need something else?

[2019-04-08 21:35] miketaylr opened #82 "2019Q2 - 3.3 Ship site patch to fix PDK5 library-powered video playback on mobile"
See https://github.com/mozilla/webcompat-addon/issues/43

[2019-04-08 21:36] miketaylr opened #83 "2019Q2 - 4.1 Python 3 compatibility"
webcompat.com master should be able to run by `python3`.

[2019-04-08 21:37] miketaylr opened #84 "2019Q2 - 4.2 Python 3 on staging"
We would like to have staging run the Python 3 version of webcompat.com

[2019-04-08 23:02] karlcow commented on #83
The core of the work is currently done in
* Pull Request https://github.com/webcompat/webcompat.com/pull/2825
* Issue https://github.com/webcompat/webcompat.com/issues/2348

Some peripheral issues have been fixed on the current master to prepare for this such as:

* https://github.com/webcompat/webcompat.com/issues/2828

This is also part of https://github.com/webcompat/webcompat.com/projects/4

[2019-04-08 23:09] karlcow commented on #79
I can probably help  and work with @wisniewskit on this.

[2019-04-09 07:47] softvision-sergiulogigan commented on #77
CC @cipriansv

[2019-04-09 07:47] softvision-sergiulogigan commented on #76
CC @cipriansv

[2019-04-09 07:48] softvision-sergiulogigan commented on #78
CC @cipriansv

[2019-04-15 07:11] karlcow commented on #79
## Marfeel

This is mostly easy to detect.

* Client side: https://bugzilla.mozilla.org/show_bug.cgi?id=1544358
* Server side: https://github.com/webcompat/webcompat.com/issues/2844

## Mobify

* Client side: https://bugzilla.mozilla.org/show_bug.cgi?id=1544359
* Server side: https://github.com/webcompat/webcompat.com/issues/2845

[2019-04-15 07:31] karlcow commented on #79
Some preliminary thoughts on https://bugzilla.mozilla.org/show_bug.cgi?id=1544358#c1

[2019-04-16 13:08] miketaylr commented on #77
TODO: Mike, can we get manual QA steps from Google for this property?

[2019-04-18 20:42] miketaylr commented on #78
Working on a test document, hoping to have it ready by tomorrow EOD so we could start on this at some point next week.

[2019-04-25 21:04] miketaylr commented on #74
@wisniewskit and I are in the planning phases now.

Scratchpad for ideas: https://docs.google.com/document/d/1geajrOt9hEdz8cUZl1jP5aYApD8RShIKiG-Fhib54so/edit#

[2019-04-25 21:56] miketaylr commented on #78
Update: we've requested devices be shipped to SoftVision, it turns out you can't just send stuff from amazon.com to Romania  -- I think they've already been ordered to the Berlin office, then will head over to Florin.

[2019-04-26 15:57] miketaylr commented on #76
TODO, for scraper:

* [ ] Stable links to duplicates on Bugzilla
* [ ] Tracking numbers weekly
* [ ] Split out desktop and mobile bugs
* [ ] Come up with a convention for excluding irrelevant bugs from the Fresh bugs list
* [ ] Come up with a convention to include bugs older than 1 year in the Fresh bugs list
* [ ] Consider how to represent valid webcompat issues from the “rest of web”
* [ ] Open

[2019-04-26 16:03] miketaylr commented on #76
@adamopenweb do you remember what we meant here? I may have forgotten. >_>

[2019-04-26 20:59] adamopenweb commented on #76
The site compat index focuses on top sites. We weren't sure how this would be valuable but to include the other billion web bugs we get from non-top sites.

[2019-04-28 23:22] karlcow commented on #79
btw we could start tracking AMP

[code]

[2019-04-29 17:35] miketaylr commented on #77
Probably related, https://github.com/webcompat/web-bugs/issues/29676

[2019-04-30 13:12] denschub commented on #80
Worked on some patches last week, but got stopped by PTO. :)

[2019-05-01 15:00] miketaylr commented on #75
TODO, for scraper and process:
First:

* [x] Tracking numbers weekly
* [x] exclude meta keyword
* [x] Come up with a convention for excluding irrelevant bugs from the Fresh bugs list
* [x] Come up with a convention to include bugs older than 1 year in the Fresh bugs list
* [x] Ensure we’re only capturing Firefox bugs from webcompat.com
* [x] Include site rank into weighting
* [x] Treat dupes as re

[2019-05-01 15:03] miketaylr commented on #75
Irrelevant bugs:

Let’s use a whiteboard [webcompat-index-exclude] (we can convert to keyword later, if we find it’s used that much).

Older, relevant bugs:

Let’s go with [webcompat-index-include] whiteboard.

[2019-05-13 20:55] miketaylr commented on #74
Update: we're coordinating with Data Science on this.

Latest summary of the work is here: https://docs.google.com/document/d/1Z8342mn221l-_XHNBdY-pWGmrtsbzFgdu7sCNZI5i6A/edit

[2019-05-13 21:00] miketaylr commented on #75
Update: Tom has helped move this along last week, porting the dupe stuff to Python and some other fixes related to time ranges.

[2019-05-13 21:00] miketaylr commented on #78
Update: Devices received and test plan sent to SoftVision crew.

[2019-05-14 06:20] karlcow commented on #83
## 2019-05-14
The current python 3 branch is passing all the tests and I keep it in sync with master as much as possible.  We need to install Python 3 on staging. Waiting for a snapshot from Mike as a backup, before breaking everything. So we may expect turbulences on staging.

[2019-05-14 06:27] karlcow commented on #79
## 2019-05-19
No specific progress here, but I think we have all the gears in place for activating this.

[2019-05-14 12:54] softvision-sergiulogigan commented on #77
50% done.
Much results, many success.
https://github.com/webcompat/web-bugs/issues?utf8=%E2%9C%93&q=sv%3B+gi

[2019-05-14 13:01] wisniewskit commented on #82
I have an in-progress patch for the reporter addon which seems to work fine, so I should be starting the review cycle on it soon.

[2019-05-14 13:17] denschub commented on #80
New patches are basically ready to land, except for the Discord bug, which needs some more fine-tuning to fix a white line that appears...

[2019-05-14 13:26] miketaylr commented on #81
Should have an update for the next meeting.

[2019-05-21 22:11] miketaylr commented on #82
This just landed, thanks @wisniewskit!

[2019-05-24 12:11] softvision-sergiulogigan commented on #78
Achievement unlocked!

We allocated half a day each for this activity, and came up with 21 issues logged, in total.

You can find them here: https://github.com/webcompat/web-bugs/labels/type-bing-interop

We also updated the document with our findings and tested areas: https://docs.google.com/document/d/1WZDtmmqq-XMMDHVnh50h_XJ38SAJxYJdFPgoClXWppA/edit#.

[2019-05-24 12:14] softvision-sergiulogigan commented on #78
Also, here is @ksy36's comment on the differences of layouts:

`I believe the root cause of the issue is that the site is displaying a mobile version for Firefox on Android and a desktop version for Chrome for the same device. `

https://github.com/webcompat/web-bugs/issues/31619#issuecomment-494965485

[2019-05-28 13:02] denschub commented on #80
Patches are done and working, waiting for Tom to merge the new changes to our repo.

[2019-05-28 13:03] denschub commented on #81
Snorp is investigating, I have an experimental Fenix build that can do UA overrides via our extension, but not much else. We will continue investigating that.

[2019-05-28 13:08] softvision-sergiulogigan commented on #77
reping @miketaylr

[2019-05-28 13:16] miketaylr commented on #83
This is done.

[2019-05-28 20:08] wisniewskit commented on #79
@karlcow, are you sure that those are the variables we would use to track AMP? I'm seeing no such variables on AMP pages, though there is apparently [something related](https://www.oreilly.com/library/view/amp-building-accelerated/9781786467317/545cea4c-dc83-4855-91ae-fdfabd4bd70b.xhtml) called "Shadow AMP" that uses them?

[2019-05-28 20:42] karlcow commented on #79
`AMP` not being part of the original issue. If there is doubt we can wait a bit we have a better assessment.

[2019-05-28 20:43] karlcow commented on #79
I meant, we move forward without AMP. 😄

[2019-05-28 20:47] wisniewskit commented on #79
That makes sense to me, but just to be precise: if we're happy only detecting "Shadow AMP", Ksenia and I can add that while we're writing a patch. I just wanted to be sure it was worth bothering, since I don't personally know of any live sites using `window.AMP`/`window.AMP_MODE`.

[2019-05-28 21:20] karlcow commented on #79
Many sites, I don't know if it's all sites. They usually do two things.
They sport a variation of

`Powered by AMP ⚡ HTML – Version 1905140117570`
and have `window.AMP`
Examples from 2019-05-23 to 2019-05-28:
* https://www.wfsb.com/news/uconn-student-killed-in-mansfield-crash/article_914a5802-7dc0-11e9-a904-c73ee9014186.amp.html
* https://www.foxnews.com/entertainment/michael-d-cohen-transition-fe

[2019-05-29 21:20] wisniewskit commented on #80
Sorry for the delay! I've just merged a roll-up patch in https://github.com/mozilla/webcompat-addon/pull/52, so the code matches what's currently in mozilla-central.

[2019-05-30 19:41] miketaylr commented on #77
@softvision-sergiulogigan the contact I had no longer works at Google (who gave us the earlier stuff), so I recommend we proceed without manual QA steps.

[2019-05-31 07:32] softvision-sergiulogigan commented on #78
The testing session is not valid, due to https://github.com/mozilla-mobile/fenix/issues/1848
We should retest this after the mentioned issue is fixed.

[2019-05-31 17:58] miketaylr commented on #78
I don't think I agree with that entirely! Y'all identified that an important site depends on that bug, which we really didn't know before. We can re-test at a later date though, agreed.

[2019-06-07 13:51] softvision-oana-arbuzov commented on #77
100% done.

Results: https://github.com/webcompat/web-bugs/issues?utf8=%E2%9C%93&q=sv%3B+gi

[2019-06-07 13:53] miketaylr commented on #77
Thank you!

[2019-06-07 18:34] miketaylr commented on #76
Please see the email to the compatibility mailing list to understand the edits here. Thanks!

[2019-06-10 05:24] karlcow commented on #83
## 2019-06-10

Status:
* Python 3.7.1 is installed on staging
* nginx and uwsgi can work with python 3 (configuration files checked)
* source code is able to run on python 3 without issues.

I ran an instance of staging.webcompat.com with Python 3 code.

So everything is able to run.

I need to square the deployment file to see if we can basically deploy everything (2348/1 branch aka python3 /futu

[2019-06-10 05:25] karlcow commented on #84
This is basically done. It's working currently today.

[2019-06-11 12:44] miketaylr commented on #74
Since we've effectively handed off to the Data Science team, I'm going to mark this as complete. There will probably be coordination bits still yet to come, and I'll update here if anything significant happens.

[2019-06-11 12:46] miketaylr commented on #75
Update: getting pretty close. The main thing left is probably splitting out desktop v mobile (besides the in-flight PR/bugwork.

Also, we rewrote this in JS and it lives here now https://github.com/past/tsci

[2019-06-11 12:52] denschub commented on #80
PR at https://github.com/mozilla/webcompat-addon/pull/53

[2019-06-11 12:52] denschub commented on #81
We have an idea, we have lots of APIs that should work, *and* we have a hack-session with some Fenix/Android Components folks scheduled for Whistler. :) Also, Tom did a lot of code investigation.

[2019-06-11 13:13] softvision-sergiulogigan commented on #76
June 11 update:
Sitewait - Critical
55/75 issues verified.
25 issues closed as Fixed.

[2019-06-25 11:36] cipriansv commented on #76
June 25 update:

Sitewait - Critical
75/75 issues verified
28 issues closed as fixed

Sitewait - Important
124/124 issues verified
54 issues closed as fixed

Sitewait - Minor
42/67 issues verified - Will be done by the end of the week
23 issues closed as fixed so far

Sitewait - None (no severity label)
0/379 issues verified

[2019-06-25 11:49] denschub commented on #81
There isn't much to say here. The general feedback of everyone is "just do it". I've noted down a couple of things [here](https://docs.google.com/document/d/1pZiICD87B2MYAbY5vZNjAF-FyUcgPMs-cnLAGOKYxmo/edit?usp=sharing), and I assume this document will get updated in the future, but we have a very good idea of how to progress here. :)

[2019-06-25 13:13] miketaylr commented on #80
landed on github, going to try to land this in m-c.

[2019-06-26 14:56] miketaylr commented on #75
Found a bug: https://github.com/past/tsci/pull/57 (but just merged it in). Re-running the data.

[2019-06-27 03:12] miketaylr commented on #76
I'm gonna move this to done, since we got to the importants.

[2019-06-28 22:36] miketaylr commented on #75
With https://github.com/past/tsci/pull/68, I think we can call this one done.

[2019-07-01 19:51] miketaylr commented on #83
Really great work by @karlcow here. ❤️

[2019-07-01 19:53] miketaylr commented on #79
@ksy36  @wisniewskit did we end up tracking window.AMP here? or just mobify and marfeel

[2019-07-01 21:24] karlcow commented on #79
just mobify and marfeel.

[2019-07-03 15:14] miketaylr commented on #79
cool, thanks

[2019-07-03 15:16] miketaylr commented on #74
Unsure if 0.3 is the right score, but progress did not happen in the way we wanted (because it was handed off, and nothing has happened since). We did do the planning work, however, so not setting a lower score.

[2019-07-08 19:36] #74 closed, assigned to miketaylr, wisniewskit

[2019-07-08 19:36] #75 closed, assigned to miketaylr

[2019-07-08 19:36] #76 closed, assigned to miketaylr, softvision-oana-arbuzov, softvision-sergiulogigan

[2019-07-08 19:36] #77 closed, assigned to softvision-oana-arbuzov, softvision-sergiulogigan

[2019-07-08 19:36] #78 closed, assigned to softvision-oana-arbuzov, softvision-sergiulogigan

[2019-07-08 19:36] #79 closed, assigned to wisniewskit, karlcow, ksy36

[2019-07-08 19:36] #80 closed, assigned to skyschub

[2019-07-08 19:36] #81 closed, assigned to skyschub, wisniewskit

[2019-07-08 19:36] #82 closed, assigned to wisniewskit

[2019-07-08 19:36] #83 closed, assigned to karlcow

[2019-07-08 19:36] #84 closed, assigned to nobody

[2019-07-08 19:37] miketaylr opened #85 "2019Q3 - 1.1 Continue prototyping Platform Gap proposal from Q2"
* Complete engineering work and validate Platform Gap metric proposal.
* Goal is reliable data source for delta between Gecko and Blink rendering engines.

[2019-07-08 19:37] miketaylr opened #86 "2019-Q3 - 1.2 Ship automated dashboard of week over week results for Site Compat Index metrics"
Automate visualization of Site Compat Index weekly results to measure improvements over time.

[2019-07-08 19:38] miketaylr opened #87 "2019Q3 - 1.3 Identify and associate Web Platform Tests for top 10 Webcompat tracked core Bugzilla bugs"
(Try to) Establish link between most common web compat issues and failing WPTs.

Let's keep track of how long it takes us, and if we find WPT tests, drop a link to them in a comment in the bug.

[2019-07-08 19:38] miketaylr opened #88 "2019Q3 - 2.1 Bundle WebCompat System Addon (Web Extension) in Fenix"
Enable website interventions, resolving mobile compatibility issues, in Fenix.

[2019-07-08 19:39] miketaylr opened #89 "2019Q3 - 2.2 Ship 25 interventions for important sites (with focus on Fenix and EU)"
* Prioritize and ship interventions in Fenix (desktop counts here too)
* Focus on EU websites to support Android browser selection in EU.

[2019-07-08 19:39] miketaylr opened #90 "2019Q3 - 3.1 Google tier 1 Search Experiment in Fennec"
* Conduct experiment in Fennec Nightly, spoofing the user agent as Chrome to get Tier 1 Google search.
* <s>Investigate any reported issues and flag core interop bugs with respective engineering teams.</s>

edit: the scope of this kinda changed during the quarter. It evolved into a Fennec experiment, and I think we were hoping to have an analysis done by the end of Q1. We won't get that, but it lo

[2019-07-08 19:40] miketaylr opened #91 "2019Q3 - 3.2 Develop regular QA process for manual verification of deployed interventions and do it once"
Ensure deployed website interventions in Firefox are still required and providing the expected result for the user.

[2019-07-08 19:40] miketaylr opened #92 "2019Q3 - 4.1 TLS 1.0 Deprecation Outreach"
Connect with priority websites that rely on TLS 1.0. Alert them to upcoming TLS 1.0 deprecation across browsers.

[2019-07-08 19:40] miketaylr opened #93 "2019Q3 - 5.1 Explore private issue reporting for webcompat.com"
Determine requirements and constraints to allow for private bug reports and an option for users to provide their contact information in a secure and privacy preserving manner.

[2019-07-08 19:41] miketaylr opened #94 "2019Q3 - 5.2 Ship Python 3 migration to Production environment"
Future proof Webcompat.com code through shipping Python 3 updates.

[2019-07-08 19:41] miketaylr opened #95 "2019Q3 - 5.3 Ship prototype of ML-backed tool for identifying invalid and duplicate issues at triage-time (collab with Open Innovation)"
Support Open Innovation in the creation of a tool to automate parts of the triage process on Webcompat.com.

[2019-07-08 20:00] karlcow commented on #94
The plan is to

# option A

* [ ] change the deployment script
* [ ] add configuration for  py3-prod on the current staging
* [ ] make sure staging / prod can run on parallel on the same instance
* [ ] merge the py3 branch into master
* [ ] deploy master on current staging in parallel to staging
* [ ] point the DNS to the new prod
* [ ] wait a bit and burn incense
* [ ] reconfigure the older insta

[2019-07-09 12:58] miketaylr commented on #89
List of candidates to choose from: https://github.com/webcompat/web-bugs/labels/type-uaoverride

[2019-07-09 13:19] miketaylr commented on #90
@adamopenweb should we ask our SV crew to also do manual testing here? Or do we just want to run the experiment and collect organic bugs?

[2019-07-09 14:15] miketaylr commented on #88
Update: Dennis is going to take a first stab at this and see what sticks.

@denschub can you write down a rough TODO list here?

[2019-07-09 16:19] miketaylr commented on #87
We can start with these bugs:

Webcompat P1: https://bugzilla.mozilla.org/buglist.cgi?list_id=14793970&o1=equals&v1=P1&f1=cf_webcompat_priority&resolution=---&classification=Client%20Software&classification=Developer%20Infrastructure&classification=Components&classification=Server%20Software&classification=Other&query_format=advanced

Webcompat P2: https://bugzilla.mozilla.org/buglist.cgi?f1=cf_we

[2019-07-09 16:21] miketaylr commented on #87
If there's no wpt, a whiteboard item of `[needs-wpt-?]` can be added.

[2019-07-09 18:47] miketaylr opened #96 "2019Q3 - 3.3 Verify sitewait bugs monthly"
Let's try to verify sitewait bugs 3 times this quarter, once a month and see how it goes in terms of cadence.

[2019-07-10 20:56] miketaylr commented on #90
I chatted with Adam and he recommended we do the following:

* [x] Dig into https://github.com/webcompat/web-bugs/issues/33616, and determine if it's feasible to fix in the experiment addon (and not too much effort)
* [x] Do we have a kill-switch for this? Is there a pref we can Balrog off if things get dicey? (the kill-switch might just be "back it out" since it will be Nightly only)
* [ ] Send a

[2019-07-11 16:21] wisniewskit commented on #90
To reply to the second point, the previous version of the addon had an `about:config` preference: `extensions.gws-and-facebook-chrome-spoof.enabled`. So we could flip that pref in Balrog, yes (though we could back it out as well, or just disable it in the relevant `moz.build` file, whatever it easiest).

[2019-07-11 16:34] adamopenweb commented on #90
Great. The second piece to that is just having the key folks aware, so we can respond quickly if needed.

[2019-07-11 23:00] miketaylr commented on #89
* [x] https://github.com/webcompat/web-bugs/issues/17870
* [x] https://github.com/webcompat/web-bugs/issues/13154

[2019-07-16 01:38] wisniewskit commented on #90
Just a quick update: I've got a candidate patch attached to [bz-1566140](https://bugzilla.mozilla.org/show_bug.cgi?id=1566140), and will get that reviewed and send an intent to experiment notice once we're sure we want to deploy this.

[2019-07-16 01:40] wisniewskit commented on #87
Quick status update: I've gone through the P1 and P2 webcompat bugs, and almost all of them lack what I would classify to be "good" WPT coverage. On the plus side, most of them do seem to have available test-cases in WebKit or Blink which should be portable:

| Priority | Bug | Summary | WPTs? | WebKit/Blink tests? | Notes |
| - | - | - | - | - | - |
| P1 | [1123938](https://bugzilla.mozilla.org/s

[2019-07-16 16:06] ksy36 commented on #89
For the first patch thinking to do these UA overrides:

- [ ] https://github.com/webcompat/web-bugs/issues/25844

- [x] https://github.com/webcompat/web-bugs/issues/16648

- [ ] https://github.com/webcompat/web-bugs/issues/34171

And an intervention:

- [x] https://github.com/webcompat/web-bugs/issues/9102

[2019-07-16 16:10] ksy36 commented on #89
For webcompat/web-bugs#13154 there is an override already in place for Fennec, so we'll get it in Fenix with https://github.com/mozilla/webcompat-team-okrs/issues/88

[2019-07-18 15:11] miketaylr opened #97 "2019Q3 - 3.4 Verify Top 10 TSCI bugs weekly"
Each week, by the end of the week, we should ensure all reports from the top 10 domains are triaged. For triaged bugs, we should ensure the bugs still reproduce. If they don’t, we can close them. If they do, we don’t need to add a comment (which will get noisy over time).

For bugs that are in the sitewait milestone, we should re-test them and close if they are fixed.

(If this can be done in a si

[2019-07-18 15:47] adamopenweb commented on #89
Another site we should consider doing an

- [ ] override: https://github.com/webcompat/web-bugs/issues/15276

[2019-07-18 22:10] miketaylr commented on #89
(Updating the title here, we'll take Desktop interventions too)

[2019-07-19 04:16] miketaylr commented on #89
https://github.com/webcompat/web-bugs/issues/23867 is a good candidate for both desktop and mobile.
(the override does not provide good user experience)

[2019-07-19 04:17] miketaylr commented on #89
- [x] https://github.com/webcompat/web-bugs/issues/22494 is another desktop + mobile intervention.

[2019-07-22 16:49] miketaylr commented on #95
@adamopenweb wrote a PRD here: https://docs.google.com/document/d/1hr23VeuN8k_JXYOdB1lIbDYYdfBu1KOMK6qNM8z6MhY/edit#

In this doc, Milestone 1 is the prototype.

[2019-07-22 23:08] miketaylr commented on #89
* [ ] mobile candidate https://github.com/webcompat/web-bugs/issues/35608

[2019-07-23 13:09] miketaylr commented on #89
Update: in progress, having trouble testing locally. Possibly something is busted on Android?

[2019-07-23 13:10] denschub commented on #88
Some progress: Got the addon sources included into an Android-Component and the build still works. Needs more work on getting the component included into Fenix.

[2019-07-23 13:12] miketaylr commented on #85
Update: Data Science is "DRI" for this work, we're supporting it. Meeting twice a week about this.

[2019-07-23 13:14] miketaylr commented on #86
Update: Need to add blocker bugs here.

[2019-07-23 13:21] miketaylr commented on #92
Update: Wayne Thayer has been in touch with all the major CAs, we're trying to get them data so they can help us on outreach.

[2019-07-23 13:41] miketaylr commented on #97
TSCI driven dev https://docs.google.com/document/d/1R4xzyCqedPrC_kxPMiFkG-Pn4LpKykjwXs8fJWd_yHo/edit#

[2019-07-25 01:43] miketaylr commented on #89
* [ ] desktop candidate https://bugzilla.mozilla.org/show_bug.cgi?id=1560071

[2019-07-26 16:23] ksy36 commented on #89
- [ ] mobile candidate https://github.com/webcompat/web-bugs/issues/36277

[2019-07-26 20:40] ksy36 commented on #89
- [ ] mobile candidate https://github.com/webcompat/web-bugs/issues/4070

[2019-07-26 21:18] miketaylr commented on #90
Engineering plan for this is here: https://docs.google.com/document/d/1-Op4bXuxA2NCKANmvcfj_beYkCVW5WG7V5Gav63OXoI/edit#

[2019-07-26 21:55] miketaylr commented on #89
mobile candidate https://github.com/webcompat/web-bugs/issues/10113
(fixed now)

[2019-07-26 23:42] miketaylr commented on #89
* [ ] mobile candidate https://github.com/webcompat/web-bugs/issues/4201

[2019-07-26 23:48] miketaylr commented on #89
mobile candidate https://github.com/webcompat/web-bugs/issues/3961
(the patch is already in place)

[2019-07-29 15:59] miketaylr commented on #89
* [ ] possible desktop + mobile candidate, will need some testing: https://bugzilla.mozilla.org/show_bug.cgi?id=1243568

[2019-07-29 19:37] ksy36 commented on #89
mobile candidate: https://github.com/webcompat/web-bugs/issues/34760
(has been fixed by the site)

[2019-07-31 02:25] miketaylr commented on #93
Status update: we plan on brainstorming this in Tokyo in September, and writing up our findings.

[2019-07-31 02:59] miketaylr commented on #94
after chatting with @karlcow, option 🅰️ seems pretty good!

[2019-07-31 03:09] miketaylr commented on #85
Update: @adamopenweb is writing up a project timeline, but there are lots of moving pieces here. For now, we're "On Track".

[2019-07-31 03:10] miketaylr commented on #86
Update: I would consider https://github.com/mozilla/tsci/issues/75 and https://github.com/mozilla/tsci/issues/101 to be the only blockers here. And then we need to add an embedded iframe likely to the webcompat metrics page, and run a script on cron to update the spreadsheet. Haven't filed that bug yet.

[2019-07-31 04:41] karlcow commented on #93
@adamopenweb @miketaylr I have a couple of questions with regards to this.  Please respond in the comments here. So we can easily track it.

## FEATURE: allow for private bug reports

1. What is *private bug reports* and its goals?
2. What will *private bug reports* solve?
3. Who is the stakeholder of for the feature *private bug reports*?
4. In case *private bug reports* is deployed, what are the

[2019-08-01 12:33] softvision-oana-arbuzov commented on #91
We've performed testing on the UA overrides and Interventions from `about:compat` on Desktop. Bellow are our results:

*Note:
    **Not Fixed** = still broken while the UA override/Intervention is disabled
    **Fixed** = fixed regardless if UA override/Intervention is enabled or not
    **N/A** = not available/not tested

**[Environment]**
Browser / Version: Firefox Nightly 70.0a1 (2019-07-31)
Op

[2019-08-01 18:48] adamopenweb commented on #90
<s>This KR is currently on hold. </s>

[2019-08-02 21:13] ksy36 commented on #89
- [ ]  mobile + desktop candidate: https://github.com/webcompat/web-bugs/issues/36693

[2019-08-05 00:47] karlcow commented on #94
# OKRs check / 2019-08-06
I spent a chunk of my time related to this last week,  learning everything about Docker and associated issues. The idea was to see if it would make it easier to deploy python3 environment (and have preset dev environment for the project).

I gather plenty of notes that I will publish this week as a blog post.

If it was fruitful, it would be a C option. :)

staging is dow

[2019-08-05 00:48] karlcow commented on #93
# OKRs check / 2019-08-06

Here I need the feedback from @adamopenweb
https://github.com/mozilla/webcompat-team-okrs/issues/93#issuecomment-516692574
@miketaylr was on PTO this week.

[2019-08-06 12:05] softvision-sergiulogigan commented on #96
We are now continuing to verify the Sitewait issues that have no severity label applied.
We're at 82 out of 379.
http://tinyw.in/XJlR

[2019-08-06 12:12] softvision-sergiulogigan commented on #97
Progress document: http://tinyw.in/Jypb

[2019-08-06 13:14] wisniewskit commented on #87
No updates this cycle, but we're still on track.

[2019-08-06 13:57] ksy36 commented on #89
we could potentially add an override here as well, though it requires some testing
mobile https://github.com/webcompat/web-bugs/issues/35163

(this will be fixed in https://bugzilla.mozilla.org/show_bug.cgi?id=1574223)

[2019-08-06 14:50] denschub commented on #91
@softvision-oana-arbuzov We're pending some changes in the system addon that I'd like to have very careful testing on. We're currently blocked by another Firefox for Android-related issue ([bug 1570690](https://bugzilla.mozilla.org/show_bug.cgi?id=1570690)), but as soon as that is resolved, I want to land https://github.com/mozilla/webcompat-addon/pull/74 and with that, I want us to confirm all ac

[2019-08-06 14:53] softvision-sergiulogigan commented on #91
@denschub, Oana is on PTO starting tomorrow until the 18th, but me or @cipriansv would be happy to help!

[2019-08-07 02:09] ksy36 commented on #89
- [ ] mobile candidate https://github.com/webcompat/web-bugs/issues/36576

[2019-08-07 02:32] denschub commented on #91
Oh, it's not an immediate action point! I will reach out to all of you when we're ready to start, I just wanted to provide an early heads-up :)

[2019-08-09 18:04] miketaylr commented on #93
The plan was to explore the technical details in Tokyo, I think as long as we get answers by then (mid-September), we should be OK to come up with something here.

[2019-08-12 16:42] miketaylr commented on #95
Update from nemo:

## ML triage tool
* https://github.com/mozilla/webcompat-ML-experiments/issues
* Triaging automation issues

## Repositories
* https://github.com/mozilla/webcompat-ml-deploy
* https://github.com/mozilla/webcompat-ml
* https://github.com/mozilla/webcompat-triaging-webext

## Updates
* AWS Lambda spike didn’t work
* Too much data for serverless scope
* Now using github webhooks an

[2019-08-12 19:44] ksy36 commented on #89
- [ ] mobile candidate https://github.com/webcompat/web-bugs/issues/36951

[2019-08-13 16:17] ksy36 commented on #89
- [ ] mobile candidate https://github.com/webcompat/web-bugs/issues/37139

[2019-08-16 18:05] ksy36 commented on #89
- [ ] mobile candidate https://github.com/webcompat/web-bugs/issues/15467

[2019-08-16 19:16] ksy36 commented on #89
- [ ] mobile candidate https://github.com/webcompat/web-bugs/issues/25384

[2019-08-16 19:24] ksy36 commented on #89
mobile candidate https://github.com/webcompat/web-bugs/issues/31248
(this is fixed)

[2019-08-16 19:43] ksy36 commented on #89
desktop + mobile candidate https://github.com/webcompat/web-bugs/issues/32409
(fixed by the site)

[2019-08-16 20:04] ksy36 commented on #89
- [ ] desktop + mobile candidate https://github.com/webcompat/web-bugs/issues/34969

[2019-08-16 20:17] ksy36 commented on #89
- [ ] mobile candidate https://github.com/webcompat/web-bugs/issues/18478

[2019-08-16 20:36] ksy36 commented on #89
- [ ] desktop candidate https://github.com/webcompat/web-bugs/issues/28742

[2019-08-19 20:49] ksy36 commented on #89
- [ ] desktop + mobile https://github.com/webcompat/web-bugs/issues/34682

[2019-08-20 11:59] karlcow commented on #94
# OKRs check / 2019-08-20

* staging-server is all configured and the current staging.webcompat.com is running with python3
* the production configuration files are all set on staging-server
* The images of webcompat.com have been sync once on staging-server.
* Master branch is now python 3.

Next steps: switch off the current prod, and redirect to staging-server.

Then our hands will be free to u

[2019-08-20 12:00] karlcow commented on #93
# OKRs check / 2019-08-20

status quo. Need to re-ping @adamopenweb

[2019-08-20 12:33] softvision-sergiulogigan commented on #96
295/379 - 84 more to go, from the first (partial) run.

We think we can run again the whole sitewait list, until the end of the quarter.

[2019-08-20 13:04] denschub commented on #88
It works! The Android-Component is practically done, integration in the Reference Browser is done, Fenix integration has some issues left to be worked out, but I expect a PR either at the end of this week, or next week.

<img width="500" alt="Screenshot 2019-08-13 at 15 52 44" src="https://user-images.githubusercontent.com/344777/63350387-9e7edd80-c35d-11e9-962f-84ee824e29cb.png">

[2019-08-20 13:07] wisniewskit commented on #87
No updates this cycle either; still on track.

[2019-08-20 13:07] wisniewskit commented on #90
Work resumed this cycle, and reviews are progressing (and may be done). We're on track to possibly get this in during the next cycle.

[2019-08-20 13:17] ksy36 commented on #89
This is on track, I think we're close to about 20 interventions and overrides.

[2019-08-20 13:23] miketaylr commented on #96
note: Monthly is probably not a realistic target (maybe, we'll know at the end). Probably once a quarter would be OK.

[2019-08-21 19:55] ksy36 commented on #89
- [ ] mobile candidate https://github.com/webcompat/web-bugs/issues/33613

[2019-08-21 20:23] ksy36 commented on #89
- [ ] mobile candidate https://github.com/webcompat/web-bugs/issues/29867

[2019-08-23 12:30] softvision-oana-arbuzov commented on #96
We finished verifying the Sitewait issues with no severity label applied and bellow is the result:
- Fixed: 170 / 379 ~ 44.85%
- Invalid: 77 / 379 ~ 20.31%
- Reproducible: 132 / 379 ~ 34.82%

We will start another run as soon as Adam provides us with the new list of Site wait issues.

[2019-08-23 19:17] ksy36 commented on #89
- [ ] mobile candidate https://github.com/webcompat/web-bugs/issues/38433

[2019-08-28 14:15] ksy36 commented on #89
- [ ] mobile candidate https://github.com/webcompat/web-bugs/issues/24044

[2019-08-28 14:23] ksy36 commented on #89
- [ ] mobile candidate https://github.com/webcompat/web-bugs/issues/16363

[2019-08-28 14:52] ksy36 commented on #89
- [ ] mobile candidate https://github.com/webcompat/web-bugs/issues/17810

[2019-08-28 15:49] ksy36 commented on #89
- [ ] mobile candidate https://github.com/webcompat/web-bugs/issues/28992

[2019-08-29 14:47] ksy36 commented on #89
- [ ] desktop candidate https://github.com/webcompat/web-bugs/issues/3846

[2019-09-03 11:01] softvision-sergiulogigan commented on #96
We began a new round of Sitewait issues verification.

Sitewait - Critical - **DONE**

Fixed: 9/76
Invalid: 2/76
Reproducible: 65/76

Sitewait - Important - **DONE**

Fixed: 7/107
Invalid: 7/107
Reproducible: 93/107

Sitewait - Minor - **DONE**

Fixed: 8/46
Invalid: 1/46
Reproducible: 37/46

Sitewait - no_label - **DONE**

Fixed: 7/42
Invalid: 1/42
Reproducible: 34/42

[2019-09-03 12:22] karlcow commented on #94
# OKRs check / 2019-09-01

* slightly late. had roadblocks with the fabfile for deployment.
* will make progress this week.

[2019-09-03 12:23] karlcow commented on #93
# OKRs check / 2019-09-01

@adamopenweb was not available lately. So this is at risk. We might be able to push this into 2019Q4 if we think it's necessary.

[2019-09-03 12:59] denschub commented on #88
Wrote some tests for our stuff, broke some tests while integrating our stuff as well. :) Fixed the A-C tests, now working on Fenix tests. "Final touches"

[2019-09-03 13:02] wisniewskit commented on #87
No updates this cycle either; still on track.

[2019-09-03 13:03] wisniewskit commented on #90
The feature has landed in Fennec nightly, and is set to be enabled in the next release. There are test regressions which may complicate things, but I suspect we have mitigations for that.

[2019-09-03 13:06] miketaylr commented on #89
Update: very close here, perhaps at 22 or 23.

[2019-09-03 13:10] miketaylr commented on #91
Update: waiting until the end of the quarter to finish this up.

[2019-09-03 13:46] ksy36 commented on #89
- [ ] desktop candidate https://bugzilla.mozilla.org/show_bug.cgi?id=1577870

[2019-09-04 14:27] ksy36 commented on #89
- [ ] mobile candidate https://github.com/webcompat/web-bugs/issues/39057

[2019-09-05 13:26] ksy36 commented on #89
- [ ] mobile + desktop https://github.com/webcompat/web-bugs/issues/35022

[2019-09-10 01:48] adamopenweb commented on #93
@karlcow Truly sorry for the delay.

We would like to understand the technical requirements (and challenges) to:
- Provide users a method of reporting non-public bugs to us through Webcompat.com
- Provide users a method of supplying an email address to be contacted about a bug without requiring a Github account

Non-public reports allows people or companies to submit reports with information they

[2019-09-10 01:59] karlcow commented on #93
Thanks a lot @adamopenweb for the context.
The more I read it, the more it looks like it's a UI on top of bugzilla.mozilla.org, more than a private instance of github through webcompat.com.

The privacy of bugs is already possible on bugzilla, it looks like a lower hanging fruit. Maybe.
Let's discuss with @miketaylr and @wisniewskit this week. Stay tuned! 📻

[2019-09-13 08:08] karlcow commented on #94
## OKRs check / 2019-09-15

* This is done. 🎉 🎈 😂
* To remember that the initial study for this was started on September 28, 2016.
* Thanks to @miketaylr for pairing on the latest development.

[2019-09-16 03:34] miketaylr commented on #86
Update: https://github.com/mozilla/tsci/issues/101 is done, and I have local patches that fix https://github.com/mozilla/tsci/issues/75. Will try to clean it up and have a PR before our checkin tomorrow evening. :)

[2019-09-16 16:54] denschub commented on #88
PR at https://github.com/mozilla-mobile/android-components/pull/4409, received some review feedback, which is already addressed.

[2019-09-17 07:19] denschub commented on #88
aaaaaaand it's merged. Will follow-up with the Fenix PR tomorrow.

[2019-09-17 12:09] wisniewskit commented on #90
The last cycle was spent putting the finishing touches on this. The final version of the addon (6.0.3) with test-regression fixes has just landed in moz-central, and is due to be uplifted to the ESR and delivered by Balrog as soon as QA gives it their final blessing.

[2019-09-17 12:09] wisniewskit commented on #87
Still no updates; still as on track as before.

[2019-09-17 13:11] miketaylr commented on #91
Update: should finish up next week.

[2019-09-17 13:12] miketaylr commented on #96
We did 1/3 of what we wanted to do here. Too ambitious. :)

Probably worth attempting again in 3 months.

[2019-09-17 13:14] miketaylr commented on #97
Update: on track, continuing weekly.

[2019-09-17 13:15] miketaylr commented on #92
Update: Intent to Unship was sent to dev-platform.

[2019-09-17 13:16] miketaylr commented on #93
@miketaylr needs to write up our findings here.

[2019-09-17 13:20] miketaylr commented on #95
Update: the webextension doesn't seem to work in Windows. Info is getting logged to the console, but the notification fails.

@wisniewskit can perhaps check on Windows?

Nemo won't be working on this for the next few weeks.

[2019-09-18 05:12] miketaylr commented on #93
Here are the minutes from our discussion (sorry, it's kinda confusing in parts).

High level overview: we see 2 paths forward, each with problems. Without a clear PRD, we can't go too deep on how to solve them. A rough estimate in terms of effort is 2 quarters (just engineering).

* For non-public bugs, it means re-architecture to support a private repo. But at the same time, Bugzilla already has

[2019-09-18 05:12] #93 closed, assigned to karlcow

[2019-09-19 15:32] denschub commented on #88
That's the PR for adding the feature into Fenix: https://github.com/mozilla-mobile/fenix/pull/5432

[2019-09-19 17:33] pocmo commented on #88
@denschub Do we want to add this to Reference Browser too? :)

[2019-09-20 08:09] denschub commented on #88
@pocmo I dunno, really. :) I added a note to the a-c PR:

We probably need it somewhere for easy testing, and I'd actually prefer having it in the android-components sample browser, just because it would simplify the testing process significantly, as you only have to checkout and build one repo. But the reference browser would be an option as well.

[2019-09-20 13:45] pocmo commented on #88
Oh, yeah, definitely have it in the sample browser! What I like about having it in RB: It's in an app that updates over Google Play and it gets out to actual users (+ is always using the latest bleeding edge AC).

[2019-09-20 18:22] denschub commented on #88
The Fenix PR is merged!

I'll follow-up with PRs that add the feature tot he sample browser and RB as well. Thanks for that, @pocmo! :)

[2019-09-23 13:18] wisniewskit commented on #90
The code has landed in m-c and is now being delivered to users in Balrog. QA has signed off. From what I can tell, we're ready to roll.

[2019-09-24 14:24] denschub commented on #88
I submitted PRs to add the component into

* the sample browsers: https://github.com/mozilla-mobile/android-components/pull/4513
* the reference browser: https://github.com/mozilla-mobile/reference-browser/pull/909

[2019-09-24 15:38] softvision-sergiulogigan commented on #91
The QA process for manual verification of deployed interventions - https://wiki.mozilla.org/Compatibility/UA_Override_&_Interventions_Testing

[2019-09-25 12:18] cipriansv commented on #91
We have performed testing on the **UA overrides and Interventions** from **about:compat** on **Desktop** and **Mobile**. The results are the following:

**Testing Environment:**
Browser / Version: Firefox Nightly Mobile 68.2a1 (2019-09-23), Firefox Nightly 71.0a1(2019 -09-24)
Operating System: Huawei P10 (Android 9.0) - 1080 x 1920 pixels (~432 ppi pixel density), Windows 10 Pro, macOS 10.14.6

**

[2019-09-25 16:58] miketaylr commented on #90
Update: there was a bug in that version, but the latest version (6.1.0) just was cleared for delivery via Balrog https://bugzilla.mozilla.org/show_bug.cgi?id=1583285

[2019-09-26 18:13] miketaylr commented on #86
It didn't work... https://github.com/mozilla/tsci/issues/115

[2019-09-26 18:20] miketaylr commented on #91
Thanks @softvision-oana-arbuzov @softvision-sergiulogigan @cipriansv for all your work here. I'd like us to do this going forward, about once a month.

@ksy36 can we get a bug on file to remove the interventions that are no longer needed? Thanks!

[2019-09-26 18:20] #91 closed, assigned to softvision-sergiulogigan

[2019-09-26 18:28] miketaylr commented on #95
The prototype exists, but there's still some outstanding work on the OI side of things, but we feel like we did our job in providing support, etc.

[2019-10-01 00:38] #85 closed, assigned to miketaylr

[2019-10-01 00:38] #86 closed, assigned to miketaylr

[2019-10-01 00:38] #87 closed, assigned to skyschub, wisniewskit, ksy36

[2019-10-01 00:38] #88 closed, assigned to skyschub, wisniewskit

[2019-10-01 00:38] #89 closed, assigned to ksy36

[2019-10-01 00:38] #90 closed, assigned to wisniewskit

[2019-10-01 00:38] #92 closed, assigned to miketaylr

[2019-10-01 00:38] #94 closed, assigned to karlcow

[2019-10-01 00:38] #95 closed, assigned to adamopenweb

[2019-10-01 00:38] #96 closed, assigned to softvision-oana-arbuzov, softvision-sergiulogigan, cipriansv

[2019-10-01 00:38] #97 closed, assigned to softvision-oana-arbuzov, softvision-sergiulogigan, cipriansv

[2019-10-01 08:38] miketaylr opened #98 "2019Q4 - 1.1 Revisit Sitewait Issues Once"
By the end of the quarter, we should re-triage/verify each of the issues in the sitewait milestone.

[2019-10-01 08:58] miketaylr opened #99 "2019Q4 - 1.2 TSCI testing"
Dedicated testing sessions of the top 10 domains

[2019-10-01 08:59] miketaylr opened #100 "2019Q4 - 1.3 Manual testing on Facebook new design"

[2019-10-01 09:01] miketaylr opened #101 "2019Q4 - 1.4 Diagnosis all coda.io bugs"
We should diagnose all coda.io bugs to the point of understanding what (duplicate) core issues exist, or need to be reported. The deliverable here should be a 1 or 2 page document containing a summary with pointers to core issues.

[2019-10-01 09:03] miketaylr opened #102 "2019Q4 - 1.5 Outreach Backlog Burndown"
Let's get in touch with 200 sites in the next 12 weeks. That's a lot! What's the best way to track this work?

[2019-10-01 11:59] miketaylr commented on #101
Here is the writeup of the known bugs: https://docs.google.com/document/d/1pNLQeIhVTwvHeoe_QepucSH8KP093x_8nD5wZwD6XdU/edit#

Username and password for the login can be grabbed from our SoftVision crew.

[2019-10-01 12:04] miketaylr opened #103 "2019Q4 - 2.1 Platform Gap metrics continuation"

[2019-10-01 12:04] miketaylr opened #104 "2019Q4 - 2.2 TSCI - weekly confirmation"
https://wiki.mozilla.org/Compatibility/TSCI_Top_10

[2019-10-01 12:05] miketaylr opened #105 "2019Q4 - 2.3 Integrate and host TSCI into webcompat metrics dashboard"

[2019-10-01 12:06] miketaylr opened #106 "2019Q4 - 3.1 Finish console.log display improvements"
On the frontend for webcompat.com.

[2019-10-01 12:08] miketaylr opened #107 "2019Q4 - 3.2 Add postMessage support for report site issue data to bugform.js"
Need to file a bug, but the idea is to be able to support receiving data from postMessage (for Fenix), in addition to POST data.

[2019-10-01 12:09] miketaylr opened #108 "2020Q1 - 0.4 Create image upload service (for eventual cloud migration)"
☁️

[2019-10-01 12:09] miketaylr opened #109 "2019Q4 - 3.4 Investigate dockerization of webcompat.com application"

[2019-10-01 12:10] miketaylr commented on #108
stretch goal: Remove Duplicate and/or unused images on the server. Aka images which are not called from anywhere. Save space, and potentially remove images which were not necessarily meant to be there.

[2019-10-01 12:10] miketaylr opened #110 "2019Q4 - 4.1 Port Report Site Issue web extension to Android component"
The current Fenix implementation just sends a URL to the form. Our Web Extension sends a screenshot, URL, console logs, and some preferences.

The goal here is to port this to an Android component (similar to the work we did last quarter with the webcompat system addon) and ship it in Fenix, to replace the current hard-coded menu item.

[2019-10-01 12:11] miketaylr opened #111 "2019Q4 - 4.2 Investigate about:compat in Fenix"
At the very least, file the blocker bugs that we need for this to exist. Stretch goal: build it ourselves.

[2019-10-01 12:12] miketaylr opened #112 "2019Q4 - 4.3 Automated tracking of interventions dashboard"
Build a dashboard that shows the version number, amount of injections, and amount of user agent overrides for: mozilla-central (Firefox Nightly), mozilla-beta (Firefox Beta), mozilla-release (Desktop Release), and android-components.

[2019-10-01 12:27] karlcow commented on #108
![24-nuage-bleu](https://user-images.githubusercontent.com/505230/65961784-470e7a00-e492-11e9-851d-017b742d6fc6.jpg)

[2019-10-01 12:37] karlcow commented on #107
To remember that one of the possible solutions means that we do not have to do anything on the server side.

[2019-10-01 12:38] karlcow commented on #107
We can potentially upload the data into an s3 instance.

[2019-10-01 12:40] karlcow commented on #109
![4791-conteneur-appart](https://user-images.githubusercontent.com/505230/65962666-221b0680-e494-11e9-8780-130363316fb5.jpg)

[2019-10-01 12:51] karlcow commented on #108
* To take into account that we get sometimes requests to delete things, and/or we just need to delete things.
* To take into account about the legality of hosting something we didn't decide to put up there.

[2019-10-02 07:15] karlcow commented on #109
And here we start.
@miketaylr http://www.otsukare.info/2019/10/02/docker-some-notes

[2019-10-02 11:02] ksy36 commented on #91
Created https://bugzilla.mozilla.org/show_bug.cgi?id=1585609

[2019-10-03 01:19] karlcow commented on #102
Status:
* 11 [needscontact - priority critical](https://github.com/webcompat/web-bugs/issues?q=is%3Aopen+is%3Aissue+milestone%3Aneedscontact+label%3Apriority-critical)
* 16 [contactready - priority critical](https://github.com/webcompat/web-bugs/issues?q=is%3Aopen+is%3Aissue+label%3Apriority-critical+milestone%3Acontactready) (Total: 417)

[2019-10-03 02:17] karlcow commented on #102
Contacts made on 2019-10-03
* https://github.com/webcompat/web-bugs/issues/31923
* https://github.com/webcompat/web-bugs/issues/31685
* https://github.com/webcompat/web-bugs/issues/31619
* https://github.com/webcompat/web-bugs/issues/4070
* https://github.com/webcompat/web-bugs/issues/37976

[2019-10-03 17:44] adamopenweb commented on #90
We hit another problem with Switchboard. Let's call this a 0.5 and it hasn't been deployed yet.

[2019-10-04 17:45] miketaylr commented on #102
I was able to close most of these (all but 1) as fixed, dupes, or move to sitewait.

[2019-10-07 07:56] karlcow commented on #102
Contacts made 2019-10-07

* https://github.com/webcompat/web-bugs/issues/14172#issuecomment-538806598
* https://github.com/webcompat/web-bugs/issues/33963
* https://github.com/webcompat/web-bugs/issues/32592
* https://github.com/webcompat/web-bugs/issues/25324
* https://github.com/webcompat/web-bugs/issues/19122

needscontact: 408
contactready: 83

[2019-10-08 05:45] karlcow commented on #102
Contacts made 2019-10-08

* https://github.com/webcompat/web-bugs/issues/8616
* https://github.com/webcompat/web-bugs/issues/31591
* https://github.com/webcompat/web-bugs/issues/27429
* https://github.com/webcompat/web-bugs/issues/22990

needscontact: 387
contactready: 83

[2019-10-09 07:42] haseebgit commented on #102
Contacts made on 2019-10-09

- https://github.com/webcompat/web-bugs/issues/34948
- https://github.com/webcompat/web-bugs/issues/39363
- https://github.com/webcompat/web-bugs/issues/39792
- https://github.com/webcompat/web-bugs/issues/39826
- https://github.com/webcompat/web-bugs/issues/26077

needscontact: 389
contactready: 83

[2019-10-10 08:32] karlcow commented on #109
Interesting take on the persistence of a sqlite db in between containers.

https://developers.redhat.com/blog/2019/09/12/develop-with-flask-and-python-3-in-a-container-on-red-hat-enterprise-linux/

[2019-10-14 02:10] karlcow commented on #102
Contacts made on 2019-10-14

Contacted 3/4 sites. And closed issues which could not be reproduced.
Also asked in friends in Mozilla Beijing can help us for Chinese Websites.

needscontact: 377
contactready: 88

[2019-10-15 04:38] karlcow commented on #102
Contacts made on 2019-10-15

needscontact: 367 (0 critical, 37 important)
contactready: 88 (7 critical, 34 important)

[2019-10-15 12:42] karlcow commented on #108
I have started to try to have a local backup of all issues posts and their comments. But the current code I was using is [being impaired by rate limits](https://github.com/josegonzalez/python-github-backup/issues/76). So I need to explore ways of improving it.

[2019-10-15 12:57] softvision-oana-arbuzov commented on #104
Progress: https://docs.google.com/spreadsheets/d/1jpdTFvBF1_SMHbaCtWwuG6aAVCV35dTBS8l9rI4plQc/edit?ts=58df1d37&pli=1#gid=536230043

[2019-10-15 13:01] laghee commented on #105
If I've understood this objective (and not missed an email along the way), the object here is to host the information from [this page](https://wiki.mozilla.org/Compatibility/TSCI_Top_10) in the metrics dashboard. This is hosting up-to-the-minute data rather than over-time data like most of current dashboards, so we'll need to decide how best to display them. Possibly something similar to the `need

[2019-10-15 13:05] denschub commented on #112
Made some progress here. Fetching all the files works as I expected, working on parsing and storing the data reliably.

Note that we decided to store the amount of interventions indefinitely, so we can look at historical values and graphs.

[2019-10-15 13:07] laghee commented on #105
Also, I'm assuming that preserving the click-through function is vital. Let me know if I'm wrong there.

[2019-10-15 18:50] wisniewskit commented on #101
I just diagnosed the issues on the doc. Note that I tested today's nightly build of Firefox (71a1, 2019-10-15).

---
### Different fonts used

Confirmed. The CSS being used for the text highlighted by the screenshot (and a lot more):

`font-family: system-ui, sans-serif`

Firefox does not yet support `system-ui` ([bz1226042](https://bugzilla.mozilla.org/show_bug.cgi?id=1226042)), unlike Chrome.

S

[2019-10-16 02:45] karlcow commented on #108
We can probably do this in a couple of phases.

* phase A: We could first move the [new images to a host solution](https://github.com/webcompat/webcompat.com/issues/2986).
* phase B: Remove orphan images
* phase C: Move images already on webcompat servers to the cloud hosting solution.
* (option) phase D: Have a checker script which erase orphaned images once a month.

(Not in the scope, images ho

[2019-10-16 05:24] karlcow commented on #108
# static assets
This OKR as currently phrased does not include uploading the static assets to an external hosting solutions.

Flask S3 is an unmaintained package which does that automatically. Maybe there is something to learn from the code.

https://github.com/e-dard/flask-s3

[2019-10-16 06:16] karlcow commented on #109
# HEROKU

The current webcompat metrics dashboard is being deployed through/on heroku.  One of the benefits of heroku deployment is people [getting PR individual URLs for testing](https://devcenter.heroku.com/articles/github-integration-review-apps). Kind of removing the need for a staging instance. Any PR is a staging instance.

This made me think that if we use docker only for deploying stuff, m

[2019-10-16 06:37] karlcow commented on #109
# SHIV

Another proposal [for deploying a simple app is Shiv](https://www.mattlayman.com/blog/2019/python-alternative-docker/). As explained on [Shiv](https://shiv.readthedocs.io/en/latest/) website

example of a deployment with a [django app](https://shiv.readthedocs.io/en/latest/django.html).

[2019-10-16 06:46] karlcow commented on #109
# PIKU

[piku project](https://github.com/piku) The tiniest PaaS you've ever seen. Piku allows you to do git push deployments to your own servers.

[piku codebase](https://github.com/piku/piku)

This is very much in development right now.

[2019-10-16 14:01] wisniewskit commented on #101
Probably worth noting that issue https://github.com/webcompat/web-bugs/issues/15276 also seems fixed on their end now. I'll mark this as complete for now, since it looks like we're done here.

[2019-10-21 21:53] miketaylr commented on #105
@laghee sorry for the delay and being super vague!

The rough idea is to essentially host the data found here: https://docs.google.com/spreadsheets/d/1G6j2zGGk8JYnF6boxwCdnrxp1dk45eUQYPVeks4RPfU/edit#gid=633060484 -- we're mostly interested in the graph. Probably being able to click through to the sheets and the queries is good too.

The lamest possible implementation is a an `<iframe>`, but we'll

[2019-10-22 17:30] miketaylr commented on #106
https://github.com/webcompat/webcompat.com/issues/2659 is the relevant issue here, I think.

[2019-10-24 14:52] johngian commented on #109
Since we've already done the move for a lot of projects from bare-metal servers to containers here are a couple of thoughts:

# PaaS
* Heroku is amazing for teams without dedicated Ops/SRE people working dedicated to the projects. It's very high level but if you don't need to have a low level approach for performance/security/etc reasons its good enough. The other problem is that the pricing model

[2019-10-24 16:28] miketaylr commented on #101
https://twitter.com/AdamOpenWeb/status/1187390706546950144

It sounds like Firefox is officially supported now. 🎈

[2019-10-25 06:04] karlcow commented on #109
Thanks a lot @johngian for the information. Super useful.
Could you review if you have time[ some of these notes about docker](http://www.otsukare.info/2019/10/02/docker-some-notes).

As for PaaS, we are using heroku already for http://webcompat-dashboard.herokuapp.com/
https://github.com/webcompat/webcompat-metrics-server/
https://github.com/webcompat/webcompat-metrics-client/

[2019-10-25 06:08] karlcow commented on #109
Also for people reading along and not familiar with [12 factor app](https://12factor.net/)

[2019-10-29 06:38] karlcow commented on #102
There is a bit of progress here. Maybe less than previous weeks.
Stats on today 2019-10-29

needscontact: 344 (0 critical, 40 important)
contactready: 85 (2 critical, 34 important)

[2019-10-29 06:40] karlcow commented on #108
# 2019-10-29
Progress is being tracked. Read the comments.
I need to talk money with @miketaylr

[2019-10-29 06:42] karlcow commented on #109
# 2019-10-29
The more I look at it the more i wonder if it's necessary. In terms of cost/benefits. And Probably a PaaS if we want to virtualize a bit more would bring us "benefits with a loss of controls". Doing like webcompat dashboard and pushing to Heroku.

[2019-10-29 09:41] johngian commented on #109
Nice post @karlcow. Some comments about it:

* Dev setup + process can be significantly better if you build around it. In the end docker is "just resource isolation" in Linux kernel. It wont work out for you if you just take your stack and run it in containers.
* Container benefits not captured (i think): If built properly, you can have significantly less attack vectors (especially in a PaaS world

[2019-10-29 12:40] softvision-oana-arbuzov commented on #98
Progress can be found here: https://docs.google.com/spreadsheets/d/1jpdTFvBF1_SMHbaCtWwuG6aAVCV35dTBS8l9rI4plQc/edit?ts=58df1d37&pli=1#gid=1975566373

[2019-10-29 12:42] softvision-oana-arbuzov opened #113 "2019Q4 - 1.6 Revisit Needscontact Issues Once"
By the end of the quarter, we should re-triage/verify each of the issues in the needscontact milestone.

[2019-10-29 12:43] softvision-oana-arbuzov commented on #113
Progress can be found here: https://docs.google.com/spreadsheets/d/1jpdTFvBF1_SMHbaCtWwuG6aAVCV35dTBS8l9rI4plQc/edit?ts=58df1d37&pli=1#gid=82670196

[2019-10-29 13:01] denschub commented on #112
No significant progress since last checkin.

[2019-10-29 13:06] miketaylr commented on #103
Update: Meeting requested with EKR.

[2019-10-29 13:11] miketaylr commented on #107
Update: there is a reviewed PR waiting to land.

[2019-10-29 14:06] laghee commented on #105
@miketaylr Ahhhh, OK, that makes much more sense. I figured there was something I was missing (apparently, the actual graph and a crap-ton of data 😆).

So, depending on how ambitious we/I want to get here on the lame-->slightly less lame implementation scale, this could get pretty complicated. I've been poking through the repo and the spreadsheet trying to figure out everything that's going on beh

[2019-10-29 17:14] miketaylr commented on #105
SGTM!

[2019-10-30 04:11] karlcow commented on #109
Yet [another example for dockerizing flask](https://testdriven.io/blog/dockerizing-flask-with-postgres-gunicorn-and-nginx/)

[2019-11-01 17:25] laghee commented on #105
While @miketaylr seems to be close to potentially resolving the overload in mozilla/tsci#115 (https://github.com/mozilla/tsci/pull/120) 🎉 , I've been looking at two potential preliminary setups that could work:

1. As @miketaylr suggested, I could throw up an `<iframe>` template (hoping that doesn't make @magsout want to kill me 😱 😡).

2. [We could use the Google Sheets API to have the metrics ser

[2019-11-05 15:08] miketaylr commented on #110
Update: with Tom moving to GeckoView for the next 6 months, it's not super clear how we're going to pull this off this quarter.

[2019-11-05 21:50] miketaylr commented on #110
Right now, we're blocked on missing functionality to make this a clean and easy port.

We need the following APIs:

|  API  | Tracking Bug  |
|---|---|
|   [webextension experiments](webextensions-experiments.readthedocs.io)|  ?? |
|  [`tabs.create`](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/tabs/create) |   https://github.com/mozilla-mobile/android-components/issu

[2019-11-05 22:02] wisniewskit commented on #110
I think that covers it. For experimental APIs, I believe the Fennec version was checking:
- whether parental controls are active
- whether the "view as desktop" mode was activated, to offer a notification (snackbar) to file an issue

In addition, the following info was fetched from appInfo/the chrome window for a given tab:
- the buildID, release channel, and whether webrender/graphics acceleratio

[2019-11-08 04:23] karlcow commented on #108
# 2019-11-08

There might be an intermediate stage which gives us more flexibility.
Instead of migrating all the images to a cloud solution right away we can separate webcompat.com into two services. Currently the images are **saved** on the server, but we can perfectly imagine to **HTTP PUT** them on the server, by creating a separate instance (a microservice for data).

We can make sure that onl

[2019-11-12 13:59] denschub commented on #112
Doing some fine-tuning on the cronjob and the visuals, then looking for something to deploy on. :)

[2019-11-12 14:04] miketaylr commented on #98
Update: 123 to go. Looks good finish on time.

[2019-11-12 14:06] miketaylr commented on #102
Update: assuming everyone is labeling their issues, we have 34 out of 200 currently.

[2019-11-12 14:07] miketaylr commented on #103
Update: DOM use counters have landed in beta, currently running an experiment.

[2019-11-12 14:10] miketaylr commented on #105
Update: I landed the automation bits in the TSCI repo. Hoping to get this on cron somewhere and have an API that will return the current ID so @laghee can get us an iframe. :) Then we can do the nicer thing.

[2019-11-13 10:30] laghee commented on #102
I added the label to some of the above referenced issues that didn't have it, and the count is now at 53.

Wasn't sure if these two closed issues should count, but they're included for now:

- https://github.com/webcompat/web-bugs/issues/33963
- https://github.com/webcompat/web-bugs/issues/19122

[2019-11-20 08:09] karlcow commented on #108
HUH. The last part of this blog post.
http://www.otsukare.info/2019/11/20/saving-images-microservices

GitHub is making a local copy of every single linked images AND link to that once it has done the copy.

[2019-11-22 14:48] softvision-oana-arbuzov commented on #98
We finished verifying all SiteWait issues:
- Still reproducible: 256/279
- We closed 8.3% issues as fixed or invalid.

[2019-11-23 02:23] miketaylr commented on #105
Update:

I've set up a (temporary?) API that we can use for the iframe here: https://tsci.webcompat.com/currentDoc.json

Working on the bits to get this running on cron (going to set it up to run daily for the weekend and see if it blows up). If that works, I think we're in business to get something going on the client side. Either way, that URI will be stable and we can assume it will return a JS

[2019-11-23 02:28] miketaylr commented on #105
(ok, so admittedly i hadn't tried this yet... it looks like we have to publish the document and that will generate an embed for us. i'll see if there's a way around this... 🤞 https://en.support.wordpress.com/google-docs/).

@laghee but we're still good to move forward with setting up an additional menu item on the frontend if that's still something you'd like to hack on. i guess worst, worst case

[2019-11-23 09:35] laghee commented on #105
Don't you love it when the lame way is also a pain in the 🐴 (close enough)?

I'll work up a slot for this to land on the client.

[2019-11-26 11:59] laghee commented on #105
Looks like @miketaylr finished his side of this: https://github.com/mozilla/tsci/pull/128

I now have a duct tape and paperclip draft of this working directly in metrics-client: https://github.com/webcompat/webcompat-metrics-client/issues/212#issuecomment-557805533, and in the week or so I'll see if I can hook it up for metrics-server to grab the ID and serve it to the client to construct the URL:

[2019-11-26 14:07] miketaylr commented on #113
Update: finishing today or tomorrow. 🎈

[2019-11-26 14:08] miketaylr commented on #103
Update: still in progress.

[2019-11-26 14:11] karlcow commented on #109
docker is not necessary the answer. Once the images are separated for processing we have a lot more freedom, and we can imagine hosting the application on Heroku for example. The rest of the dockerization seems not necessary useful. But we could still do docker. The blocker is really the independance of the images.

[2019-11-26 14:12] karlcow commented on #108
In the process of creating a prototype to upload the images. There will be progress this week. Maybe at Risk given there are 3 weeks  left and our needsdiagnosis went up. But let's hope.

[2019-11-26 14:12] miketaylr commented on #106
Update: @ksy36 working on saving the JSON file on the webcompat side. Hoping to be done in the next few weeks. Frontend prototype done.

[2019-11-26 15:45] softvision-sergiulogigan commented on #113
We finished verifying all Needscontact issues:

Still reproducible: 235/363
We closed 35.3% issues as fixed or invalid.

[2019-11-28 01:52] karlcow commented on #108
This is an assessment on my failures to understand the problem space. The more I dig into coding and the more I reveal issues. I don't think this will be solved in 2019Q4. Many moving pieces. I probably haven forgotten more issues in there.

# Option 1: Requirements for AWS S3

## webcompat.com  Code

### Create AWS account for S3
We need to pay something at a point. How do we handle the testing/d

[2019-12-03 18:19] denschub commented on #112
This is done!

Deployment is available at https://arewehotfixingthewebyet.com/ (or https://arewehotfixingthewebyet.herokuapp.com/ if you prefer a longer URL), source code is available at https://github.com/webcompat/awhtwy.

In addition to showing the current data, we also keep daily counters forever, so we can use that dataset in the future to draw graphs. :)

I sent out a mail to the list to ann

[2019-12-05 16:32] miketaylr commented on #111
I wrote up a draft here: https://docs.google.com/document/d/1FMWRZUC5MHzXlNx9tBLdVPeW-pT1whexiJRtWZxmb6Q/edit#

Can you please review and comment @denschub and @wisniewskit? If you want edit access, let me know -- it's set to be public to anyone, and anyone can comment now.

[2019-12-09 18:35] denschub commented on #111
I added some technical details to the document, but it looks fine!

[2019-12-10 13:15] laghee commented on #105
Server side is all set as of PR #132 https://github.com/webcompat/webcompat-metrics-server/pull/132 -- endpoint here: https://webcompat-metrics.herokuapp.com/data/tsci-doc

Client side is still technically in progress (https://github.com/webcompat/webcompat-metrics-client/pull/219), but is missing only the tiny (crucial) bit of logic that pulls out the sheet ID from the JSON object. Pretty sure @m

[2019-12-10 13:50] softvision-oana-arbuzov commented on #99
Current progress:
[Done] linkedin.com - mobile & desktop
[Done] baidu.com - mobile & desktop
[Done] wikipedia.org - mobile & desktop
[Done] amazon.com - mobile & desktop
[Done] microsoft.com - mobile & desktop
[In progress] twitter.com, youtube.com, netflix.com - desktop

More info here: https://docs.google.com/spreadsheets/d/1jpdTFvBF1_SMHbaCtWwuG6aAVCV35dTBS8l9rI4plQc/edit?ts=58df1d37&pli=1#gid=

[2019-12-10 14:07] miketaylr commented on #102
Currently at 63/200.

[2019-12-10 14:08] miketaylr commented on #103
Update: Tim is writing up results from the use counter studies.

[2019-12-10 14:09] miketaylr commented on #104
Update: still happening every week. 💯

[2019-12-10 14:10] ksy36 commented on #106
Update: Created a PR for this

[2019-12-10 14:13] miketaylr commented on #109
@karlcow can we write up a summary comment and call this one done?

[2019-12-10 14:15] miketaylr commented on #100
Update: Planning on getting this done next week.

[2019-12-11 03:27] karlcow commented on #109
So to be able to go to a docker or a Heroku solution, these are the friction points we need to address:

1. Move from sqllite to a postgres like solution for all our dbs, because basically you do not want to lose these data in between each deployment.
  * session.db
  * topsites.db
2. Remove the dependency on start up for milestones.json
3. Rewrite the request/saving of assets (images and json) to

[2019-12-11 13:33] laghee commented on #105
This is now basically done, PR #219 (https://github.com/webcompat/webcompat-metrics-client/pull/219) is approved and just waiting on some kind of resolution for the weird `X-Frame-Options` error. Can be merged at will.

[2019-12-11 14:47] karlcow commented on #102
68/200
https://github.com/webcompat/web-bugs/issues?utf8=%E2%9C%93&q=+is%3Aissue+label%3Aq4-2019-outreach+

This is slow, because I also close many as invalid or fixed :) a ratio maybe of 1 to 4.

[2019-12-12 07:34] karlcow commented on #102
currently [78/200](https://github.com/webcompat/web-bugs/issues?utf8=%E2%9C%93&q=+is%3Aissue+label%3Aq4-2019-outreach+)

[2019-12-12 07:37] karlcow commented on #102
![Capture d’écran 2019-12-12 à 16 36 56](https://user-images.githubusercontent.com/505230/70691944-acd27a00-1cfd-11ea-93e7-3a0e86b49793.png)
![Capture d’écran 2019-12-12 à 16 36 25](https://user-images.githubusercontent.com/505230/70691949-b0fe9780-1cfd-11ea-9dd2-a177171de4e6.png)

[2019-12-13 06:53] karlcow commented on #102
Currently [87/200](https://github.com/webcompat/web-bugs/issues?utf8=%E2%9C%93&q=+is%3Aissue+label%3Aq4-2019-outreach+)

[2019-12-13 12:22] laghee commented on #105
@miketaylr merged yesterday, so TSCI is now live on the dashboard (data still aggregating at this point, but everything working 🤞 so far).

Edited to add link: https://webcompat-dashboard.herokuapp.com/tsci?

[2019-12-13 17:01] miketaylr commented on #105
Yes! Thanks so much @laghee and @magsout for the support here.

[2019-12-16 05:20] karlcow commented on #109
[Deploying with Docker](https://devcenter.heroku.com/categories/deploying-with-docker)

[2019-12-17 06:25] cipriansv commented on #99
Testing the top 10 domains from the TSCI list is done.

The covered areas and the results can be found here:
https://docs.google.com/spreadsheets/d/1jpdTFvBF1_SMHbaCtWwuG6aAVCV35dTBS8l9rI4plQc/edit#gid=1364523700

[2019-12-17 07:12] karlcow commented on #102
I made a bit of progress on this the last couple of days. But I don't think we will reach the target before the end of the year. Note that in the process we closed bugs. :)

Approximate number (needscontact + contact ready)
Beginning of quarter: 335 + 90 = 425
Current: 290 + 31 = 321

That's a differential of ~100 (it doesn't mean 100 issues have been addressed, probably a lot more than this becau

[2019-12-17 07:14] karlcow commented on #108
So the last comment is the assessment of what we need to do if we want to move forward with the idea. I have also started to request information about S3/keys to Mozilla.

[2019-12-19 12:37] softvision-sergiulogigan commented on #99
Issues found:
#46670
#46671
#46675
#46050
#46053
#45929
#45919
#45921
#45555
#45613
#45553
#45619
#45615

[2019-12-19 12:40] softvision-sergiulogigan commented on #100
Issues found:
#46710 www.facebook.com - “Upload” icon is blurred
#46711 www.facebook.com - Small allocated space for “Suggested” text in “Great New Group” window
#46713 www.facebook.com - “Public” button icon is displayed cropped and misaligned

[2020-01-06 22:55] #98 closed, assigned to softvision-oana-arbuzov, softvision-sergiulogigan, cipriansv

[2020-01-06 22:55] #99 closed, assigned to softvision-oana-arbuzov, softvision-sergiulogigan, cipriansv

[2020-01-06 22:55] #100 closed, assigned to softvision-oana-arbuzov, softvision-sergiulogigan, cipriansv

[2020-01-06 22:55] #101 closed, assigned to wisniewskit

[2020-01-06 22:55] #102 closed, assigned to miketaylr, karlcow, ksy36

[2020-01-06 22:55] #103 closed, assigned to miketaylr

[2020-01-06 22:55] #104 closed, assigned to softvision-oana-arbuzov, softvision-sergiulogigan, cipriansv

[2020-01-06 22:55] #105 closed, assigned to laghee

[2020-01-06 22:55] #106 closed, assigned to ksy36

[2020-01-06 22:55] #107 closed, assigned to ksy36

[2020-01-06 22:55] #109 closed, assigned to karlcow

[2020-01-06 22:55] #111 closed, assigned to skyschub, wisniewskit

[2020-01-06 22:55] #112 closed, assigned to skyschub

[2020-01-06 22:55] #113 closed, assigned to softvision-oana-arbuzov, softvision-sergiulogigan, cipriansv

[2020-01-06 23:17] miketaylr opened #114 "2020Q1 0.1 - Get anonymous reporting working again"
We don't have a concrete plan right now, but we should have one soon. This KR covers the work necessary to re-enable anonymous reporting in a way that prevents GitHub from shutting us down again.

Ideas at https://github.com/webcompat/webcompat.com/issues/3124

[2020-01-06 23:19] miketaylr opened #115 "2020Q1 0.2 - Create a plan for the future"
https://github.com/webcompat/webcompat.com/issues/3124 is short-term. We need to have a serious plan for the long-term. This KR covers creating a roadmap for the future of hosting, platforms, infrastructure of webcompat.com triage and reporting.

[2020-01-06 23:19] miketaylr commented on #115
See also https://github.com/webcompat/webcompat.com/issues/3118

[2020-01-06 23:40] miketaylr opened #116 "2020Q1 0.3 - Create and document policy for illegal and abusive content"
This should be linked somewhere from webcompat.com.

Without exception, we must follow this plan to ensure no harmful or illegal content is hosted on our servers, or is associated with our organization on public GitHub issues.

[2020-01-07 15:36] miketaylr commented on #108
Changing this one to a Q1 OKR (which is not the most urgent thing to fix right now, but it seems good to move in this direction).

[2020-01-07 19:35] miketaylr opened #117 "2020Q1 2.1 - Improve site coverage in TSCI by adding priority Enterprise applications"
Devin Reams and Romain Testard are working on the list: https://docs.google.com/document/d/18DKBJ43h0mb1_dR8v6cverYKRKL_XIUhPDQlLGUPcTE/edit?disco=AAAADx9mGkY

I think it probably makes sense to incorporate this into the existing TSCI, perhaps as it's own trendline? Or perhaps its own dedicated report -- otherwise I'm not sure how the weighting should work.

[2020-01-07 19:37] miketaylr commented on #117
https://github.com/mozilla/tsci/issues/143

[2020-01-07 19:43] miketaylr opened #118 "2020Q1 - 2.2 Generate automatic reporting of new bugs and state changes to bugs in TSCI"
It would be nice if every time the TSCI was generated, we had a way to know which bugs have been added, and which resolved that significantly contributed to a change in the score (for some value of significant). I'm not sure what this would look like, but anything would be an improvement. 🥇

This is the bug to track the work: https://github.com/mozilla/tsci/issues/116

[2020-01-07 19:54] miketaylr opened #119 "2020Q1 - 3.1 Drive down TSCI metric through bug investigation and prioritization"
Practically, this will look like a weekly pass of Top 10 TSCI needstriage/needsdiagnosis/outreach/sitewait work, ensuring no Top 10 site bug is neglected.

[2020-01-07 19:56] miketaylr opened #120 "2020Q1 - 3.2 Needsdiagnosis, Sitewait and Needscontact re-verification"
Let's do another pass to see if these issues are still valid.

(With the webcompat-bot reports hidden for now, we'll need to start with non-anon reports)

[2020-01-07 19:57] miketaylr opened #121 "2020Q1 - 3.3 Monthly intervention verification"
We should verify that the interventions we're shipping are still needed, once a month. If not, we should file bugs to have them removed (which will be up to the current Intervention Release Owner to handle).

[2020-01-07 19:59] miketaylr opened #122 "2020Q1 - 3.4 Top site manual testing"
Let's look at sites 10 through 20 from the TSCI.

Note: any issue that would be classified as "severity-minor" should *not* be reported.

[2020-01-07 20:07] miketaylr opened #123 "2020Q1 - 3.5 Monthly intervention releases"
We want to have 3 releases this quarter, following the [Intervention Release Process](https://docs.google.com/document/d/1hyIv14aKDzGixuPz3rFHmVSXs-DlTFfJoleQxILwGws/edit#heading=h.kkurmbj28y1p).

[2020-01-07 20:38] miketaylr commented on #123
https://wiki.mozilla.org/Compatibility/Interventions_Releases#Intervention_Release_Owner_Schedule

[2020-01-08 09:13] softvision-oana-arbuzov commented on #120
Progress will be visible here (non-anon reports): https://docs.google.com/spreadsheets/d/1hJXAyFtYepzUI5fGYjlHaLUDD8V80wks44Vw28B5Y3E/edit#gid=1710016320

[2020-01-14 14:10] softvision-oana-arbuzov commented on #120
We finished re-checking the needsdiagnosis/sitewait/needscontact visible issues (non-anon reports), which is about 50% if the total issues in these milestones.
As soon as we'll have access to the anonymous reports we will continue the work on this OKR.

[2020-01-14 14:19] softvision-oana-arbuzov commented on #122
We will start exploratory testing on the 10 to 20 sites:
- linkedin.com
- apple.com
- instagram.com
- live.com
- reddit.com
- qq.com
- nytimes.com
- adobe.com
- ebay.com
- bing.com

Progress will be visible here: https://docs.google.com/spreadsheets/d/1hJXAyFtYepzUI5fGYjlHaLUDD8V80wks44Vw28B5Y3E/edit#gid=948794909

[2020-01-21 07:08] denschub commented on #110
I did some work that is building an empty webextension with a port into native code for some experimentations, but this is not yet further than the "oh yeah, it builds and doesn't crash on startup" phase yet.

[2020-01-21 10:34] softvision-oana-arbuzov commented on #122
Current Progress:
Done - instagram.com
In Progress - linkedin.com and apple.com

[2020-01-21 10:35] softvision-oana-arbuzov commented on #120
We started checking anonymous reports.
Done - Needsdiagnosis
In progress - Needscontact

[2020-01-21 12:14] karlcow commented on #114
## 2020-01-21
We made good progress. Everything is tracked on https://github.com/webcompat/webcompat.com/projects/7

We will probably have something ready (be)for(e) Berlin

[2020-01-21 12:17] karlcow commented on #108
## 2020-01-21

Focusing on #114

[2020-01-21 14:07] karlcow commented on #116
## 2020-01-21
This is in progress @miketaylr started a document and reviews are going on.
See https://github.com/webcompat/webcompat.com/issues/3138

[2020-01-21 14:14] miketaylr commented on #123
Update: @ksy36 has started this, and has about 10 candidate interventions for a release.

[2020-01-28 10:10] softvision-oana-arbuzov commented on #121
We finished checking the UA Overrides/Interventions for January run and below is our progress:

**Desktop:**
- rolb.santanderbank.com
https://github.com/webcompat/web-bugs/issues/33462
- supportforms.embarcadero.com
https://github.com/webcompat/web-bugs/issues/34682
- att.tv
https://github.com/webcompat/web-bugs/issues/3846
- steamcommunity.com
https://github.com/webcompat/web-bugs/issues/34171
-

[2020-01-31 09:10] softvision-oana-arbuzov commented on #119
Progress is visible here: https://docs.google.com/spreadsheets/d/1hJXAyFtYepzUI5fGYjlHaLUDD8V80wks44Vw28B5Y3E/edit#gid=549305135

[2020-02-04 09:34] karlcow commented on #114
# 2020-02-04

We are almost done. The last part is being reviewed.
Once it is merged we can deploy on staging.
Do thorough testing that we didn't break anything.

and then we can deploy on production.
And we will be able to restart anonymous reporting.

[2020-02-04 13:57] ksy36 commented on #123
Landed in Nightly, going to request an uplift for Beta and esr. Also working on a PR for Android components

[2020-02-04 14:04] miketaylr commented on #115
Update: we started this conversation last week.

[2020-02-04 14:05] miketaylr commented on #116
Update: this is merged. A working version.

[2020-02-04 14:05] denschub commented on #110
There have been some chats and some experiments. I started working on the port itself, but didn't spent enough time yet to make a great update, because All Hands. :)

[2020-02-04 14:07] #117 closed, assigned to nobody

[2020-02-04 14:09] miketaylr commented on #120
Update: likely done by EOW. (needscontact already done)

[2020-02-04 14:16] miketaylr commented on #122
Update: focusing on other OKRs the past few weeks. Some progress here.

[2020-02-06 15:25] softvision-oana-arbuzov commented on #120
We've finished re-checking all the Needsdiagnosis, Sitewait and Needscontact issues.
A total of 593 issues out of 703 are still reproducible.

[2020-02-06 15:25] #120 closed, assigned to softvision-oana-arbuzov, softvision-sergiulogigan, cipriansv

[2020-02-07 18:17] ksy36 commented on #121
m.imgur.com should be removed as well, as Oana mentioned in https://github.com/webcompat/web-bugs/issues/13154#issuecomment-577593697 since they removed an ability to log in on mobile

[2020-02-10 15:22] softvision-sergiulogigan commented on #122
Done - reddit.com, apple.com
In Progress - linkedin.com and live.com

[2020-02-18 13:12] karlcow commented on #114
# 2020-02-18

We are back in business.
Anonymous reporting is working. we ironed the latest bugs/issues last week. There are things to improve and polished now. Things which are basically parts of the phase2.

[2020-02-18 13:14] karlcow commented on #115
# 2020-02-18

Not real progress on that. But I guess that now we have #114 solved. we will have more spare time for working on this.

[2020-02-18 13:17] cipriansv commented on #122
Done - instagram.com, reddit.com, apple.com, LinkedIn.com, live.com

[2020-02-18 14:03] denschub commented on #110
Worked around some UI issues last week, working around some POST issues this week. More WebExtension APIs work than I expected.

[2020-02-18 14:05] miketaylr commented on #116
Let's call it done.

[2020-02-18 14:07] miketaylr commented on #121
cc @denschub ^^

[2020-02-18 14:08] ksy36 commented on #123
Landed in release and esr and was merged to AC

[2020-02-28 10:13] softvision-sergiulogigan commented on #121
We finished checking the UA Overrides/Interventions for the February run and below is our progress:

**Desktop:**

- rolb.santanderbank.com
webcompat/web-bugs#33462
- supportforms.embarcadero.com
webcompat/web-bugs#34682
- att.tv
webcompat/web-bugs#3846
- steamcommunity.com
webcompat/web-bugs#34171
- sling.com
https://bugzilla.mozilla.org/show_bug.cgi?id=1582582
- criticalcareontario.ca
webcompat/

[2020-03-03 11:38] denschub commented on #110
Got everything working in the reference browser with two exceptions:

* `about:config` prefs, as there are no prefs in Fenix
* the whole `tabExtras` APIs, which include console logging, mixed content, ... Currently working on maybe porting those as far as possible.

[2020-03-03 14:05] miketaylr commented on #122
Update: challenged due to triage + verification (need ML bot to create some slack).

[2020-03-03 14:06] miketaylr commented on #123
Dennis released v8.0.0 the past few days.

[2020-03-04 09:17] denschub commented on #121
webcompat/web-bugs#33164

It still is reproducible with the intervention disabled, yeah. :(

[2020-03-09 17:54] miketaylr commented on #123
I'm going to take the 76 release, since @karlcow is busy taking care of ML bots.

[2020-03-11 15:41] miketaylr commented on #123
v8.1.0 was released (only to Android Components) https://github.com/mozilla-mobile/android-components/pull/6230

[2020-03-17 12:41] softvision-sergiulogigan commented on #122
March 17 update:

linkedin.com - done
apple.com - done
instagram.com - done
live.com - done
reddit.com - done
qq.com - done
nytimes.com - done
adobe.com - done
ebay.com - done
bing.com - done

So... we're done.

[2020-03-17 13:06] miketaylr commented on #121
Update: starting a new run tomorrow.

[2020-03-17 13:06] miketaylr commented on #121
(file new bugs @ Web Compatibility::Interventions component)

[2020-03-17 13:07] miketaylr commented on #123
Update: In progress.

[2020-03-19 13:13] softvision-sergiulogigan commented on #121
**Mobile UA Overrides**

- rolb.santanderbank.com
https://bugzilla.mozilla.org/show_bug.cgi?id=1563839
- supportforms.embarcadero.com
https://bugzilla.mozilla.org/show_bug.cgi?id=1577179
- mobilesuica.com
https://bugzilla.mozilla.org/show_bug.cgi?id=1610026
- tieda.baidu.com
https://bugzilla.mozilla.org/show_bug.cgi?id=945963
- lohaco.jp
https://github.com/webcompat/web-bugs/issues/938
- www.nhk.o

[2020-03-19 14:49] softvision-oana-arbuzov commented on #121
**Desktop User Agent Overrides:**
- rolb.santanderbank.com
https://github.com/webcompat/web-bugs/issues/33462
https://github.com/webcompat/web-bugs/issues/32203
- supportforms.embarcadero.com
https://github.com/webcompat/web-bugs/issues/34682
- att.tv
https://github.com/webcompat/web-bugs/issues/3846
- steamcommunity.com
https://github.com/webcompat/web-bugs/issues/34171
- sling.com
https://github

[2020-03-19 14:53] softvision-oana-arbuzov commented on #121
All done - OKR completed.

[2020-03-19 14:53] #121 closed, assigned to softvision-oana-arbuzov, softvision-sergiulogigan, cipriansv

[2020-03-19 17:44] miketaylr commented on #110
@denschub (for when you're back), are we ready to start landing this (and file bugs for future work)? wondering if we should try to capture some of the additional work in Q2 OKRs.

[2020-03-30 21:20] miketaylr commented on #123
Update; v9.0.0 has landed in Android components, and Mozilla Central -- working through uplift process for ESR and Beta now.

[2020-03-31 12:58] denschub commented on #110
Got stuck on fixing a weird warning-spam in logcat and working through one last stupid issue with disabling the component for release users. Wanted to get that done last week, but got blocked by... brains and viruses. Will provide a meaningful update as soon as possible.

[2020-03-31 13:04] miketaylr commented on #119
Update: to be completed this week!

[2020-03-31 13:05] miketaylr commented on #123
Beta uplift was approved for v9.0.0

[2020-04-01 16:02] #108 closed, assigned to karlcow

[2020-04-01 16:02] #110 closed, assigned to skyschub, wisniewskit

[2020-04-01 16:02] #114 closed, assigned to karlcow

[2020-04-01 16:02] #115 closed, assigned to nobody

[2020-04-01 16:02] #116 closed, assigned to miketaylr

[2020-04-01 16:02] #118 closed, assigned to nobody

[2020-04-01 16:02] #119 closed, assigned to softvision-oana-arbuzov, softvision-sergiulogigan, cipriansv

[2020-04-01 16:02] #122 closed, assigned to softvision-oana-arbuzov, softvision-sergiulogigan, cipriansv

[2020-04-01 16:02] #123 closed, assigned to ksy36

[2020-04-01 16:37] miketaylr opened #124 "2020Q2 - 1.1 Create service to generate and serve a weekly Trexa list"
This blocks what will be 1.2, porting the TSCI to use the Trexa list.

I'd like to create a heroku app (or something similar) to basically do the list merge and be able to serve a list with simple `head -n` functionality (so you can request just what you want).

https://github.com/mozilla/crawl-prep/blob/master/list_merge.py

[2020-04-01 16:38] miketaylr opened #125 "2020Q2 - 1.2 Port TSCI metrics to use Trexa list"
Blocked on 1.1, but this should be fairly simple to implement once it exists.

https://github.com/mozilla/tsci/issues/117 tracks the work.

[2020-04-01 16:41] miketaylr opened #126 "2020Q2 - 1.3 Manual Testing of COVID19 related sites and services"
This issue tracks the work happening at https://docs.google.com/spreadsheets/d/1vwe2GxrS-mbAG4m15PJEfV80jEsml5hvb4scGD3RxQQ/edit#gid=0.

[2020-04-01 16:43] miketaylr opened #127 "2020Q2 - 1.4 Monthly Interventions Releases + Testing (Round 2)"
Let's track this for one more quarter, before making it a regular part of Keep The Lights On work.

This issue covers 3 more releases (v10, v11, and v12), as well as manual verification of deployed interventions before each new release.

[2020-04-01 16:43] miketaylr commented on #127
v10.0.0 tracking bug https://bugzilla.mozilla.org/show_bug.cgi?id=1625222 (ksenia will take over for karl)

[2020-04-01 16:44] miketaylr opened #128 "2020Q2 - 1.5 UA string investigation for Firefox for iOS"
We've had a number of reports in the past few months about Firefox for iOS UA string issues.

This KR tracks the work to investigate possible changes, and their implications for detection and possible breakage. The expected output is a report detailing any recommended changes.

[2020-04-01 16:47] miketaylr opened #129 "2020Q2 - 1.6 Hunt from Home Support"
There will be some minimal engineering supported needed (likely just adding some strings to `EXTRA_LABELS`: https://github.com/webcompat/webcompat.com/blob/476c9c7e200c2eabb8a3d2d1ca3248606c3c2ebf/config/__init__.py#L211

The rest however, will be moderation + triage + diagnosis. We'll have more details in the coming days / weeks.

[2020-04-01 18:48] miketaylr opened #130 "2020Q3 - Reserve: webcompat-ml bot improvements"
* Get access to the entire stack (handover from OI)
* Modify the bot to only work on certain milestones (needstriage)
* Finish integration into moderation workflow

[2020-04-01 18:50] miketaylr opened #131 "2020Q2 - 2.2 New form rewrite"
* Modularize form v2 code (using ES modules)
* Add unit tests for modules
* Add a transpile step for older browsers
* Integrate transpiled bundles into build + deploy workflow

https://github.com/webcompat/webcompat.com/projects/9

[2020-04-01 18:52] miketaylr opened #132 "2020Q2 - 2.3 AC Report Site Issue improvements"
Partially carry-over work from https://github.com/mozilla/webcompat-team-okrs/issues/110, we want to actually land the port and flesh out the missing features (console logging, for example).

[2020-04-01 18:53] miketaylr opened #133 "2020Q2 - 3.1 WebExtension API development in GeckoView"
The bugs will be added here in the near future, Tom will be working on this 50% of his time this quarter.

[2020-04-01 18:55] miketaylr opened #134 "2020Q2 - 3.2 Enhanced Tracking Protection diagnosis + interventions experiments"
In order to support the SecEng team, we'll diagnose the most important issues and recommend fixes.

@wisniewskit, can you add a link to the meta bugs you're focusing on?

[2020-04-01 18:56] miketaylr opened #135 "2020Q2 - 3.3 Add support for Print reftests to WPT"
To support the Layout team.

[2020-04-01 18:58] miketaylr opened #136 "2020Q2 - 3.4 WebDriver Bi-Directional protocol spec work"
To support the DevTools and Performance testing teams.

(Feel free to add better links and a description, once we have them).

[2020-04-02 15:38] miketaylr commented on #130
Let's schedule this one for Q3!

[2020-04-02 15:43] miketaylr commented on #125
I'm not sure we need to track this at the team level.

[2020-04-02 15:43] #125 closed, assigned to miketaylr

[2020-04-02 16:29] miketaylr commented on #124
Heroku hates filesystems, so maybe I'll just spin up a new digital ocean droplet for this and enable their [Spaces product](https://www.digitalocean.com/products/spaces/). We need to make a new droplet to split out staging and production for webcompat.com anyways...

[2020-04-02 17:16] wisniewskit commented on #134
Sure, it's this meta-bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1101005

[2020-04-03 13:18] softvision-sergiulogigan commented on #126
A good source of websites:

https://coronavirustechhandbook.com/infographics
https://coronavirustechhandbook.com/home

[2020-04-06 07:29] softvision-sergiulogigan commented on #127
We consider the following deadlines, for the manual testing of interventions:

- [ ] ~25th of April~
- [ ] ~22nd of May~
- [ ] ~23rd of June~

[2020-04-09 17:47] miketaylr commented on #129
We're also gonna gather some GPU info for webrender bugs https://bugzilla.mozilla.org/show_bug.cgi?id=1627738 (@wisniewskit has already authored the patch).

And we need to update the privacy policy: https://github.com/webcompat/webcompat.com/issues/3282

[2020-04-09 17:52] miketaylr commented on #127
@softvision-sergiulogigan the idea is for us to land the code 1 week before soft freeze, which means April 23 for v10. So we need to adjust the deadlines to account for it.

https://wiki.mozilla.org/Release_Management/Calendar

(We had also talked about doing the testing at the beginning of a release, rather than the end to allow for the most amount of time for patch writing).

[2020-04-10 07:48] softvision-sergiulogigan commented on #127
We're gonna adjust the deadlines so we have the testing complete at least 1 week prior to the Soft Freeze, for the next iteration. After that, we'll start a new run the day after the Release Date.

This means:
- [x] 15th of April
- [x] 6th of May
- [ ] 3rd of June

[2020-04-14 13:17] wisniewskit commented on #134
I'm roughly 3/4 of the way through diagnosing all of the bugs, and have at least triaged and pre-screened almost all of them. At this point I feel confident that the bulk of the issues can be resolved with a combination of shim/surrogates scripts (similar to how the webcompat addon does things), and proxying or sandboxing yellow-listed resources.

[2020-04-14 13:19] miketaylr commented on #131
Update: Working on final submit step on the form. Need to work on build + babel next.

[2020-04-14 13:25] miketaylr commented on #135
Update: Making progress, we have a demo implementation that's working (had some issues with glyphs, but we've found a workaround).

[2020-04-14 13:26] wisniewskit commented on #133
Not started yet, as I'm still waiting on the relevant teams to decide on priorities for the various APIs. I'll probably begin working on the most likely-to-be-chosen candidates regardless, to prevent falling too far behind.

[2020-04-15 13:24] softvision-sergiulogigan commented on #127
1st pass:

Desktop User Agent Overrides

- rolb.santanderbank.com
https://github.com/webcompat/web-bugs/issues/33462/
- supportforms.embarcadero.com - **fixed!**
https://github.com/webcompat/web-bugs/issues/34682
- att.tv
https://github.com/webcompat/web-bugs/issues/3846
- steamcommunity.com
https://github.com/webcompat/web-bugs/issues/34171
- sling.com
https://github.com/webcompat/web-bugs/issues

[2020-04-28 10:10] denschub commented on #128
I've made some progress here and have collected a total of 29 examples so far (thanks for the pings on related issues, btw!)

So far, all breakage looks similar, the resolution would be "make it look more like Safari". In my tests, we could preserve a unique identifier for Firefox on iOS, as long as it looks close enough to Safari. I built a little tool to test UA changes on most of the broken sit

[2020-04-28 10:14] jgraham commented on #136
This is now in progress. I filed some intitial spec issues: https://github.com/w3c/webdriver/labels/BiDi

[2020-04-28 10:14] denschub commented on #132
During my earlier development, I shimmed two APIs, which is now biting me. One is hiding the action on incompatible sites, but that can be easily worked around by simply not submitting a report when we deem the site unworthy. The reporter menu item is already constantly visible in Fenix, so that wouldn't be a change.

The trickier one, though, is i18n. At the moment, I shimmed that by simply using

[2020-04-28 11:46] softvision-oana-arbuzov commented on #127
Next run scheduled for 4-6 May.

[2020-04-28 13:00] ksy36 commented on #127
On track, 10.0.0 has shipped to beta, 10.1.0 has shipped to esr and merged to ac

[2020-04-28 13:05] miketaylr commented on #126
Update: on track, testing at least one site per day.

[2020-04-28 13:07] wisniewskit commented on #134
Phase one is done now, and we're just figuring out what to do for phase two. As per my previous comment, the summary of my findings is that we ought to be able to detect the loading of tricky resources and shim them with minimal versions to keep pages working, and/or ask the user to allow them (with placeholders and other UI) where necessary.

[2020-04-28 13:12] miketaylr commented on #129
Update: waiting to launch.

[2020-04-28 13:13] miketaylr commented on #131
Update: no updates this time, still on track.

[2020-04-28 13:18] miketaylr commented on #135
Update: Working around the work around, and hoping to get support from PDFjs folks (or fixing the bug ourselves).

[2020-05-05 08:40] cipriansv commented on #127
2nd pass:

**Desktop Interventions:**

- ib.absa.co.za
https://github.com/webcompat/web-bugs/issues/16401

- histography.io
https://github.com/webcompat/web-bugs/issues/1804

- bankofamerica.com
https://bugzilla.mozilla.org/show_bug.cgi?id=1280834

- dns.google.com
https://github.com/webcompat/web-bugs/issues/22494

- console.cloud.google.com
https://github.com/webcompat/web-bugs/issues/33164

- t

[2020-05-07 20:16] Darkspirit commented on #129
https://community.mozilla.org/campaigns/hunt-from-home-phase-2/

Disabling the force-enable pref won't disable WebRender when it's enabled by default for a qualified device. Please change it to:

I report this bug here because haven't found this page on GitHub: https://github.com/search?q=%22Set+that+to+false+and+restart+your+browser%22
The [repo](https://github.com/mozilla/community-portal) linke

[2020-05-11 19:06] miketaylr commented on #129
@Darkspirit sorry, I just saw this -- Unfortunately we don't have access to the copy at https://community.mozilla.org/campaigns/hunt-from-home-phase-2/. Someone from the participation team controls that.

Update: I think we can call this one "done", in terms of engineering + triage support.

[2020-05-11 19:13] miketaylr commented on #124
Update: I've made some progress locally on a Flask app that right now can download both the Tranco and Alexa services. The plan is to hook up the merge code (from trexa), and expose that to a script to run via cron. Then set up routes to serve the lists.

[2020-05-12 03:49] ksy36 commented on #131
Update: tested submitting a form and fixed a couple bugs, added some ui improvements for the progress bar. Found out that there is still some code for the GET params parsing needs to be moved, so finishing that up. Will be looking into transpiling the code for older browser with babel and including that to the grunt tasks next

[2020-05-12 12:56] softvision-oana-arbuzov commented on #126
Current progress: 59 websites tested mobile&desktop.

[2020-05-12 12:57] denschub commented on #128
Started writing out a report with my findings so far and collected two possible fixes to the iOS UA that would resolve those issues. Testing confirmed these work on all sites that I could automate, currently doing some manual tests as well.

[2020-05-12 12:58] denschub commented on #132
The i18n API was fixed, but then we figured out that was not the best idea, as we can't import the translations into the A-C code. But that makes all APIs complete. I had to work on other things just to distance my brain a bit, but I continued yesterday by starting to write some notes about the patches I made and plan to land this week. :)

[2020-05-12 13:02] jgraham commented on #135
Update: Print Reftest RFC merged. Implementation in Gecko fixed. Need to clean up the patches and get review.

[2020-05-12 13:07] wisniewskit commented on #134
Work has begun on experimenting with mitigating strict mode site breakage using the WebCompat system addon to "shim" certain blocked scripts. Primary focus is on getting login-with-Facebook functionality working. I have a patch again m-c which implements over a dozen shims into the WebCompat addon including an Facebook SDK one. I'm awaiting initial feedback while I work on Twitter and Instagram SD

[2020-05-12 18:18] jgraham commented on #135
https://github.com/web-platform-tests/rfcs/pull/41 is the merged RFC

[2020-05-12 18:19] jgraham commented on #136
Added an initial proposal for the low-level serialization, but no feedback yet. Got a first WG meeting coming up, so hoping to see some interest in the open issues before that.

[2020-05-13 17:30] miketaylr commented on #127
I'll take the next rotation (v11): https://bugzilla.mozilla.org/show_bug.cgi?id=1631858

@denschub do you mind taking v12? https://bugzilla.mozilla.org/show_bug.cgi?id=1637672 (no bugs there yet!)

[2020-05-22 21:12] miketaylr commented on #124
OK, https://github.com/mozilla/trexa-service is a thing now. Just need to stand it up on the internet and turn on cron to grab weekly lists.

[2020-05-26 00:51] wisniewskit commented on #134
After some testing, it was found that I needed better Gecko support to make the addon reasonably solid. That work should be landing in [bug 1639718](https://bugzilla.mozilla.org/show_bug.cgi?id=1639718).

Once that lands, I should be ready to post my patches against the webcompat addon for review. My only real concern at this point is that the popup-blocker gets in the way of third-party Facebook

[2020-05-26 04:20] ksy36 commented on #131
Update: added webpack bundling, refactored most of the code to not use global variables. Haven't moved backbone mousetrap yet (clicking g to go to github), so currently looking into that. Next I will need to move css to be part of webpack infrastructure. Still on track

[2020-05-26 09:46] denschub commented on #132
So, [here is the PR for android-components](https://github.com/mozilla-mobile/android-components/pull/7106), and I have a patch for Fenix ready that can land once the a-c PR is settled. For some reason, the `captureTab` API stopped working, even though it absolutely did work in my previous tests. I tried looking into that, but because I'm already way too late here, I decided to remove the screensh

[2020-05-26 10:16] denschub commented on #128
No really significant change since last checkin.

[2020-05-26 10:36] jgraham commented on #135
Generic implementation (for Chrome and Firefox) [under review](https://github.com/web-platform-tests/wpt/pull/21901). Once that's landed I'll get the Gecko-specific implemenation inside marionette up fro review on Phabricator.

[2020-05-26 10:38] jgraham commented on #136
First WG meetng tomorrow. Created an empty document for the core spec and sorting out the admin issues and CI setup. Some more activity on the open issues; there seems to be enough agreement to write down the transport layer of the protocol in a spec document, and probably some basic datatype stuff.

[2020-05-26 11:58] cipriansv commented on #126
Current progress: 69 tested websites on mobile&desktop.

[2020-05-26 12:00] cipriansv commented on #127
We scheduled the next re-check run for the 28th of May.

[2020-05-26 13:08] miketaylr commented on #127
Update: v11 shipped.

[2020-05-26 13:09] denschub commented on #127
I don't!

[2020-05-26 13:09] miketaylr commented on #127
v12 tracking bug https://bugzilla.mozilla.org/show_bug.cgi?id=1637672

[2020-05-28 10:40] cipriansv commented on #127
3rd pass:

**Desktop User-Agent Overrides**:

- att.tv
webcompat/web-bugs#3846

- steamcommunity.com
webcompat/web-bugs#34171

- sling.com
webcompat/web-bugs#17804

- criticalcareontario.ca
webcompat/web-bugs#40267

- www.mobilesuica.com
webcompat/web-bugs#4608

- app.pixton.com
webcompat/web-bugs#43438

**Mobile User-Agent Overrides**:

- app.pixton.com
https://github.com/webcompat/web-bugs/issue

[2020-05-28 16:21] wisniewskit commented on #134
The [blocking bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1639718) has just landed in time for Firefox 78, and I have the patch for changes to the webcompat addon ready for testing (on desktop).

I will upload the webcompat addon patch ASAP to [bug 1637329](https://bugzilla.mozilla.org/show_bug.cgi?id=1637329) for further testing, once Dennis and I have decided on whether the mochitests ough

[2020-05-28 20:55] miketaylr commented on #124
https://trexa.webcompat.com (sorry, I didn't want to buy a new domain) now exists, and here's the PR to make the TSCI run on it: https://github.com/mozilla/tsci/pull/148

[2020-06-03 16:43] miketaylr commented on #124
TSCI has been updated, so this is basically done. 50 / 50 odds of it exploding on Monday when it runs next. :)

[2020-06-03 16:44] miketaylr commented on #126
We decided to call this done at 70 sites.

[2020-06-04 22:34] denschub commented on #132
Fenix PR is merged as https://github.com/mozilla-mobile/fenix/pull/11241 (Emily had to import my patch so CI is happy).

Future follow-up improvements are/will be noted and tracked as dependencies of https://bugzilla.mozilla.org/show_bug.cgi?id=1643132.

[2020-06-09 02:55] wisniewskit commented on #134
I've since figured out the remaining issues with the popup blocker, Fenix support, and basic mochitest coverage, so the bulk of the remaining work here is with addressing the review comments (which are substantial, as existing addon APIs aren't particularly well suited to shimming, but we've decided to use them as much as possible to avoid other complications they still work around). It's my hope

[2020-06-09 11:32] denschub commented on #128
In the process of finishing up my report, both as an internal Google Doc, and a slightly altered form as an article to be published on my blog. Work on this got delayed a bit by other stuff like diagnosis, but this will be done by the end of the week.

Unfortunately, my original idea of altering the UA to be closer to Safaris no longer holds. While it fixes some of the cases that we know about, I

[2020-06-09 12:56] jgraham commented on #135
Landed the code upstream and now on the third attempt at getting the sync containing the print reftest to stick (for reasons unrelated to print reftests). Currently rebasing marionette patches for review on top of that.

[2020-06-09 12:57] jgraham commented on #136
Spec is in-progress https://w3c.github.io/webdriver-bidi/

[2020-06-09 13:04] ksy36 commented on #131
Moved css to webpack bundle, added separate bundle for modern browsers and modified deploy script to run webpack instead of grunt. Needs some additional testing before merging :)

[2020-06-12 04:36] denschub commented on #128
Here is Version 1 of the report, as promised: https://docs.google.com/document/d/1DEwAhckLk9IdB_-aFYyHm6eJbplxWQA5WVLxtqAydUo/edit?usp=sharing

If you don't want to work through all 8 pages, here's the conclusion:

You'll notice that the section containing details about automated sniffing library testing is missing at the moment. That's correct, and that's because I'm reworking major parts in prep

[2020-06-16 09:03] denschub commented on #128
The code for automatic User Agent sniffing libraries testing is at https://github.com/denschub/agent-hypersniff - I'll do a short introduction later today for the team, and eventually write a blog post about that (once I have a proper human readable output, not just a JSON file)

[2020-06-22 09:04] cipriansv commented on #127
4th pass:

**Desktop Interventions:**

- ib.absa.co.za
webcompat/web-bugs#16401
- histography.io
webcompat/web-bugs#1804
- bankofamerica.com
https://bugzilla.mozilla.org/show_bug.cgi?id=1280834
webcompat/web-bugs#2787
- Download prompt for files with no content-type - FIXED, but still present in the about:compat list
https://bugzilla.mozilla.org/show_bug.cgi?id=1577870
https://bugzilla.mozilla.org

[2020-06-23 10:07] denschub commented on #127
Things got a bit delayed because of All Hands, but most interventions are landed on GitHub. [One is still pending review](https://github.com/mozilla/webcompat-addon/pull/141), and when that's done, I'll build a patch for central. Unless something explodes, this should land before the freeze.

[2020-06-23 12:56] wisniewskit commented on #134
There has been a ton of review-churn, but I'm still hopeful to get the last mochitests and nits addressed as early as I can this week to land before the code-freeze. Unfortunately it seems as though unexpected bugs will likely make us miss the window for Fenix in 79, though. Worst-case we'll miss 79 entirely, but I should have the patches landing by month's end.

[2020-06-23 13:07] miketaylr commented on #131
Update: done!

[2020-06-23 13:12] miketaylr commented on #135
Update: on autoland, looking like it will merge to central today.

[2020-06-24 11:01] denschub commented on #127
v12 hit central this morning, and it didn't bounce in 1.5 hours, so I'm optimistic and mark this as done.

[2020-06-26 16:24] miketaylr commented on #129
I'm grading this one a bit harshly, mostly because my take on the campaign is that it largely failed. Maybe 0.7 is a better score, but I don't think it matters much.

[2020-06-26 16:46] #133 closed, assigned to wisniewskit

[2020-06-26 16:46] #124 closed, assigned to miketaylr

[2020-06-26 16:46] #126 closed, assigned to softvision-oana-arbuzov, softvision-sergiulogigan, cipriansv

[2020-06-26 16:46] #128 closed, assigned to skyschub

[2020-06-26 16:46] #129 closed, assigned to nobody

[2020-06-26 16:46] #131 closed, assigned to ksy36

[2020-06-26 16:46] #132 closed, assigned to skyschub

[2020-06-26 16:46] #135 closed, assigned to jgraham

[2020-06-26 16:47] #136 closed, assigned to jgraham

[2020-06-26 16:47] #127 closed, assigned to ksy36, softvision-oana-arbuzov, softvision-sergiulogigan, cipriansv

[2020-06-26 19:37] miketaylr opened #137 "2020Q3 - 2.1 End every week with 0 untriaged and unmoderated bugs"
As measured by the webcompat-metrics server: http://webcompat-dashboard.herokuapp.com/needstriage and https://github.com/webcompat/web-bugs-private/issues (since we don't have a moderation endpoint for the metrics server yet).

The goal here is to track that we're able to keep up with bug load with current resources, and if not, use that as a justification to request more resources.

Note: Comment

[2020-06-26 19:42] miketaylr opened #138 "2020Q3 - 2.2 Manual testing of 5 open source editor libraries"
Libraries to be identified, but the idea is to test (on a hosted demo page, or one we create) and triage known issues identified for Firefox.

Proposed Libraries:
1. https://github.com/microsoft/monaco-editor
2. https://draftjs.org/
3. https://quilljs.com/
4. https://trix-editor.org/
5. https://github.com/tinymce/tinymce

[2020-06-26 19:55] miketaylr opened #139 "2020Q3 - 1.1 Remove form v1 legacy code"
I'm not sure if there is a corresponding issue for the webcompat.com repo yet, so we should file one if not.

This issue is intended to cover the work removing the legacy form and related code that is unused. Possibly some refactoring since we don't need to support 2 types of forms as well.

[2020-06-26 19:56] miketaylr opened #140 "2020Q3 - Reserve: keyboard a11y testing of webcompat.com form"
It should be possible to file a bug with only the keyboard. If it's not, bugs should get filed. 🐛 ⌨️

[2020-06-26 19:56] magsout commented on #138
I could create a page to deploy these libraries.

[2020-06-26 19:59] miketaylr opened #141 "2020Q3 - 1.3 Form v2 measurement and experiments"
The idea here is to try to understand how to improve the form v2 reporting experience. How do we get more reports, or how do we get more valid reports? Are there simple experiments we can run?

Some ideas here: https://docs.google.com/document/d/1SJgjLij3CPWDv0GjEGDwe7FfBhCaCOtBi83asRG8kSo/edit#