[2020-06-29 15:00] ksy36 commented on #139
This should probably include removing/ refactoring css as well, since some of styles are no longer needed

[2020-06-29 19:24] miketaylr commented on #141
IMHO, when we pick this up, we should set a concrete, measurable goal, i.e., improve valid ratio by 10%.

[2020-06-29 19:37] miketaylr opened #142 "2020Q4 - Create tool to migrate Bugzilla issues to web-bugs repo"
We have a goal to move all diagnosis to GitHub. In order to make the transition less painful, it would be nice to have a tool (commandline? web extension?) to do some (if not all) of the following:

* take an existing Bugzilla issue, copy relevant information,
* create a new web-bugs issue
* close the existing Bugzilla issue as MOVED and set See-Also bug to new web-bugs bug

[2020-06-29 19:38] miketaylr opened #143 "2020Q3 - Reserve: webcompat.com Pytest conversion"
The idea here is to modernize our tests (which usually results in simplifying them).

[2020-06-29 19:44] miketaylr opened #144 "2020Q3 - Reserve: Add code formatting for Python in webcompat.com codebase"
The idea is to add code formatting to our Python development workflow for a few reasons, similar to why we use Prettier for JS:
* consistency
* reduce time in reviews focused on formatting

https://pypi.org/project/black/ is a project @karlcow has started to experiment with.

[2020-06-29 19:56] miketaylr opened #145 "2020Q3 - 2.3 Regular System Addon Release Rotations"
https://wiki.mozilla.org/Compatibility/Interventions_Releases#Intervention_Release_Owner_Schedule

We should aim to manually test interventions after a new release, so we can file bugs for removing against tracking issues.

Firefox 80 [v13](https://bugzilla.mozilla.org/show_bug.cgi?id=1647771): Karl, soft freeze deadline: **2020-07-23**
Firefox 81 [v14](https://bugzilla.mozilla.org/show_bug.cgi?id

[2020-06-29 20:02] miketaylr opened #146 "2020Q3 - 1.2 Create externally callable method to return an issue as a static file"
Some details here: https://github.com/webcompat/webcompat.com/issues/3326

Some forward progress on https://github.com/webcompat/webcompat.com/projects/10

[2020-06-29 20:16] miketaylr opened #147 "2020Q3 - 4.1 Fix FastClick.js issues via intervention"
There's a few approaches we could take, but we have a lot of FastClick breakage. We should fix that.

https://github.com/webcompat/web-bugs/labels/type-fastclick

[2020-06-29 20:21] miketaylr opened #148 "2020Q3 - 4.2 Land ETP shimming in webcompat SAO"
@softvision-oana-arbuzov and @cipriansv will do the QA signoff for the feature.

Carry-over work from https://github.com/mozilla/webcompat-team-okrs/issues/134

The goal here is to land the work from https://bugzilla.mozilla.org/show_bug.cgi?id=1637329, and land as many shims in Q3 as we can.

[2020-06-29 20:32] miketaylr opened #149 "2020Q3 - 4.3 Android Components Report Site Issue parity work"
Tracking Bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1643132

This KR tracks the following issues:

* [x] [Bug 1645844](https://bugzilla.mozilla.org/show_bug.cgi?id=1645844): Add `browser-foo` to `extra_labels` so we can track product funnel
* [x] [Bug 1643147](https://bugzilla.mozilla.org/show_bug.cgi?id=1643147): Enable automated screenshots
* [x] [Bug 1643148](https://bugzilla.mozilla.org

[2020-06-29 20:33] miketaylr commented on #134
Let's go ahead and close this in favor of #148.

[2020-06-29 20:33] #134 closed, assigned to wisniewskit

[2020-06-29 20:34] miketaylr opened #150 "2020Q4 - Get Fenix Report Site Issue menu item to root level"
https://bugzilla.mozilla.org/show_bug.cgi?id=1643144

[2020-06-29 20:35] miketaylr opened #151 "2020Q3 - Reserve: Figure out localization options for the Android-Components reporter addon"
https://bugzilla.mozilla.org/show_bug.cgi?id=1643146

[2020-06-29 20:37] miketaylr opened #152 "Prototype intervention automated testing"
Can we write a simple test format that can be run via webdriver comparing a site's expected vs actual behavior before and after disabling the webcompat system addon?

[2020-06-29 20:39] miketaylr opened #153 "2020Q3 - 2.4: Surface priority of bugs being reported in metrics dashboard"
See https://github.com/webcompat/webcompat-metrics-client/issues/14

[2020-06-29 20:42] miketaylr opened #154 "2020Q3 - 4.4 WebDriver BiDi spec work"
The goal this quarter is to get the BiDi spec into a state where there’s enough infrastructure to build out real features (script execution, logging, etc.) (perhaps in Q4).

We will link to specific GitHub issues once they exist.

Useful links:
* https://w3c.github.io/webdriver-bidi/
* https://github.com/w3c/webdriver-bidi

[2020-06-29 21:20] miketaylr opened #155 "2020Q3 - 3.1 Write 20 web platform tests for WebCompat Priority bugs (where they don't exist)"
This could be impossible, depending on the WPT harness. But if not, we should file those bugs and provide use cases.

See https://wiki.mozilla.org/Compatibility/WebCompat_Tracking_And_Triage for links to P1, P2, P3 bugs.

[2020-06-29 21:22] miketaylr opened #156 "2020Q3 - 3.2 wpt-sync Python 3 conversion"
[wpt-sync](https://github.com/mozilla/wpt-sync) is critical infrastructure to support bi-directional sync between Mozilla Central and the Web Platform Test project. This card tracks the work of getting the project working in Python 3 (since 2 is unsupported at this point).

We need to scope this more tightly, but here's a list of bugs:

https://github.com/mozilla/wpt-sync/labels/Python%203

Initia

[2020-06-29 21:25] miketaylr opened #157 "2020Q3 - 3.3 Improve wpt-sync sync landing sheriffing process"
The end result here should be some up to date documentation that sheriffs (and our team) can use to handle issues that come up from wpt-sync landings.

This is probably a good opportunity to get more than just James involved in the process (if we think that deserves its own card, we can do that too) of unsticking wpt-sync merges and updating metadata related to intermittents.

The goal is to have

[2020-06-30 01:31] miketaylr commented on #147
https://bugzilla.mozilla.org/show_bug.cgi?id=1448747

[2020-06-30 02:47] karlcow commented on #138
Maybe slightly related I wonder if an aggregator of github issues monitoring firefox keywords for known libraries, would help to raise flags. Just a thought.

[2020-06-30 02:48] karlcow commented on #138
ahah. https://github.com/search?l=JavaScript&o=desc&q=firefox&s=created&type=Issues

[2020-06-30 02:52] karlcow commented on #156
Probably a project in wpt-sync with a py3 - Phase 1 conversion collecting all the issues doable on Q3

[2020-06-30 17:54] miketaylr opened #158 "2020Q3 - 1.4 Create outreach template tooling"
See https://docs.google.com/document/d/15pLZBwqQ85dKOelsUszsgk7gVyqV1AljHNIytklIgzU/edit with ideas.

@ksy36 can you link relevant bugs once they exist?

[2020-07-01 16:02] miketaylr opened #159 "2020Q3 - Reserve: QA re-verification of needsdiagnosis issues"
Some older issues may no longer be valid, let's check them.

[2020-07-01 16:03] miketaylr opened #160 "2020Q3 - 2.5 QA re-reverification of sitewait and needscontact issues"
Some of these issues may have been fixed, or no longer reproduce. We should check them in Q3.

[2020-07-02 17:44] ksy36 commented on #158
Created a project https://github.com/webcompat/webcompat.com/projects/11

[2020-07-06 16:55] miketaylr commented on #141
@rosanardila can you link us to existing research please?

[2020-07-06 17:04] miketaylr commented on #141
Here's the folder -- there's some good stuff in there worth considering as experimental directions: https://drive.google.com/drive/folders/1QXkAoVlHKF23SW85zCc9xt_-jeyOx61l

[2020-07-06 22:12] wisniewskit commented on #148
I'm just waiting on final r+ from RobWu now on the patch; Dimi has already signed off. I should be able to land as soon as the legal team completes a risk assessment (but that assessment is well underway, and I don't see any major concerns being expressed so far).

Once legal has made a recommendation, we will decide which shims to land right away, and which to wait on for now. I'm presuming that

[2020-07-09 14:33] softvision-oana-arbuzov commented on #145
[Done] QA verification progress will be visible here (1st run 10-13.07.2020): https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=955297959

[2020-07-10 14:10] softvision-oana-arbuzov commented on #137
Progress - 10.07.2020: 0 [untriaged](https://github.com/webcompat/web-bugs/issues?page=1&q=is%3Aissue+milestone%3Aneedstriage+is%3Aopen) / 0 [unmoderated](https://github.com/webcompat/web-bugs-private/issues?q=is%3Aissue+is%3Aopen+) / 10 backlog issues (needsinfo)

[2020-07-13 02:45] karlcow commented on #145
so far for v13

* 1649325/1
* 1651292/1
* 1651917/1
* 1651943/1
* 1651946/1
* 1652025/1

[2020-07-13 02:51] karlcow commented on #139
Created https://github.com/webcompat/webcompat.com/projects/12

[2020-07-14 05:59] karlcow commented on #139
* [Removing python code](https://github.com/webcompat/webcompat.com/issues/3380)

[2020-07-15 08:10] karlcow commented on #139
* [Removing HTML/CSS code](https://github.com/webcompat/webcompat.com/pull/3393)

[2020-07-16 15:21] softvision-oana-arbuzov commented on #140
I've created a new label for Accessibility issues on webcompat.com
https://github.com/webcompat/webcompat.com/labels/a11y

[2020-07-17 14:42] softvision-oana-arbuzov commented on #137
Progress - 17.07.2020: 0 [untriaged](https://github.com/webcompat/web-bugs/issues?page=1&q=is%3Aissue+milestone%3Aneedstriage+is%3Aopen) / 0 [unmoderated](https://github.com/webcompat/web-bugs-private/issues?q=is%3Aissue+is%3Aopen+) / 12 backlog issues (needsinfo)

[2020-07-17 18:05] ksy36 commented on #141
Created a project https://github.com/webcompat/webcompat.com/projects/13

[2020-07-20 07:47] karlcow commented on #145
v13.0.0 has been published.

[2020-07-20 07:48] karlcow commented on #146
Development has been started.
Follow on this draft pull request https://github.com/webcompat/webcompat.com/pull/3406

[2020-07-21 02:58] wisniewskit commented on #148
We received r+, so I tried landing on the past weekend, but there is a mysterious test failure in automation that caused a back-out. It's possible it's just a broken test (it seems flaky already), but I am on PTO this week, so I won't be around to figure it out until next week. RobWu is taking a look, though it seems likely that we won't land it in this cycle unless the test-failure can be covered

[2020-07-21 12:56] ksy36 commented on #141
Update: added analytics for see the rate of drop off on each step.

[2020-07-21 13:04] denschub commented on #149
I started on the tabActor work, but no real progress yet since I was on PTO. :)

[2020-07-21 13:06] miketaylr commented on #156
Update: we have a Docker image that can use Python 3 (the tests fail). And some auto-generated annotations from MyPy. Next steps: fix the annotations, and use that to make progress.

[2020-07-24 12:02] cipriansv commented on #137
Progress - 24.07.2020: 0 [untriaged](https://github.com/webcompat/web-bugs/issues?page=1&q=is%3Aissue+milestone%3Aneedstriage+is%3Aopen)/ 0 [unmoderated](https://github.com/webcompat/web-bugs-private/issues?q=is%3Aissue+is%3Aopen+) / 23 backlog issues (needsinfo)

[2020-07-29 03:22] karlcow commented on #139
And we are done!

[2020-07-29 12:17] softvision-oana-arbuzov commented on #160
Progress is visible here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=618764285

[2020-07-31 14:04] cipriansv commented on #137
Progress - 31.07.2020: 0 untriaged / 0 unmoderated / 5 backlog issues (needsinfo)

[2020-08-03 15:11] softvision-oana-arbuzov commented on #148
QA testing progress is visible here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1987467379

[2020-08-03 18:44] miketaylr opened #161 "2020Q3 - Reserve: enable SpecialPowers for Web Platform Tests"
The idea captured in this card is one or more of the following:

1. understand which SpecialPowers APIs are used in mochitest, and break that down into:
a. things wpt can already do
b. things wpt can't do

2. Create a spec, adding the relevant APIs
3. Write some code exposing these APIs, behind a pref, or Nightly-only (or something)

[2020-08-03 18:45] miketaylr commented on #161
@jgraham has started some of this here: https://jgraham.github.io/browser-test/

[2020-08-03 18:52] jgraham commented on #161
I think the original request here was more literally making specialPowers itself work with gecko-only wpt. But I think both things are useful; this approach is more forward-looking but probably also longer-term. I don't think we need multiple issues yet; it's possible that doing stage 1 here will reveal that either a) there aren't many specialPowers things in use that can't be converted into cross

[2020-08-04 11:35] cipriansv commented on #160
**Needscontact** re-checked issues: 153/486.
**Fixed** issues: 57

[2020-08-04 12:39] denschub commented on #149
Did some re-prioritization inspired by Ksenia asking for a proper "Fenix" label to improve her statistics. That feature is implemented, and I'm currently writing some in-tree (as in inside android-components) tests for that one.

[2020-08-04 12:50] softvision-oana-arbuzov commented on #145
We'll perform a new QA verification run 6th of August.
On desktop `about:compat` is not available https://bugzilla.mozilla.org/show_bug.cgi?id=1656863 Uncaught (in promise) Error: not allowed` on about:compat

[2020-08-04 12:58] karlcow commented on #146
Progress is ongoing. We are on track with trying to keep everything tested at 100%.

[2020-08-04 13:02] jgraham commented on #156
Ongoing slow progress updating the annotations. Fixed maybe 700 hundred initial failures, down to maybe 100.

[2020-08-04 13:07] denschub commented on #145
@softvision-oana-arbuzov There are two preferences in `about:config`: `extensions.webcompat.perform_injections` and `extensions.webcompat.perform_ua_overrides` you can toggle to `false` to disable interventions. Please note that those preferences reset to their defaults on browser restart.

[2020-08-04 13:08] wisniewskit commented on #148
The addon landed, and it seems to have stuck. Now about:compat needs to be fixed, and we need to iterate on improving the addon and landing it on Android.

[2020-08-05 12:53] softvision-oana-arbuzov commented on #148
We've finished testing Facebook login on the provided sites from [ETP Strict List Breakage Fix Technical Documentation](https://docs.google.com/document/d/1jG94XBGx8iNP89NWInxEtT797g82pCyZqyU5XP2yex0/edit#) and bellow are the issues we found:

[1657330](https://bugzilla.mozilla.org/show_bug.cgi?id=1657330) Unable to login with Facebook on https://fr.boardgamearena.com/ with ETP set to Strict
[1657

[2020-08-05 17:00] miketaylr opened #162 "2020Q3 - Reserve: Move webcompat production to dedicated server"
Right now we're running staging and prod on the same box, which is not ideal! So, let's split 'em up. I have the box set up (it's running the trexa API service), we just need to do the work.

It would also be interesting to perhaps keep production running on the staging box and set up load balancing via nginx.

[2020-08-05 17:05] miketaylr commented on #162
Maybe a good collaborative project for @karlcow and @ksy36, taking the opportunity to set up Ksenia with all the accounts and special powers for deploys.

[2020-08-06 12:02] softvision-oana-arbuzov commented on #145
[Done] QA verification progress will be visible here (2nd run 06.08.2020): https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1162622086

[2020-08-07 00:00] miketaylr commented on #141
@ksy36 I forgot to deploy https://github.com/webcompat/webcompat.com/pull/3428 to production until just now. Sorry!

So, for measuring and comparing, Aug 6th 11:57ish UTC time is when that change went live.

[2020-08-07 14:01] cipriansv commented on #137
Progress - 07.08.2020: 0 untriaged / 0 unmoderated / 7 backlog issues (needsinfo)

[2020-08-14 14:03] cipriansv commented on #137
Progress - 14.08.2020: 0 untriaged / 0 unmoderated / 42 backlog issues (needsinfo)

[2020-08-17 06:12] karlcow commented on #146
* [x] Issue data extraction and modelization
* [x] issue as_html
* [x] save
* [x] issue html template prototype
* [x] comments extraction and modelization
* [x] comment as_html
* [x] convert body from markdown to html
* [x] individual comment template
* [x] for-loop for comments

The basics functionality should be finished by next meeting in 2 weeks.
The layout is probably the difficult choice

Th

[2020-08-18 01:32] ksy36 commented on #141
After deploying https://github.com/webcompat/webcompat.com/pull/3428 drop off rate at the description step went down.

From Jule 17th-August 5th drop off was 27.7%, and after the change was deployed (August 7th-August 17th) drop off is 6.19%. So about 20% more users moved to the next step, instead of leaving the site. That does not necessarily mean we get more valid reports, though :) Seems that t

[2020-08-18 11:31] denschub commented on #149
I have identified a path to take, but unfortunately the meeting to properly discuss this hasn't happened yet because of reasons(tm). I'm poking folks, but my main point of contact is OOO this week, so I'll most likely just draft everything into an email and throwing that into the fenix team's inbox.

[2020-08-18 12:13] cipriansv commented on #160
Updated status:

**Needscontact** re-checked issues: 270/486.
**Fixed issues**: 125

[2020-08-18 12:22] softvision-oana-arbuzov commented on #140
I did a bit of a11y testing, I just need to report the issues.

[2020-08-18 12:26] softvision-oana-arbuzov commented on #145
Next QA run will be performed on 3rd of September.

[2020-08-18 12:48] jgraham commented on #156
mypy now passes; working through Python 3 test failures; currently 30 known failures to go.

[2020-08-18 13:08] wisniewskit commented on #148
Only one regression so far, which has been fixed. The code has been backported to the GitHub repo now, as it seems to have stuck for good. Will chat with Steve today to figure out our roadmap here, but otherwise it seems like figuring out the bugs uncovered in the comment above will be the order of the day now.

[2020-08-18 13:15] miketaylr commented on #148
(Optimistically looking to ride in 82)

[2020-08-21 14:00] cipriansv commented on #137
Progress - 21.08.2020: 0 untriaged / 0 unmoderated / 5 backlog issues (needsinfo)

[2020-08-21 14:33] ksy36 commented on #145
v14.0.0 has made it to mozilla-central and android components

[2020-08-24 23:46] ksy36 commented on #141
Another set of changes was deployed on production today, August 24: https://github.com/webcompat/webcompat.com/issues/3429 , https://github.com/webcompat/webcompat.com/issues/3458

[2020-08-25 22:33] miketaylr commented on #155
Starting to write a plan here: https://docs.google.com/document/d/1fWkJTDz2bgYZ93m1WER_Jl4OTukBw51M2d9MdWqBdug/edit (draft)

[2020-08-26 13:34] miketaylr commented on #138
@magsout that would be super helpful. Can you help out with this?

[2020-08-27 08:10] magsout commented on #138
@miketaylr I opened this new repository https://github.com/webcompat/webcompat-editor-testing

Hosted page is available here https://webcompat.github.io/webcompat-editor-testing/

I hope is it what you want/need/ask

[2020-08-27 13:50] miketaylr commented on #138
This is so great, thank you!

[2020-08-28 14:00] cipriansv commented on #137
Progress - 28.08.2020: 0 untriaged / 0 unmoderated / 5 backlog issues (needsinfo)

[2020-08-31 06:39] karlcow commented on #146
We are basically done.
The rest is the template details what we want to display, and where.

We have a tool now, which allows us if needed to be called from an external script, from inside flask, whichever we think make sense. That will take an issue dictionary and creates an html page ready to save at the location of our choice.

[2020-09-01 01:08] karlcow commented on #155
first wpt test Opacity placeholder https://github.com/web-platform-tests/wpt/pull/25310

[2020-09-01 05:34] karlcow commented on #155
added CSS Zoom Test https://github.com/web-platform-tests/wpt/pull/25314
And found out that data URI with hash sign already had a test. https://github.com/web-platform-tests/wpt/pull/8109

[2020-09-01 11:52] cipriansv commented on #160
Updated status:

**Needscontact** re-checked issues: 486/486
Fixed issues: 179
Invalid issues:14

**Sitewait** re-checked issues: 91/305
Fixed issues: 25
Invalid issues:4

[2020-09-01 12:33] softvision-oana-arbuzov commented on #148
We've came up with a [Feature status](https://docs.google.com/spreadsheets/d/1Y_KDbR5Sb8DcNdcqDFSHt-asY2wmn0t6OLNk_MdLyTw/edit?skip_itp2_check=true#gid=0), [Test Plan](https://docs.google.com/document/d/1w3WNLJbFqcNtPJec1XU2NuoxMJUou75safKCng9Sa20/edit#), [HL Test Case (Desktop)](https://docs.google.com/spreadsheets/d/151fo7n0I1neoBHoDl-JwVH-o7Fhf3nrybKBRHGbqlzA/edit#gid=0) and [Test Report (Deskt

[2020-09-01 12:37] softvision-oana-arbuzov commented on #138
Update: a bit of research and manual testing on the @magsout provided page.

[2020-09-01 12:40] softvision-oana-arbuzov commented on #140
Waiting for the batch of issues to be fixed/merged in order to perform confirmation testing on them.

[2020-09-01 13:00] denschub commented on #149
Got A-C tests for both components working (yay!), and am working on tests inside Fenix, which appear to be a lot simpler, because there is an actual app to be tested. I also accidentally built screenshots into the Fenix reporter, so that's another "done" once that patch lands (hopefully that's in a couple of days).

[2020-09-01 13:02] jgraham commented on #156
Deployed Py3 version, found some issues in production, made some fixes. Basically things are looking good.

[2020-09-01 13:03] jgraham commented on #154
Made a PR for rearranging some of the schema bits https://github.com/w3c/webdriver-bidi/pull/50. Started working on the event infra.

[2020-09-01 13:06] ksy36 commented on #141
Since deploy on Aug 6th the percent of valid reports remained more or less the same.
Since deploy on August 24 we got more reports (about a 100 more). Still have to wait to know on the number of valid reports since the last deploy.

[2020-09-01 13:07] wisniewskit commented on #148
There is one issue we're trying to deal with right now: https://bugzilla.mozilla.org/show_bug.cgi?id=1661330

Aside from that, i've been in discussions on how to handle the releasee process (blog posts, etc). It seems as though if we find no other blockers, we ought to be alright.

[2020-09-01 13:29] miketaylr commented on #148
We need to file a new JIRA request for the mobile testing.

[2020-09-01 13:33] denschub commented on #150
I've had some chats, and am working on a patch, no real ETA yet, but this is "in progress".

[2020-09-02 03:26] miketaylr commented on #148
https://jira.mozilla.com/browse/PI-794

[2020-09-02 15:32] softvision-oana-arbuzov commented on #148
We've finished testing ETP Shim on mobile (Android 8 & 10):
- no new issues were found
- the reported desktop issues also reproduce on mobile

Specific documents were created and updated: [Feature status](https://docs.google.com/spreadsheets/d/1Y_KDbR5Sb8DcNdcqDFSHt-asY2wmn0t6OLNk_MdLyTw/edit?skip_itp2_check=true#gid=0), [Test Plan](https://docs.google.com/document/d/1w3WNLJbFqcNtPJec1XU2NuoxMJUou

[2020-09-02 15:34] softvision-oana-arbuzov commented on #145
[Done] QA verification progress will be visible here (3nd run 03.09.2020): https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=100736700

[2020-09-02 17:02] miketaylr commented on #148
Thank you @softvision-oana-arbuzov and @cipriansv!

[2020-09-04 13:59] softvision-oana-arbuzov commented on #137
Progress - 04.09.2020: 0 untriaged / 0 unmoderated / 3 backlog issues (needsinfo)

[2020-09-10 06:18] karlcow commented on #155
fyi:

The test in https://github.com/web-platform-tests/wpt/pull/25310 uses the test harness for testing the CSS property, probably better for automated testing. As this is a super simple example. That might help. I used this as a guide https://github.com/web-platform-tests/wpt/blob/6f90ad64b9f531ae835623e445a6010031a52aa7/css/css-align/gaps/grid-gap-parsing-001.html   BUT there is also http://dar

[2020-09-10 07:38] karlcow commented on #155
@jgraham do you think that a test on the default value of deltaMode, aka DOM_DELTA_PIXEL should go in this directory?
https://github.com/web-platform-tests/wpt/tree/master/uievents/constructors
cf https://bugzilla.mozilla.org/show_bug.cgi?id=1392460

[2020-09-10 09:20] jgraham commented on #155
Yes, that looks like the right place to me.

[2020-09-11 02:43] karlcow commented on #155
Thanks.
Here I have created a WPT like test file for testing a very old webcompat issue.  I uploaded it on bugzilla to experiment the other process where a test is validated inside gecko and goes to WPT.
https://bugzilla.mozilla.org/show_bug.cgi?id=445952#c7

[2020-09-11 14:09] cipriansv commented on #137
Progress - 11.09.2020: 0 untriaged / 0 unmoderated / 33 backlog issues (needsinfo)

[2020-09-11 17:08] denschub commented on #149
Code that's adding screenshots, adding all the `tabExtrasActor` magic, as well as tests for both our components is, in theory, ready to land: https://github.com/mozilla-mobile/android-components/compare/master...denschub:webcompat-features-work

Unfortunately, I ... can't land that, because `tabs.captureVisibleTab()` broke on mobile 17 days ago [due to some Fission work](https://bugzilla.mozilla.o

[2020-09-14 01:48] karlcow commented on #155
To the rest of the team, if you come with tests.

1. Check the [repo](https://github.com/web-platform-tests/wpt/) if there's a similar test, aka search the code for similar things.
2. If the test doesn't exist or you didn't find it, Prefer [testharness](http://web-platform-tests.org/writing-tests/testharness-tutorial.html) method than manual checking.
3. You can test locally by setting up your com

[2020-09-14 02:22] karlcow commented on #155
For submitting in mozilla-central
See https://searchfox.org/mozilla-central/source/testing/web-platform/tests
 a mirror(?) of WPT tests at gecko and we can commit in mozilla central and then submit a patch.

And if you want an example, see https://bugzilla.mozilla.org/show_bug.cgi?id=1655393

[2020-09-14 07:43] karlcow commented on #155
I'm trying to get a better understanding of https://bugzilla.mozilla.org/show_bug.cgi?id=1392460

[code]

on macOS returns 0 on the 3 browsers (without a mouse connected). so it already returns DOM_DELTA_PIXEL. Does that mean this value changes when connecting a mouse and/or on windows?

Then I was wondering how do we simulate a connected mouse for a web platform test if it depends on what is conn

[2020-09-15 06:36] softvision-oana-arbuzov commented on #160
Final status:

Needscontact re-checked issues: 486/486
Fixed issues: 179
Invalid issues: 14

Sitewait re-checked issues: 305/305
Fixed issues: 59
Invalid issues: 11

Considering the above this task is Completed.

[2020-09-15 10:27] denschub commented on #150
This is probably at risk because I am facing some issues, as well as other issues taking more time than expected. That's probably fine, because this was part of the Q4 reserve anyway, but it's still in progress. :)

[2020-09-15 10:38] denschub commented on #155
Also, an update from me: I was a bit tied up in other things this quarter, but I wrote some experimental WPTs in the last few days to see if I can get things running, and am currently looking into the CSP-related fun, https://bugzilla.mozilla.org/show_bug.cgi?id=1570722.

[2020-09-15 12:57] wisniewskit commented on #148
Quick update: we're likely to slip the release of ETP shims slip into the 83 release instead of 82, due to the UX team wanting some more time to think through the way the ETP "blocked content" interfaces interact with shims. In that case they will continue to be a nightly-only feature during the 82 release cycle.

[2020-09-15 12:57] softvision-oana-arbuzov commented on #138
Update: Research on functionality for:
- https://draftjs.org/
- https://trix-editor.org/
- https://github.com/tinymce/tinymce

[2020-09-15 12:58] wisniewskit commented on #145
Version 15.0.0 has just landed in m-c and a-c.

[2020-09-15 13:01] softvision-oana-arbuzov commented on #140
Update: 2 issues reaming.
We will schedule a session this week to perform confirmation testing on the rest of the fixed issues.

[2020-09-15 13:08] ksy36 commented on #158
Set up build and deployment, deployed first issue on https://webcompat-outreach.herokuapp.com/

[2020-09-15 13:15] jgraham commented on #154
Also filed https://github.com/w3c/webdriver-bidi/pull/51 and started to look at object serilization.

[2020-09-15 13:16] jgraham commented on #157
Updated the documentation and started the process to get @denschub and @ksy36 access.

[2020-09-15 13:18] miketaylr commented on #141
Update: after looking at numbers, the valid % hasn't changed since the last deploy. Currently working on mobile perf, on a theory that it sucks so people report fewer bugs.

[2020-09-15 13:21] miketaylr commented on #138
When we do file bugs, we should link them here: https://docs.google.com/document/d/12kA5Ng11keqFdfMngEqLmEqggmXSoxa6vSKbBpuYlkw/edit#

[2020-09-18 13:59] cipriansv commented on #137
Progress - 18.09.2020: 0 untriaged / 0 unmoderated / 4 backlog issues (needsinfo)

[2020-09-18 15:19] softvision-oana-arbuzov commented on #140
We've finished confirmation testing and below are the results:
- verified 10 issues: [9 fixed](https://github.com/webcompat/webcompat.com/issues?q=label%3Aa11y+is%3Aclosed) and [1 reopened](https://github.com/webcompat/webcompat.com/issues/3456) (partially fixed)
- [4 new issues](https://github.com/webcompat/webcompat.com/issues?q=is%3Aopen+label%3Aa11y+is%3Aissue+created%3A%3E%3D2020-09-15+) foun

[2020-09-22 11:40] softvision-oana-arbuzov commented on #145
We'll perform another QA verification on 1st of October.

[2020-09-22 11:49] softvision-oana-arbuzov commented on #138
We've performed exploratory testing on all platforms (Windows/Linux/Mac) on:
- https://draftjs.org/
- https://github.com/tinymce/tinymce

[2020-09-22 20:24] denschub commented on #149
https://github.com/mozilla-mobile/android-components/pull/8448 is merged. This means that the feature-complete reporter will ship in android-components 61, so it should be in Fenix Nightly in 2 weeks or so. My work here is done.

[2020-09-24 01:19] karlcow opened #163 "2020Q4 - webcompat.com - Transfer the server to the new droplet"
* [x] Ensure images are in sync
* [x] Ensure the domain name is pointing to the right IP address
* [x] Phase 1 with staging
* [x] Phase 2 with prod

Possibility to create two separate droplets.

To discuss with @ksy36

[2020-09-24 01:43] karlcow opened #164 "2020Q4 - Regular System Addons Release rotations"
https://wiki.mozilla.org/Compatibility/Interventions_Releases#Intervention_Release_Owner_Schedule

We should aim to manually test interventions after a new release, so we can file bugs for removing against tracking issues.

* Firefox 83 ([v16](https://bugzilla.mozilla.org/show_bug.cgi?id=1663967)) - Dennis - Landing target: **2020-10-08**
* Firefox 84 ([v17](https://bugzilla.mozilla.org/show_bug.c

[2020-09-25 14:00] softvision-oana-arbuzov commented on #137
Progress - 25.09.2020: 0 [untriaged](https://github.com/webcompat/web-bugs/issues?page=1&q=is%3Aissue+milestone%3Aneedstriage+is%3Aopen)/ 0 [unmoderated](https://github.com/webcompat/web-bugs-private/issues?q=is%3Aissue+is%3Aopen+) / 6 backlog issues (needsinfo)

[2020-09-29 12:49] wisniewskit commented on #148
We did decide to ship in version 83. I'm just working with Nihanth to figure out what work remains to be done here, and will post another quick update as soon as he has a chance to confirm it.

[2020-09-29 13:02] ksy36 commented on #141
Update: Mobile performance improvements are done, need to deploy the changes.  As for the numbers, in the past two weeks (week of Sept 7, Sept 14) the ratio of valid reports slightly went down. Not sure if that caused by the recent changes to the form, or something else, need to watch the numbers for the week of Sept 21.

[2020-09-29 13:02] denschub commented on #150
Someone in the android-components team now wants to work on that - so I'm doing some coordination to make that happen.

[2020-09-29 13:02] ksy36 commented on #158
Update: This is almost done (need someone to review the code https://github.com/webcompat/outreach/pull/6)

[2020-09-29 13:04] jgraham commented on #154
https://github.com/w3c/webdriver-bidi/pull/57 and https://github.com/w3c/webdriver-bidi/pull/56 also filed; these are mostly waiting on review from others. I think we made good progress here and should be in a good place to get to feature work next quarter.

[2020-09-29 13:06] jgraham commented on #157
Got access for denschub and ksy36. Had a meeting to demonstrate the basics of making the sync run, and set up a matrix channel for sync-sync. Need to continue to keep people involved with the process.

[2020-09-29 13:07] softvision-oana-arbuzov commented on #138
Issues found:
58643 webcompat.github.io - Flags emoji are not displayed properly (Chrome)
58646 webcompat.github.io - Incorrect display of pasted icon (Chrome)
58695 webcompat.github.io - H1 text is enlarged when using "Bold" style (Firefox)
58740 quilljs.com - Incorrect highlight on text with background color (Firefox)
58745 quilljs.com - Paragraphs get selected when double clicking at the end of

[2020-09-29 14:11] softvision-oana-arbuzov opened #165 "2020Q4 - End every week with 0 untriaged and unmoderated bugs"
As measured by the webcompat-metrics server: http://webcompat-dashboard.herokuapp.com/needstriage and https://github.com/webcompat/web-bugs-private/issues (since we don't have a moderation endpoint for the metrics server yet).

The goal here is to track that we're able to keep up with bug load with current resources, and if not, use that as a justification to request more resources.

Note: Comment

[2020-09-29 14:13] softvision-oana-arbuzov opened #166 "2020Q4 - QA re-verification of needsdiagnosis issues"
Some older issues may no longer be valid, let's check them.

[2020-09-29 14:16] softvision-oana-arbuzov opened #167 "2020Q4 - webcompat.com - a11y testing using different tools (e.g Wave)"
We should perform more a11y testing on webcompat.com form using different tools.

[2020-09-29 14:19] softvision-oana-arbuzov opened #168 "2020Q4 - Manual testing on web learning platforms"
We could perform some testing on learning platforms since we do receive a lot of issues there
For example we could check Udemy (Mozilla account), Codecademy, Coursera, freeCodeCamp, Google Classroom, edX etc.

[2020-09-29 14:21] softvision-oana-arbuzov opened #169 "2020Q4 - ETP shim testing on 20 new sites from the optional list"
We can continue testing ETP shimming on the optional list of sites
https://gist.github.com/englehardt/a698fa491d477cc03a67e383c8853ca0

[2020-09-29 14:25] softvision-oana-arbuzov opened #170 "2020Q4 - Reserve: Create or Propose UA Overrides for some domains"
Author and ship 3 UA Overrides in the webcompat system addon
List of issues where UA Override is needed:
https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit#gid=689508537

[2020-09-29 14:30] softvision-oana-arbuzov opened #171 "2020Q4 - Reserve: Manual testing of top 4 open source JS editor libraries"
Manual testing of JS editors and triage known issues identified for Firefox.

Libraries:
1. https://draftjs.org/
2. https://quilljs.com/
3. https://trix-editor.org/
4. https://github.com/tinymce/tinymce

Hosted page is available here https://webcompat.github.io/webcompat-editor-testing/

List of issues:
https://github.com/search?l=JavaScript&o=desc&q=firefox&s=created&type=Issues

Reported issues

[2020-09-29 17:45] magsout commented on #158
@ksy36 I will 👍

[2020-10-01 13:19] softvision-oana-arbuzov commented on #164
**[Done]** 1st run - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1337514988

Interventions to be removed:
https://bugzilla.mozilla.org/show_bug.cgi?id=1668463 Remove Intervention for dns.google.com
https://bugzilla.mozilla.org/show_bug.cgi?id=1668465 Remove Intervention for reallygoodemails.com

[2020-10-02 14:00] cipriansv commented on #165
Progress - 02.10.2020: 0 untriaged / 0 unmoderated / 7 backlog issues (needsinfo)

[2020-10-05 01:58] karlcow opened #172 "2020Q4 - Webdriver-bidi - standardisation"
**Motivation**: Support standardisation of bidirectional communication protocol for automating browsers, in order to allow modern automation tooling (e.g. Puppeteer) to work across multiple browsers.

**Goal**: Continue driving spec work, getting it to the point where an end-user feature (e.g. logging or script execution) is specified.
**Size**: Large; maybe 1-1.5 months work in quarter

[2020-10-05 02:00] karlcow opened #173 "2020Q4 - WPT - Enable specialPowers in gecko-only web-platform-tests"
**Goal**: Enable specialPowers in gecko-only web-platform-tests. This will reduce the number of cases where Gecko developers have to use mochitest, and in the long term allow us to move to all new tests being wpt.

**Size**: Medium. Probably a couple of weeks to a month of work

[2020-10-05 02:02] karlcow opened #174 "2020Q4 - WPT - Implement proposed Browser Testing Standard in Gecko"
**Goal**: Implement proposed Browser Testing Standard in Gecko, and produce a workstream proposal for the spec.

**Size**: Medium. Probably a couple of weeks to a month of work. May dovetail with the specialPowers works.

[2020-10-05 02:04] karlcow opened #175 "2020Q4 - WPT - Get testdriver APIs working correctly in cross-origin iframes/windows"
**Goal**: Get testdriver APIs working correctly in cross-origin iframes/windows where the test page has a handle to the window.

**Size**: Small. Probably a week of work

[2020-10-05 06:18] karlcow opened #176 "2020Q4 - WPTSync - Fix mach-wpt-update command to work with Python 3"
Goal: Fix mach-wpt-update command to work with Python 3. This is part of the general conversion of mach commands to Python 3 and is appropriate now because the rest of wpt is gaining Py3 compatibility and will likely switch over at the end of the year.

Size: Small? Will probably take a week or two.

Motivation: Ensure we have up-to-date web-platform-tests in m-c so that we are able to use them to

[2020-10-05 06:19] karlcow opened #177 "2020Q4 - WPTSync - Get wpt metadata update to stop considering e.g. [PASS, FAIL], [FAIL, PASS] to be different"
**Goal**: Get wpt metadata update to stop considering e.g. [PASS, FAIL], [FAIL, PASS] to be different. This causes a lot of unnecessary metadata churn for little benefit.

**Size**: Hopefully small assuming it doesn’t require a significant rearchitecture

**Motivation**: Ensure we have up-to-date web-platform-tests in m-c so that we are able to use them to test for compatibility and regressions.

[2020-10-05 09:44] jgraham commented on #173
This looks like it's easier than expected. I made a patch at https://phabricator.services.mozilla.com/D92035 which seems to enable SpecialPowers, although there may be some followup work to ensure that things work well for developers.

[2020-10-05 09:45] jgraham commented on #175
https://github.com/web-platform-tests/rfcs/pull/63

[2020-10-06 11:42] karlcow commented on #168
TODO: Karl to find a japanese online learning platform.

[2020-10-06 11:45] karlcow commented on #169
This should be discussed/coordinated with @wisniewskit

[2020-10-06 12:08] karlcow commented on #168
Ah the one I was thinking about is https://www.internetacademy.jp/ but I'm not sure they have free online courses

[2020-10-09 14:00] cipriansv commented on #165
Progress - 09.10.2020: 0 untriaged / 0 unmoderated / 10 backlog issues (needsinfo)

[2020-10-09 15:14] denschub commented on #164
v16 is currently landing with a green test run on autoland, so I'm confident it'll stick. However, we had to back out the console logging notifications temporarily, until issues with a test for the extension permission manager are resolved. There is chance I'll have to ship a v16.1 because of that, follow [bug 1670241](https://bugzilla.mozilla.org/show_bug.cgi?id=1670241) for updates.

Since @karl

[2020-10-13 12:50] wisniewskit opened #178 "2020Q4 - Finish landing ETP shims"
There is one pending UX issue, https://bugzilla.mozilla.org/show_bug.cgi?id=1661330
Work on that is in progress, and once it is complete we can finally try riding the trains.

[2020-10-13 12:52] denschub commented on #150
This work is delegated and most of the communication happened without me, so that's great. :mcarare is doing the relevant work. Here are the two issues where some discussion happened and where progress will be tracked:

* https://github.com/mozilla-mobile/fenix/issues/11631
* https://github.com/mozilla-mobile/android-components/issues/8593

[2020-10-13 13:07] jgraham commented on #175
https://github.com/web-platform-tests/wpt/pull/25833 this is as done as seems likely to happen this quater.

[2020-10-13 13:08] jgraham commented on #173
That landed, just need to do an annoucement and wait for feedback.

[2020-10-13 13:08] jgraham commented on #176
I tried this and it seemed to Just Work. I was surprised.

[2020-10-13 13:12] karlcow commented on #172
James: In progress.

[2020-10-13 13:14] karlcow commented on #174
James will work with tom on it.

[2020-10-13 13:17] softvision-oana-arbuzov commented on #166
Progress is available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1291906542

[2020-10-13 13:18] #161 closed, assigned to nobody

[2020-10-13 13:23] karlcow commented on #178
Last week, @wisniewskit figured out what needed to be done. Rescheduled for 84. Early in the next cycle.

[2020-10-16 04:21] karlcow opened #179 "2020Q4 - needstriage on Webcompat Bugzilla"
We currently have 215 issues without a webcompat keywords, so supposedly being in need of needs-diagnosis or another status.

The goal is to make sure these are all being triaged.
https://bugzilla.mozilla.org/buglist.cgi?cmdtype=dorem&remaction=run&namedcmd=needs-triage&sharer_id=473918

[2020-10-16 14:00] cipriansv commented on #165
Progress - 16.10.2020: 0 untriaged / 0 unmoderated / 9 backlog issues (needsinfo)

[2020-10-19 22:44] denschub commented on #142
(For the record, as discussed on Matrix)

I'm very much in favor of this idea, but I'm  against shipping this in our system addon, and I would hard-block that attempt:

Our site intervention addon is meant for shipping interventions when things break. There is a slight performance cost for each intervention, and even though the total cost is minimal, there is no reason to use it for unrelated thin

[2020-10-20 16:31] softvision-oana-arbuzov commented on #166
We've finished verifying the issue. Bellow is the result:
- Fixed: 25
- Reproducible: 95 (4 moved to Sitewait milestone)
- Invalid: 1

We can close this task as: Complete.

[2020-10-20 16:31] #166 closed, assigned to softvision-oana-arbuzov, cipriansv

[2020-10-20 19:32] softvision-oana-arbuzov commented on #164
QA verification 2nd run will be done on 29th October, 2020.

[2020-10-23 14:01] cipriansv commented on #165
Progress - 23.10.2020: 0 untriaged / 0 unmoderated / 10 backlog issues (needsinfo)

[2020-10-23 15:22] denschub commented on #150
This is the current Fenix Nightly:

<img width="264" alt="Screenshot 2020-10-23 at 17 20 40" src="https://user-images.githubusercontent.com/344777/97022315-42f94280-1554-11eb-89e1-4619bbdc75f0.png">

So I'll mark this as done. :)

[2020-10-23 15:22] #150 closed, assigned to skyschub

[2020-10-23 17:39] ksy36 commented on #158
Update: Added an ability to generate a template by id, e.g. https://webcompat-outreach.herokuapp.com/issue/33213

Next step will be to add a comment with a link to the outreach template on the webcompat.com side once an issue is moved to `needscontact` or `contactready` (https://github.com/webcompat/webcompat.com/issues/3374)

[2020-10-26 01:31] karlcow commented on #158
@ksy36 Maybe we can create a new route here. something along `https://webcompat.com/outreach/33213` with either a redirection, aka `Location` or a [`Content-Location`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Location) HTTP header. In case the ` webcompat-outreach.herokuapp.com` domain is sunset or modified one day, it gives more flexibility on our side to control the redi

[2020-10-27 13:08] jgraham commented on #173
Done the announcement. No feedback so far, but also no complaints.

[2020-10-27 13:11] karlcow commented on #178
Still waiting for UX people.

[2020-10-27 13:13] karlcow commented on #176
The switch has not been flipped yet. 0 work to be done, just waiting for the right time.

[2020-10-27 13:14] jgraham commented on #172
https://github.com/w3c/webdriver-bidi/pull/62 is a new PR for working with browsing contexts, also lots of discussion at TPAC; see https://www.w3.org/wiki/WebDriver/2020-TPAC

[2020-10-27 13:15] softvision-oana-arbuzov commented on #179
Progress is available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=98409950

[2020-10-29 15:35] softvision-oana-arbuzov commented on #164
[Done] 2nd run - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=471797029

Interventions to be removed:
https://bugzilla.mozilla.org/show_bug.cgi?id=1674098 Remove intervention for www.kitkat.com.au

[2020-10-30 15:03] cipriansv commented on #165
Progress - 30.10.2020: 0 untriaged / 0 unmoderated / 19 backlog issues (needsinfo)

[2020-11-02 14:53] denschub opened #180 "2021Q1 - Migrate wpt-sync's CI from Travis to GitHub Actions"
With travis-ci.org [shutting down at the end of the year](https://docs.travis-ci.com/user/migrate/open-source-repository-migration#frequently-asked-questions) and travis-ci.com [limiting the amount of CI time FOSS projects can have](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing), we should move the wpt-sync repo from Travis to GitHub Actions.

There is no really complex build matrix

[2020-11-05 05:31] karlcow commented on #164
[v17.0.0 has been released.  ](https://bugzilla.mozilla.org/show_bug.cgi?id=1663978)
Thanks @denschub for holding my hands for some of the steps.

[2020-11-05 05:31] karlcow commented on #164
@ksy36 is the next in line.

[2020-11-06 15:03] cipriansv commented on #165
Progress - 06.11.2020: 0 untriaged / 0 unmoderated / 11 backlog issues (needsinfo)

[2020-11-09 22:21] wisniewskit commented on #178
I've been on bereavement leave lately, so I haven't had a chance to complete this yet. As such we may miss another release window, but I do believe the necessary back-end work is done, and we just have to hook up the UI changes in [bz1661330](https://bugzilla.mozilla.org/show_bug.cgi?id=1661330). The UX team may not have any spare cycles to work on it, but I should be able to write that patch (and

[2020-11-10 00:32] ksy36 commented on #158
Update: Now when the issue is moved to needscontact the comment with outreach link is added. Tested this on staging, will deploy to production once I figure out how to deal with a weird error I'm receiving with deployment script :/

[2020-11-10 03:00] karlcow commented on #163
This is in progress.
We have a new droplet with a new IP. I requested today that staging.webcompat.com point to the new droplet so we can test safely the migration.

[2020-11-10 13:50] cipriansv commented on #169
Progress visible here:

- https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?ts=5ea7d1fa#gid=1987467379.

[2020-11-10 13:54] ksy36 commented on #142
Update: created a repo https://github.com/webcompat/bugzilla-to-webcompat/ and working on the first issue

[2020-11-10 14:02] jgraham commented on #172
Added a PR for working with realms; realised the event subscription design can cause some race conditions so wrote up the concerns for feedback from others.

[2020-11-10 14:11] softvision-oana-arbuzov commented on #167
Started doing a bit of research on https://wave.webaim.org/

[2020-11-10 14:12] karlcow commented on #172
https://w3c.github.io/webdriver-bidi/

[2020-11-12 08:39] softvision-oana-arbuzov commented on #169
We've finished testing all 20 sites on all platforms (Win/Mac/Linux/Android) and no issues were found.

We can mark this OKR completed.

[2020-11-12 08:39] #169 closed, assigned to softvision-oana-arbuzov, cipriansv

[2020-11-13 15:00] cipriansv commented on #165
Progress - 13.11.2020: 0 untriaged / 0 unmoderated / 11 backlog issues (needsinfo)

[2020-11-18 14:02] softvision-oana-arbuzov commented on #164
QA verification 3rd run will be done on 26th November, 2020.

[2020-11-20 15:02] cipriansv commented on #165
Progress - 20.11.2020: 0 untriaged / 0 unmoderated / 11 backlog issues (needsinfo)

[2020-11-26 13:01] softvision-oana-arbuzov commented on #164
**[Done]** 3rd run - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1517261890

Interventions to be removed:
https://bugzilla.mozilla.org/show_bug.cgi?id=1679372 Remove Intervention for everyman.co

[2020-11-27 15:00] cipriansv commented on #165
Progress - 27.11.2020: 0 untriaged / 0 unmoderated / 11 backlog issues (needsinfo)

[2020-12-04 15:07] cipriansv commented on #165
Progress - 04.12.2020: 0 untriaged / 0 unmoderated / 48 backlog issues (needsinfo)

[2020-12-08 10:29] karlcow commented on #163
So this could be done once I have solved the issue with uwsgi.

[2020-12-08 10:45] softvision-oana-arbuzov commented on #168
We started exploratory testing on:
- Codecademy
- Coursera
- freeCodeCamp
- Google Classroom

[2020-12-08 10:45] karlcow commented on #180
Seen this on slack at Mozilla.

So I look for an example in their projects and found:

https://github.com/jazzband/django-configurations/commit/78f9824f0c7959bec01e5caf6582fbe7cb32cbd1

[2020-12-08 10:46] softvision-oana-arbuzov commented on #179
Progress: 33/215

[2020-12-08 13:23] jgraham commented on #174
I'd be very surprised if this happens this quater now; the priority got taken by Python 3 work.

[2020-12-08 13:24] jgraham commented on #172
Responsing to feedback on open PRs which got rather delayed review.

[2020-12-08 13:25] jgraham commented on #172
Also there's one more f2f meeting left this year and a design issue to discuss around event notifications.

[2020-12-08 13:57] ksy36 commented on #164
v.18.1.0 has been shipped https://bugzilla.mozilla.org/show_bug.cgi?id=1663980 and merged to android components repository

[2020-12-08 14:00] ksy36 commented on #142
Update: created an addon, added "Move to wepcompat' button and validation for required bug fields. Will be working on POSTing bug data to webcompat.com next

[2020-12-08 14:04] denschub commented on #180
I have this working in a private fork of mine, but running into occasional timeouts and GItHub support is currently looking into why (because it makes no sense!)

[2020-12-08 14:14] #164 closed, assigned to ksy36, softvision-oana-arbuzov, cipriansv

[2020-12-08 14:17] wisniewskit commented on #178
Still no ETA. I need to chat with a UX team member who has been on PTO lately, but I'm aiming to at least have those discussions before the year's end. Since it seems likely that the required work will not land until next quarter, so this is challenged at best.

[2020-12-08 14:20] karlcow commented on #176
Android has crashes right now because of python 3. Why? What? Investigating.
Stop supporting python 2 next year

[2020-12-10 07:56] karlcow commented on #163
uwsgi issue solved. Now need to test staging.webcompat.com

[2020-12-11 15:00] cipriansv commented on #165
Progress - 11.12.2020: 0 untriaged / 0 unmoderated / 8 backlog issues (needsinfo)

[2020-12-17 15:39] denschub commented on #180
This actually is... blocked.

I have created [a PR](https://github.com/mozilla/wpt-sync/pull/887) with the configs that appear to work, but we can't actually ship this yet. See https://bugzilla.mozilla.org/show_bug.cgi?id=1594423 (MoCo-internal) for details...

[2020-12-17 16:03] jgraham commented on #176
This is done.

[2020-12-18 14:57] cipriansv commented on #165
Progress - 18.12.2020: 0 untriaged / 0 unmoderated / 15 backlog issues (needsinfo)

[2020-12-22 13:45] softvision-oana-arbuzov commented on #179
Progress: 51/215

[2020-12-22 13:54] ksy36 commented on #142
This is complete, published the addon on AMO https://addons.mozilla.org/en-CA/firefox/addon/bugzilla-to-webcompat/

[2020-12-22 14:03] wisniewskit commented on #178
I've met with the ETP team to confirm what needs to be done and everyone is now on the same page, but we won't be able to complete this until next quarter.

[2020-12-24 13:53] softvision-oana-arbuzov commented on #165
Progress - 24.12.2020: 0 untriaged / 0 unmoderated / 11 backlog issues (needsinfo)

[2020-12-31 14:02] softvision-oana-arbuzov commented on #179
Progress: 74/215

[2020-12-31 14:04] cipriansv commented on #165
Progress - 31.12.2020: 0 untriaged / 0 unmoderated / 9 backlog issues (needsinfo)

[2020-12-31 14:09] softvision-oana-arbuzov commented on #168
Found issues:
- Codecademy (desktop&mobile):
https://github.com/webcompat/web-bugs/issues/62571
https://github.com/webcompat/web-bugs/issues/62580
https://github.com/webcompat/web-bugs/issues/63749
https://github.com/webcompat/web-bugs/issues/63750

- Coursera (desktop&mobile):
https://github.com/webcompat/web-bugs/issues/64220
https://github.com/webcompat/web-bugs/issues/63329

[2021-01-08 15:00] cipriansv commented on #165
Progress - 08.01.2021: 0 untriaged / 0 unmoderated / 10 backlog issues (needsinfo)

[2021-01-11 04:43] #137 closed, assigned to softvision-oana-arbuzov, cipriansv

[2021-01-11 04:43] #138 closed, assigned to softvision-oana-arbuzov, cipriansv

[2021-01-11 04:43] #139 closed, assigned to karlcow, ksy36

[2021-01-11 04:43] #140 closed, assigned to softvision-oana-arbuzov, cipriansv

[2021-01-11 04:43] #141 closed, assigned to ksy36

[2021-01-11 04:43] #142 closed, assigned to ksy36

[2021-01-11 04:43] #145 closed, assigned to karlcow, softvision-oana-arbuzov

[2021-01-11 04:43] #146 closed, assigned to karlcow

[2021-01-11 04:43] #149 closed, assigned to skyschub

[2021-01-11 04:43] #154 closed, assigned to jgraham

[2021-01-11 04:43] #156 closed, assigned to jgraham

[2021-01-11 04:43] #157 closed, assigned to jgraham

[2021-01-11 04:43] #158 closed, assigned to ksy36

[2021-01-11 04:43] #160 closed, assigned to softvision-oana-arbuzov, cipriansv

[2021-01-11 04:43] #165 closed, assigned to softvision-oana-arbuzov, cipriansv

[2021-01-11 04:43] #172 closed, assigned to nobody

[2021-01-11 04:43] #173 closed, assigned to jgraham

[2021-01-11 04:43] #175 closed, assigned to jgraham

[2021-01-11 04:43] #176 closed, assigned to nobody

[2021-01-11 23:11] karlcow opened #181 "2021Q1 - Site Interventions Release Calendar"
According to the [Site Interventions Release](https://wiki.mozilla.org/Compatibility/Interventions_Releases#Intervention_Release_Owner_Schedule)

* [x] [Firefox 87 (v19)](https://bugzilla.mozilla.org/show_bug.cgi?id=1686065) - @wisniewskit 2021-01-21
* [x] [Firefox 88 (v20)](https://bugzilla.mozilla.org/show_bug.cgi?id=1688792) - @denschub 2021-02-18
* [x] [Firefox 89 (v21)](https://bugzilla.mozil

[2021-01-12 18:46] softvision-oana-arbuzov commented on #181
[Done] 1st run - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1097965007

UA Override to be removed:
https://bugzilla.mozilla.org/show_bug.cgi?id=1685488 Remove UA Override for app.pixton.com
https://bugzilla.mozilla.org/show_bug.cgi?id=1685489 Remove UA Override for criticalcareontario.ca
https://bugzil

[2021-01-15 12:26] softvision-oana-arbuzov opened #182 "2021Q1 - End every week with 0 untriaged and unmoderated bugs"
As measured by the webcompat-metrics server: http://webcompat-dashboard.herokuapp.com/needstriage and https://github.com/webcompat/web-bugs-private/issues (since we don't have a moderation endpoint for the metrics server yet).

The goal here is to track that we're able to keep up with bug load with current resources, and if not, use that as a justification to request more resources.

Note: Comment

[2021-01-15 12:42] softvision-oana-arbuzov opened #183 "2021Q1 - needstriage on Webcompat Bugzilla"
We started with 215 issues without a webcompat keywords, so supposedly being in need of needs-diagnosis or another status.

The goal is to make sure these are all being triaged.
https://bugzilla.mozilla.org/buglist.cgi?cmdtype=dorem&remaction=run&namedcmd=needs-triage&sharer_id=473918

[2021-01-15 12:44] softvision-oana-arbuzov opened #184 "2021Q1 - Manual testing on web learning platforms"
We could perform some testing on learning platforms since we do receive a lot of issues there
For example we could check Udemy (Mozilla account), Codecademy, Coursera, freeCodeCamp, Google Classroom, edX etc.

[2021-01-15 12:49] softvision-oana-arbuzov opened #185 "2021Q1 - ETP Issues re-check"
We currently have 124 issues related to ETP (Strict/Standard)

The goal is to make sure these are all being re-checked (update/close).
https://bugzilla.mozilla.org/buglist.cgi?bug_status=UNCONFIRMED&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED&product=Core&component=Privacy%3A%20Anti-Tracking&resolution=---&classification=Client%20Software&classification=Developer%20Infrastructure&classi

[2021-01-15 12:55] softvision-oana-arbuzov opened #186 "2021Q2 - Reserve: QA re-verification of sitewait and needcontact issues"
Some older issues may no longer be valid, let's check them.

[2021-01-15 12:57] softvision-oana-arbuzov opened #187 "2021Q2 - Reserve ETP shim testing on 20 new sites from the optional list"
We can continue testing ETP shimming on the optional list of sites
https://gist.github.com/englehardt/a698fa491d477cc03a67e383c8853ca0

[2021-01-15 15:00] cipriansv commented on #182
Progress - 15.01.2021: 0 untriaged / 0 unmoderated / 10 backlog issues (needsinfo)

[2021-01-18 22:28] wisniewskit commented on #178
There is good news here, but also a bit of bad news as well.

First the good: I've managed to get enough assistance to figure out the remaining issues, and there is now tangible progress on fixing them. There are two issues: one easy (a console-logging update on the addon-end), and one tricky (the main UX issue that has been blocking this project). But I have a rough idea on how to fix the UX issu

[2021-01-19 13:00] softvision-oana-arbuzov commented on #184
Continue exploratory testing on:
- Udemy
- Google Classroom
- edX

[2021-01-19 13:01] softvision-oana-arbuzov commented on #183
Progress: 85/215

[2021-01-19 13:03] softvision-oana-arbuzov commented on #181
New QA run - 2021-02-04

[2021-01-19 20:25] jgraham opened #188 "2021Q1 - [wpt] Improve debugging experience for web-platform-tests"
Difficulty figuring out which asserts ran and why tests failed is a common complaint about web-platform-tests. To improve this do some/all of the following items:
* Add testharness.js features to record when asserts run and provide the list of asserts as part of the output.
* Add opt-in console logging to track test execution
* Make it possible to run the tests under devtools
* Better integration

[2021-01-19 20:27] jgraham opened #189 "2021 Q1 - [wpt] Come up with some metrics on which test types we author"
In particular for web-platform-tests vs mochitest-plain and reftests. This should allow tracking over time so that we can see where further improvements to wpt are required.

[2021-01-19 20:30] jgraham opened #190 "2021 Q1 - [webdriver-bidi] Add some more features from the priority list to the spec"
Add features to the spec to enable implementation of critical automation usecases. In particular something like
* Refactor event filtering to allow backfilling missed events
* Specify navigation primitives
* Initial support for executing scripts (this feels unlikely for Q1).

[2021-01-19 20:33] jgraham commented on #188
https://github.com/web-platform-tests/wpt/pull/27224

[2021-01-22 15:00] softvision-oana-arbuzov commented on #182
Progress - 22.01.2021: 0 untriaged / 0 unmoderated / 9 backlog issues (needsinfo)

[2021-01-22 20:57] wisniewskit commented on #181
FYI, v19 has just landed in the nightly builds on desktop and mobile.

[2021-01-25 14:10] jgraham commented on #188
https://github.com/web-platform-tests/wpt/pull/27284

[2021-01-26 02:04] karlcow commented on #181
Cool! Next in line is @denschub I created the bugzilla issue.
https://bugzilla.mozilla.org/show_bug.cgi?id=1688792

[2021-01-26 11:37] karlcow opened #191 "2021Q1 - Bucket list of devtools issues related to webcompat need"
This is an ongoing discussion with Devtools team on prioritizing some issues for webcompat.

List below the list of issues you want to address.

[2021-01-26 11:41] karlcow opened #192 "2021Q1 - Report Site Issue button in the new Proton UI for Firefox"
There's a work going on redesigning the UI of Firefox. The meatball menu will disappear.

Currently "Report Site Issue…" is inside the meatball menu. What should happen to it on DevEdition and Nightly, what would be its new home.

The argument is that is an essential feature providing valuable feedback to make Firefox Release more usable. If it becomes less visible, webcompat will loose its main a

[2021-01-29 15:01] cipriansv commented on #182
Progress - 29.01.2021: 0 untriaged / 0 unmoderated / 11 backlog issues (needsinfo)

[2021-01-30 00:56] denschub commented on #180
Based on [this bug](https://github.com/mozilla/wpt-sync/issues/884), I've moved this to "High priority". This is also no longer blocked, because GitHub Actions are now available for mozilla projects as long as they do not require external actions (i.e. "steps" that are not provided by GitHub).

During my work last year, I discovered that there was a failing test. This turned out to be an issue wit

[2021-01-30 19:26] denschub commented on #180
And James merged the PR! So this can be considered done. :)

[2021-01-30 19:28] #180 closed, assigned to skyschub

[2021-02-02 13:37] softvision-oana-arbuzov commented on #184
Continued exploratory testing on:
- Udemy
- edX
No new issues found.

[2021-02-02 13:40] softvision-oana-arbuzov commented on #183
Progress: 147/215

[2021-02-02 14:01] wisniewskit commented on #178
I now have pbz helping me to get this effort across the finish line, helping with the ETP end of things. We're down to just the UX patch, which pbz feels he can complete (given my starter patch with the necessary changes we discussed to the webcompat addon). I feel we should have it done this cycle at this rate, but will alter my assessment as soon as pbz can give me an update.

[2021-02-02 15:08] softvision-oana-arbuzov commented on #185
Progress is available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=591264568

[2021-02-03 17:27] ksy36 commented on #191
- [Add ability to toggle event listeners in Inspector](https://bugzilla.mozilla.org/show_bug.cgi?id=1559813)
If not toggling, perhaps just an ability to remove event listener would be great (something that Chrome devtools has - when you remove a listener, it's gone until page reload).

- [It is impossible to remove breakpoints on prettyfied sources ](https://bugzilla.mozilla.org/show_bug.cgi?id=16

[2021-02-04 06:15] karlcow commented on #191
* [Can't pretty-print / deobfuscate / beautify inline scripts](https://bugzilla.mozilla.org/show_bug.cgi?id=1010150)
* [Set breakpoints in the debugger directly from the inspector](https://bugzilla.mozilla.org/show_bug.cgi?id=1460106)
* [Auto-open devtools for newly opened tabs/windows](https://bugzilla.mozilla.org/show_bug.cgi?id=1569859)
* [[Debugger] more granular ignore for step-by-step in the

[2021-02-04 15:56] softvision-oana-arbuzov commented on #181
[Done] 2nd run - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=772963905

UA Override & Interventions to be removed:
https://bugzilla.mozilla.org/show_bug.cgi?id=1690779 Remove Intervention for gamearter.com
https://bugzilla.mozilla.org/show_bug.cgi?id=1690792 Remove Intervention for dckids.com
https://bu

[2021-02-04 20:41] denschub commented on #191
* [Fenix/GVE crash when remote profiling](https://bugzilla.mozilla.org/show_bug.cgi?id=1662752)
* [Inspector can't pick elements if pointer events are disabled](https://bugzilla.mozilla.org/show_bug.cgi?id=1129488) (happens surprisingly often on mobile)
* ["Pick element" generally is... very weird fwhen remote debugging](https://bugzilla.mozilla.org/show_bug.cgi?id=1531311)
* Breakpoints not being

[2021-02-05 15:00] softvision-oana-arbuzov commented on #182
Progress - 05.02.2021: 0 untriaged / 0 unmoderated / 7 backlog issues (needsinfo)

[2021-02-08 12:01] denschub commented on #192
The current state is a planned experiment to place the reporter into the "Help" menu next to the "Report Deceptive Site..." entry. Tracking bugs:

- https://bugzilla.mozilla.org/show_bug.cgi?id=1690573
- https://jira.mozilla.com/browse/FIDEFE-13

[2021-02-11 11:24] jgraham commented on #188
I landed these; going to set this to done, although there might well be followup issues to add additional features.

[2021-02-11 11:25] #188 closed, assigned to nobody

[2021-02-11 11:30] karlcow commented on #188
Congrats!

[2021-02-12 15:00] softvision-oana-arbuzov commented on #182
Progress - 12.02.2021: 0 untriaged / 0 unmoderated / 12 backlog issues (needsinfo)

[2021-02-16 03:18] wisniewskit commented on #178
pbz and I have managed to get the shims code ready to land, but in the process we've uncovered some issues in the underlying front-end code which pbz feels we ought to resolve before doing so. Unfortunately that means landing in the next cycle for 88 :(

[2021-02-16 04:07] karlcow commented on #178
Thanks for the update.

Interesting! What kind of issues?

[2021-02-16 04:09] karlcow commented on #181
@denschub Are you on track for it?

[2021-02-16 05:33] wisniewskit commented on #178
@karlcow, I'm hoping to find out more details in tomorrow's anti-tracking team meeting. All I know for now is that there are structural issues with how the frontend code handles the state of blocked network requests across tracking categories. Also, GeckoView will also need an update, and we were concerned that we might break on Android if we deployed right now.

[2021-02-16 16:08] denschub commented on #181
Yeah! Here's the PR: https://github.com/mozilla-extensions/webcompat-addon/pull/206

[2021-02-16 18:58] softvision-oana-arbuzov commented on #183
Progress: 168/215

[2021-02-16 18:59] softvision-oana-arbuzov commented on #185
Progress: 46/124

[2021-02-17 17:38] denschub commented on #181
Version 20 is shipping in [mozilla-central](https://bugzilla.mozilla.org/show_bug.cgi?id=1688792) and [android-components](https://github.com/mozilla-mobile/android-components/pull/9710).

[2021-02-19 15:01] softvision-oana-arbuzov commented on #182
Progress - 19.02.2021: 0 untriaged / 0 unmoderated / 11 backlog issues (needsinfo)

[2021-02-19 15:30] ksy36 commented on #181
Created a bugzilla issue for v21 https://bugzilla.mozilla.org/show_bug.cgi?id=1693824
(just happened to see a candidate for an UA override)
@karlcow

[2021-02-21 22:44] karlcow commented on #163
This has been done and finalized. The full servers are on their new environment.

[2021-02-21 22:44] #163 closed, assigned to nobody

[2021-02-24 08:10] denschub commented on #192
The change is landed in Nightly now. The current implementation is not perfect and would need some cleanup, but that's fine since it also means we can revert the change without too much pain. In this Nightly cycle, which has its soft freeze on 2021-03-18, we have to carefully look at the reports to see if we should intervene before this ends up in beta.

I'll volunteer to write a little script tha

[2021-02-24 08:11] denschub commented on #192
I'll also make sure to add an agenda item to the 2021-03-16 team meeting. At that time, we should have a fairly good understanding of how this impacts us, and it's a great time to make a final decision on this change, with two days to land a backout before soft-freeze.

[2021-02-25 17:49] softvision-oana-arbuzov commented on #185
We've finished checking all the issues and below is the result:
- 78 issues Reproducible
- 5 issues Needinfo user/reporter
- 26 issues Fixed
- 8 issues Worksforme
- 7 issues Invalid

[2021-02-25 17:49] #185 closed, assigned to softvision-oana-arbuzov

[2021-02-26 15:00] softvision-oana-arbuzov commented on #182
Progress - 26.02.2021: 0 untriaged / 0 unmoderated / 10 backlog issues (needsinfo)

[2021-03-02 13:55] softvision-oana-arbuzov commented on #184
Exploratory testing on
- udemy
- edx
- codecademy
- googleclassroom

[2021-03-02 13:56] softvision-oana-arbuzov commented on #181
New QA run - 2021-03-04

[2021-03-04 15:04] softvision-oana-arbuzov commented on #181
[Done] 3rd run - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1055151762

Interventions to be removed:
https://bugzilla.mozilla.org/show_bug.cgi?id=1696415 Remove Intervention for *.stemwijzer.nl
https://bugzilla.mozilla.org/show_bug.cgi?id=1696416 Remove Intervention for sports.ndtv.com

[2021-03-05 15:00] softvision-raul-bucata commented on #182
Progress - 5.03.2021: 0 untriaged / 0 unmoderated / 18 backlog issues (needsinfo)

[2021-03-08 02:52] karlcow commented on #191
@wisniewskit what is your top 4 list.
And as you are the [driver for this](https://wiki.mozilla.org/Compatibility/Meetings/2021-01-19), it would be cool to list [these on the devtools meta bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1493094) and engage with Jan on the plan forward.

[2021-03-08 23:25] denschub commented on #192
So, [I built a little script to extract the number of reports per day for each version cycle](https://0b101010.codes/mozilla/webcompat-report-cycle-count) on Nightly on Desktop, and unfortunately, our numbers are so low, they're pretty much impossible to interpret in any meaningful way.

Here's a table with reports from Desktop Nightly per day (raw data in CSV form is in the "details" block at the

[2021-03-09 00:15] karlcow commented on #192
Fantastic work @denschub
It would interesting to correlate this with the click on the button. aka how many click on the report site issue vs bug reported.

In the script I see that you used ` issue.body.includes("") &&` which is the right thing, but I can't help myself trying to understand why we have so many `unknown` for `@reported_with`.

Example: https://github.com/webcompat/web-bugs/issues/68

[2021-03-09 00:15] karlcow commented on #192
Maybe you can try the graph with `unknown` added.

[2021-03-09 00:27] denschub commented on #192
Good point!

Numbers with `unknown` added are a bit higher, but overall still very chaotic:

![Screenshot 2021-03-09 at 01 22 57](https://user-images.githubusercontent.com/344777/110399355-026b1300-8076-11eb-9c2d-96f3e51b3f65.png)

![Screenshot 2021-03-09 at 01 23 15](https://user-images.githubusercontent.com/344777/110399371-0bf47b00-8076-11eb-9baf-4e8f8ed9ca3b.png)

Looking at an average of the

[2021-03-11 10:05] softvision-oana-arbuzov commented on #184
New learning platform:
- https://tokyocodingclub.co.jp/en/
- https://codinglab.jp/
- https://code.or.jp/
- https://spark.adobe.com/

[2021-03-11 18:47] softvision-oana-arbuzov commented on #184
Found issues:
[1697812](https://bugzilla.mozilla.org/show_bug.cgi?id=1697812) Missing "Continue with Facebook" button on trustpilot.com with ETP - Strict enabled
[68155](https://github.com/webcompat/web-bugs/issues/68155) www.tokyocodingclub.co.jp - Incorrect font displayed for drop-down menu options
[1698021](https://bugzilla.mozilla.org/show_bug.cgi?id=1698021) Customer chat option for "Messenge

[2021-03-12 15:00] softvision-oana-arbuzov commented on #182
Progress - 12.03.2021: 0 untriaged / 0 unmoderated / 18 backlog issues (needsinfo)

[2021-03-15 07:57] karlcow commented on #181
PR done. Next step is review.
https://bugzilla.mozilla.org/show_bug.cgi?id=1693824

[2021-03-16 12:49] softvision-oana-arbuzov commented on #183
Progress: 203/215

[2021-03-18 16:40] softvision-oana-arbuzov commented on #183
We've finished triaging the Bugzilla issues and below are the results:
- 75 Reproducible
- 15 Needinfo user
- 41 Fixed
- 72 Worksforme
- 7 Invalid
- 5 Duplicate

[2021-03-18 16:40] #183 closed, assigned to softvision-oana-arbuzov

[2021-03-19 15:00] softvision-raul-bucata commented on #182
Progress -19.03.2021 : 0 untriaged / 0 unmoderated / 19 backlog issues (needsinfo)

[2021-03-22 08:41] softvision-raul-bucata commented on #184
Testing

[2021-03-24 00:05] #181 closed, assigned to skyschub, wisniewskit, karlcow, softvision-oana-arbuzov

[2021-03-24 00:08] karlcow opened #193 "2021Q2 - Site Interventions Release Calendar"
According to the [Site Interventions Release](https://wiki.mozilla.org/Compatibility/Interventions_Releases#Intervention_Release_Owner_Schedule)

* [x] [Firefox 89 (v22)](https://bugzilla.mozilla.org/show_bug.cgi?id=1702011) - @ksy36  2021-04-15
* [x] [Firefox 90 (v23)](https://bugzilla.mozilla.org/show_bug.cgi?id=1707797) - @wisniewskit  2021-05-27
* [x] [Firefox 91 (v24)](https://bugzilla.mozill

[2021-03-24 06:06] karlcow commented on #181
#193 The issue for 2021Q2

[2021-03-24 06:06] karlcow commented on #193
One candidate https://github.com/webcompat/web-bugs/issues/66888

[2021-03-24 08:35] softvision-oana-arbuzov commented on #193
New QA run - 2021-04-01

[2021-03-26 15:09] softvision-oana-arbuzov commented on #182
Progress - 26.03.2021 : 18 untriaged (iOS only) / 0 unmoderated / 20 backlog issues (needsinfo)

[2021-03-26 19:17] denschub commented on #192
I did a very early analysis for the first couple of days in Beta. From there it looks like we're slightly underperforming:

![Screenshot 2021-03-26 at 20 16 36](https://user-images.githubusercontent.com/344777/112682312-40d34100-8e70-11eb-8525-86aee0e33101.png)

But the good news is that we still receive reports, so it doesn't look like an emergency yet. Will take a second look in one week when I'

[2021-03-30 18:05] ksy36 commented on #193
bug for v22 https://bugzilla.mozilla.org/show_bug.cgi?id=1702011

[2021-04-01 11:31] softvision-oana-arbuzov commented on #193
[Done] 1st run - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1879808436

Interventions to be removed:
[1702441](https://bugzilla.mozilla.org/show_bug.cgi?id=1702441) Remove Intervention for binance.com

[2021-04-02 14:11] softvision-oana-arbuzov commented on #182
Progress - 02.04.2021 : 26 untriaged (iOS only)  / 0 unmoderated / 27 backlog issues (needsinfo)

[2021-04-05 07:28] karlcow opened #194 "2021H1 - Improve Machine Learning Webcompat Bot"
We had two choices on either mastering the current infrastructure or in re-using the infrastructure of BugBug

Here a summary of the previous discussions:

[2021-04-05 07:28] karlcow commented on #194
We should probably move this to a public forum of some sort.
Marco introduced me in 2018 to autowebcompat (which I had forgotten).

https://groups.google.com/g/mozilla.compatibility/c/4yQxX9EZGQ8/m/ARNK5Da7AQAJ

See https://github.com/marco-c/autowebcompat

Since then Open Innovation team started a project to do auto-triage on webcompat web-bugs. Then the Open Innovation team disappeared and the k

[2021-04-05 07:31] karlcow commented on #194
Some pieces of a message by Marco Castelluccio @marco-c

## Some context about bugbug
bugbug is currently being used for a few purposes.

It started as a project to automatically assign a type to bugs (defect vs enhancement vs task, back when we introduced the "type" we needed a way to fill it for already existing bugs), and then evolved to be a platform to build ML models on bug reports: we now h

[2021-04-05 07:34] karlcow commented on #194
from @ksy36

I have a couple questions on what would be the best way to handle the data.

1. In our current project we store pretty much all data pulled from github for all webcompat issues in the ES database. But we only use title, body and one of the milestones of each issue to build a csv for the model. Just wanted to make sure that I only need to store required fields in the json file (3 field

[2021-04-05 07:35] karlcow commented on #194
From @marco-c

I'd suggest storing everything (unless it makes the DB huge, but I imagine it doesn't), and then we can just filter what we need later as part of the model training. That's what I do for Bugzilla data too, you never know what you might need in the future. And it's simpler as you don't need special cases.

Usually they are stored as artifacts of Taskcluster tasks. Taskcluster automat

[2021-04-05 07:36] karlcow commented on #194
from @marco-c

I've added a Taskcluster task to retrieve the webcompat issues (https://github.com/mozilla/bugbug/commit/cbd43a0f7bccd3b0023915a40657a3f825b6fb3e), here's an example run: https://community-tc.services.mozilla.com/tasks/F37Si0aYS-aGCDkahMdKTw. It will run at least once every two weeks from now on.

I've also added support for building models that operate on issues (https://github.com

[2021-04-05 07:37] karlcow commented on #194
Ksenia @ksy36 has done a very cool work on https://github.com/mozilla/bugbug/pull/2242/files

[2021-04-05 19:43] softvision-oana-arbuzov opened #195 "2021Q2 - End every week with 0 untriaged and unmoderated bugs"
As measured by the webcompat-metrics server: http://webcompat-dashboard.herokuapp.com/needstriage and https://github.com/webcompat/web-bugs-private/issues (since we don't have a moderation endpoint for the metrics server yet).

The goal here is to track that we're able to keep up with bug load with current resources, and if not, use that as a justification to request more resources.

Note: Comment

[2021-04-05 19:49] softvision-oana-arbuzov opened #196 "2021Q3&Q4 - Manual testing on Enterprise Top Websites"
We could perform some testing on Enterprise top sites, since some of them might have change in time.
- Office 365 (Microsoft Word/Excel/PowerPoint/Outlook/OneNote/OneDrive etc.)
- GSuite (Google GMail/Drive/Calendar/Docs(Docs/Sheets/Slides/Forms)
- Box - Subscription expired
- Sharepoint
- Slack
- ServiceNow - No access
- Confluence
- Salesforce
- WebEx
- Workday

@softvision-raul-bucata & @softvi

[2021-04-05 19:50] softvision-oana-arbuzov opened #197 "2021Q2 - QA re-verification of sitewait issues"
Some older issues may no longer be valid, let's check them.

[2021-04-09 14:44] #184 closed, assigned to softvision-oana-arbuzov, softvision-raul-bucata

[2021-04-09 14:45] #182 closed, assigned to softvision-oana-arbuzov, softvision-raul-bucata

[2021-04-09 14:48] softvision-oana-arbuzov commented on #195
Progress - 09.04.2021: 24 untriaged (iOS only)/ 0 unmoderated / 17 backlog issues (needsinfo)

[2021-04-14 18:16] ksy36 commented on #193
I've have updated Firefox versioning to match the release schedule.

Also instead of 90 I'm going to be releasing in 89 since we have skipped it (the changes that were supposed to land in 89 went to 88 instead).

[2021-04-14 19:43] denschub commented on #192
I've marked previous graphs as obsolete given they contain outdated data. Also, this time, I spent some time to draw *proper* graphs, including a visualization of the usual noise range and even proper labels! Charts below are also available [as an interactive version](https://stuff.overengineer.dev/mozilla/webcompat/webcompat-okrs-192-report.html) which allows you to watch the graph in your own re

[2021-04-14 19:50] wisniewskit commented on #192
If a cycle just means a month (plus the extra 2 weeks of this cycle) then I'm not against waiting, because the major changes might inspire folks to look for the option again if that hypothesis is true.

But I can't be sure if it's not better for us to try to experiment with placement instead if we have the bandwidth. That is, some A/B tests if that's viable (given that it's only on beta and nightl

[2021-04-14 21:17] ksy36 commented on #192
Thanks for putting together the report! I would probably vote for option 2 at this point given the influx of iOS issues. But I personally think it's worth experimenting with option 1 in the meantime (so at least we could have some ideas/approvals for the next cycle).

Wonder if you had a chance to look at google analytics as it's showing statistics on how many users land on the form page? It's pro

[2021-04-14 22:32] ksy36 commented on #192
For page visits I compared two periods:
Mar 21, 2021 - Apr 14, 2021 (most recent) and  Jan 21, 2021 - Feb 15, 2021 (before the change):

![Screen Shot 2021-04-14 at 6 18 16 PM](https://user-images.githubusercontent.com/1303908/114787437-d108f580-9d4d-11eb-9ae5-54b2dd12c853.png)

So we can assume the change affect page visits in Windows the most (-73.99%) and then Mac (-54.84%).

Also we can check

[2021-04-14 23:10] denschub commented on #192
Thanks for sharing those numbers. I'm somehow good at ignoring that we have those... A ~70% drop in traffic correlates with the number of reports in the second half (15/day vs 5/day), so it's good to see those numbers match.

[2021-04-15 00:19] karlcow commented on #192
@denschub Thanks for the awesome work on this. This is impressive.
@ksy36 Thanks also to bring another data set. Wonderful.
Really proud of the team

Are the menus less accessible on windows than on macOS. aka is it more confusing to access.
 on macOS, there are two ways to access:
1. The top bar menu in the finder
2. The 3 bar menu on the top right of the window. (somehow I keep forgetting about

[2021-04-15 00:20] karlcow commented on #192
As for the options, I would be inclined to go with option 2 because of the current flood of firefox ios issues.

[2021-04-15 07:56] marco-c commented on #194
@ksy36 also implemented updating the issues DB by re-fetching issues that have been modified since the last run: https://github.com/mozilla/bugbug/pull/2281.

[2021-04-15 08:06] karlcow commented on #194
Thanks @marco-c
Wonderful @ksy36 All this work will make it possible to remove a big hurdle.

[2021-04-15 15:28] marco-c commented on #194
from @ksy36

I've started looking into creating the model for webcompat and have a couple questions, would appreciate it if you could share your thoughts.

With the current model we don't extract features from the issue body yet (it was marked as enhancement/experiment in https://github.com/mozilla/webcompat-ml/issues/3) and I'm wondering what is the optimal way of handling this case. As far as I

[2021-04-15 15:29] marco-c commented on #194
from myself:

I'd suggest replicating the original model first, and then we can add more features later if we want to try improving it.

The BrowserName model was using three sources for the features: title, first comment, and generic characteristics (in this case, the total number of comments). I defined all three just to showcase them all, but we can remove them.

In general, the models have an

[2021-04-15 16:03] denschub commented on #192
Okay, seems we have consensus here. I'll spend some "a bit lower priority" time this cycle to gauge if we can build some experimentation around that, but for now, I'll communicate that we're fine with the help menu for 89 at least. Appreciate the feedback. <3

[2021-04-16 15:34] softvision-oana-arbuzov commented on #195
Progress - 16.04.2021: 0 untriaged / 0 unmoderated / 26 backlog issues (needsinfo)

[2021-04-16 15:36] softvision-raul-bucata commented on #182
Progress - 16.04.2021 : 0 untriaged / 0 unmoderated / 26 backlog issues (needsinfo)

[2021-04-16 15:36] softvision-raul-bucata commented on #182
Progress - 16.04.2021 : 0 untriaged / 0 unmoderated / 26 backlog issues (needsinfo)

[2021-04-20 00:32] wisniewskit commented on #193
The v22 patches have indeed landed in time for 89 (desktop and Android).

[2021-04-23 15:13] softvision-oana-arbuzov commented on #195
Progress - 23.04.2021: 135 untriaged / 0 unmoderated / 34 backlog issues (needsinfo)
Test Party issues: 49 (Romanian sites)

[2021-04-29 15:46] softvision-oana-arbuzov commented on #182
Progress - 29.04.2021 : 44 untriaged (iOS only) / 0 unmoderated / 27 backlog issues (needsinfo)

[2021-04-29 15:47] softvision-oana-arbuzov commented on #195
Progress - 29.04.2021 : 44 untriaged (iOS only) / 0 unmoderated / 27 backlog issues (needsinfo)

[2021-05-05 14:53] ksy36 commented on #194
from @marco-c :

I've released a new version of bugbug with the new model. Unfortunately there is still a (very easy) problem to solve.
The task is failing as it runs out of memory: https://community-tc.services.mozilla.com/tasks/FXN9ARgUQGuwO_m1BZJwsg/runs/0/logs/public/logs/live.log. The logs are not really informative in OOM situations, but in all similar cases from the past (where the log just

[2021-05-05 14:54] ksy36 commented on #194
from me:

As for using the model, I'll look into modifying the http service to classify github issues as you suggested. I've noticed that classification happens in the background and to get the results I need to make a second request. I have found an example of batch processing in autonag https://github.com/mozilla/relman-auto-nag/blob/master/auto_nag/bugbug_utils.py#L25 where the function continu

[2021-05-05 14:54] ksy36 commented on #194
from @marco-c :

yes, the service is running the classification in the background as it can be slower than the maximum 30 seconds allowed by Heroku for a response (e.g. in case of batch classification, it won't be that slow in case of single classifications).

For your use case, single classifications should work well. In autonag we were requesting thousands of bugs at a time (we are using a poll

[2021-05-06 12:21] softvision-oana-arbuzov commented on #193
New QA run - 2021-05-13

[2021-05-07 15:06] softvision-oana-arbuzov commented on #195
Progress - 07.05.2021 : 185 untriaged / 0 unmoderated / 26 backlog issues (needsinfo)

[2021-05-11 15:15] softvision-oana-arbuzov commented on #197
Progress is visible here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1458502197

[2021-05-13 13:34] softvision-oana-arbuzov commented on #193
[Done] 2nd run - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1678593143

Interventions to be removed:
[1710993](https://bugzilla.mozilla.org/show_bug.cgi?id=1710993) Remove Intervention for dev.to
[1710997](https://bugzilla.mozilla.org/show_bug.cgi?id=1710997) Remove Intervention for slack.com
[1711003]

[2021-05-14 15:11] softvision-oana-arbuzov commented on #195
Progress - 14.05.2021 : 139 untriaged (mostly iOS)/ 0 unmoderated / 35 backlog issues (needsinfo)

[2021-05-19 18:38] denschub commented on #192
I did re-run the numbers!

## Beta 89

For beta 89 now that we're almost at the end. I updated the [interactive version](https://stuff.overengineer.dev/mozilla/webcompat/webcompat-okrs-192-report.html), but here's a screenshot:

![Screen Shot 2021-05-19 at 20 32 43](https://user-images.githubusercontent.com/344777/118865657-754c0200-b8e1-11eb-9ce0-c58fb23c2d07.png)

And it looks like the numbers f

[2021-05-21 15:07] softvision-oana-arbuzov commented on #195
Progress - 21.05.2021 : 52 untriaged (mostly iOS)/ 45 unmoderated / 35 backlog issues (needsinfo)

[2021-05-24 21:38] ksy36 commented on #193
Candidate for v91 https://bugzilla.mozilla.org/show_bug.cgi?id=1712626

[2021-05-26 08:25] karlcow commented on #191
@denschub @ksy36 @wisniewskit I had a meeting with honza about it.
I plan to send this list to the devtools team by next week (June 2, 2021)

[2021-05-28 15:07] softvision-oana-arbuzov commented on #195
Progress - 28.05.2021 : 115 untriaged (mostly iOS)/ 0 unmoderated / 27 backlog issues (needsinfo)

[2021-05-31 20:09] ksy36 commented on #194
https://github.com/webcompat/webcompat.com/issues/3574 has been deployed and issues that are labelled needsdiagnosis=False with high probability by bugbug are now closed automatically in private and public repositories.

Public issues that are closed that way are receiving placeholder text instead of the actual content (we don't want to accidentally post abusive content because it is not moderated

[2021-06-03 12:18] marco-c commented on #194
Duplicate detection for Bugzilla is something that a contributor was working on, but never finished. It is different than a classification problem, as for duplicate detection you want to compare an issue with already existing issues.

[2021-06-03 12:27] karlcow commented on #194
Two types of Duplication in the context of webcompat

1. a mix of full URL/domain name and issue description. We do not duplicate the same flexbox issues on different domains. often done at Triage time, and sometimes diagnosis.
2. The same flexbox issue will be duplicated against the same bugzilla core issues **after diagnosis**

I wonder if @ksy36  here is talking about the 1st type of duplicatio

[2021-06-03 17:35] ksy36 commented on #194
Yeah, it's the 1st type of duplication,  I should have clarified that :)

It's for the case when an issue is closed as duplicate of anoter github issue bypassing the event of diagnosis. So the content of an issue is valid and should be contributing to the same class as the issues that have been moved to needsdiagosis. An example of such issue would be https://github.com/webcompat/web-bugs/issues/7

[2021-06-04 15:11] softvision-oana-arbuzov commented on #195
Progress - 04.06.2021 : 125 untriaged (mostly iOS)/ 15 unmoderated / 29 backlog issues (needsinfo)

[2021-06-10 14:37] denschub commented on #192
I ran the data one last time.

* Interactive chart: https://stuff.overengineer.dev/mozilla/webcompat/webcompat-okrs-192-report.html
* Code and data: https://0b101010.codes/mozilla/webcompat-report-cycle-count

The numbers are still not as high as they were before, but they have stabilized at a level we're fine with right now. Given the uptake in iOS reports, the little bit lower report rate from d

[2021-06-10 14:37] #192 closed, assigned to skyschub, karlcow

[2021-06-10 21:19] ksy36 commented on #194
I've compared two models and the original one has better cross validation scores, so I'm going to keep the original model

Original:
[code]

With duplicates:
[code]

[2021-06-11 03:45] karlcow commented on #194
Thanks @ksy36
It's cool to have the number for making rationale decisions.
Super nice work.

[2021-06-11 14:55] softvision-oana-arbuzov commented on #195
Progress - 11.06.2021 : 118 untriaged (mostly iOS)/ 13 unmoderated / 40 backlog issues (needsinfo)

[2021-06-14 08:35] softvision-oana-arbuzov opened #198 "2021Q3 - QA re-verification needscontact issues"
Some older issues may no longer be valid, let's check them.
@softvision-raul-bucata & @softvision-oana-arbuzov

[2021-06-15 15:37] softvision-oana-arbuzov commented on #197
We've finished verification of the Sitewait issues and bellow is the result:
- Reproducible: **206** issues
- Fixed: **89** issues
- Invalid: **8** invalid
- Duplicate: **1** issue
- Can't test: **1** issue
- Non-compat: **1** issue
- Incomplete: **1** issue
- Won't fix: **1** issue
- Needsinfo: **17** issues

[2021-06-15 15:37] #197 closed, assigned to nobody

[2021-06-15 15:52] softvision-oana-arbuzov commented on #193
New QA run - 2021-06-24

[2021-06-15 17:03] wisniewskit commented on #152
Project:

An automated test suite for the Firefox webcompat GoFaster feature which provides website interventions and SmartBlock shims.

Goals:
- reduce the related manual testing burden as much as feasible (to verify which interventions are still useful, and whether they have broken).
- operational as soon as possible during H2 2021, even if only partially.
- having tests for all UA overrides, in

[2021-06-18 15:29] softvision-raul-bucata commented on #195
Progress - 18.06.2021 : 99 untriaged (mostly iOS)/ 0 unmoderated / 28 backlog issues (needsinfo)

[2021-06-23 02:07] karlcow commented on #192
@denschub Thanks for doing this work. This was useful to help us decide if the button was at the right place or not. I wonder if a blog post could be interesting, explaining the work done here and sharing the code with the larger community.

[2021-06-24 08:57] softvision-oana-arbuzov commented on #193
[Done] 3rd run - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=178594192

UA Overrides to be removed:
[1717998](https://bugzilla.mozilla.org/show_bug.cgi?id=1717998) Remove UA Override for www.homebook.pl
[1718009](https://bugzilla.mozilla.org/show_bug.cgi?id=1718009) Remove UA Override for www.vh1.com

[2021-06-25 14:54] softvision-oana-arbuzov commented on #195
Progress - 25.06.2021 : 57 untriaged (mostly iOS)/ 0 unmoderated / 39 backlog issues (needsinfo)

[2021-07-02 15:29] softvision-oana-arbuzov commented on #195
Progress - 02.07.2021 : 0 untriaged / 0 unmoderated / 38 backlog issues (needsinfo)

[2021-07-07 03:32] karlcow commented on #195
Thanks for tracking this. And that's cool to see we have been able to improve here. I'm closing and we will open a new meta bug.

[2021-07-07 03:32] #195 closed, assigned to nobody

[2021-07-07 03:34] karlcow commented on #194
This was successful. And we can switch to additional phases. Let's focus on https://github.com/mozilla/webcompat-team-okrs/projects/14

[2021-07-07 03:34] #194 closed, assigned to ksy36

[2021-07-07 03:36] karlcow commented on #193
Not technically done. But next one will be @denschub in a couple of days.

[2021-07-07 03:38] karlcow opened #199 "Site Interventions Release"
* [x] Version 25 for Firefox 92 (Soft Freeze: 2021-08-05) - @karlcow - [Bugzilla Bug #1720138](https://bugzilla.mozilla.org/show_bug.cgi?id=1720138)
* [x] Version 26 for Firefox 93 (Soft Freeze: 2021-09-02) - @ksy36 - [Bugzilla Bug #1720139](https://bugzilla.mozilla.org/show_bug.cgi?id=1720139)
* [x] Version 27 for Firefox 94 (Soft Freeze: 2021-09-30) - @wisniewskit - [Bugzilla Bug #1720140](https

[2021-07-07 03:42] karlcow commented on #191
The list has been collected and a Jira project has been created.
https://mozilla-hub.atlassian.net/browse/FFXP-390 (only with the right auth)

[2021-07-07 03:42] #191 closed, assigned to skyschub, wisniewskit, karlcow, ksy36

[2021-07-07 03:43] karlcow commented on #191
Also @wisniewskit is the PoC and decider for this project.

[2021-07-07 03:45] karlcow commented on #190
What is the status here? I'm moving this to the 2021H2

[2021-07-07 03:46] karlcow commented on #189
Status? Probably the report you have written, should be linked. Do we consider this ongoing or done.

[2021-07-07 03:47] karlcow commented on #178
This should be probably considered done.

[2021-07-07 03:47] #178 closed, assigned to nobody

[2021-07-07 03:48] karlcow commented on #177
Probably done. Preemptively closing.

[2021-07-07 03:48] #177 closed, assigned to jgraham

[2021-07-07 03:50] karlcow commented on #168
This was done.

[2021-07-07 03:50] #168 closed, assigned to softvision-oana-arbuzov, cipriansv

[2021-07-07 03:50] karlcow commented on #162
This has been done.

[2021-07-07 03:50] #162 closed, assigned to nobody

[2021-07-07 03:51] #159 closed, assigned to softvision-oana-arbuzov, cipriansv

[2021-07-07 03:51] karlcow commented on #155
I will move this to needstriage. There's probably something interesting we should pursue here.

[2021-07-07 03:53] karlcow commented on #152
This has been done. The prototyping is done. Thanks @wisniewskit and @jgraham

 @wisniewskit will document the status of the project in https://wiki.mozilla.org/Compatibility/Interventions_Test_Suite

For the next phase of the project, we probably need to create a new issue.

[2021-07-07 03:53] #152 closed, assigned to wisniewskit

[2021-07-07 03:54] karlcow commented on #148
this is probably done.

[2021-07-07 03:54] #148 closed, assigned to wisniewskit, softvision-oana-arbuzov, cipriansv

[2021-07-07 07:41] softvision-oana-arbuzov opened #200 "2021Q3 - End every week with 0 untriaged and unmoderated bugs"
As measured by the webcompat-metrics server: http://webcompat-dashboard.herokuapp.com/needstriage and https://github.com/webcompat/web-bugs-private/issues (since we don't have a moderation endpoint for the metrics server yet).

The goal here is to track that we're able to keep up with bug load with current resources, and if not, use that as a justification to request more resources.

Note: Comment

[2021-07-07 07:47] softvision-oana-arbuzov commented on #198
Progress will be available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=561554965

[2021-07-07 09:29] jgraham commented on #189
https://docs.google.com/document/d/149EccFbc_rWr1w5Q2bDn-98_mpfSeIInbVlkv12kf4A/edit# is the report, but it's moco only at the moment.

I think the metrics are done (we can rerun to do the ongoing part), but there should perhaps be a new issue for followup work.

[2021-07-07 09:29] #189 closed, assigned to nobody

[2021-07-07 09:31] jgraham commented on #190
The first two bullet points are "done" (although the navigation patches are not yet landed there's no disagreement about the model, just back and forth on the split between WebDriver and HTML in spec terms). The script execution part is next.

[2021-07-08 11:55] softvision-oana-arbuzov opened #201 "2021Q3 - Needstriage on Webcompat Bugzilla"
The goal is to make sure these are all being triaged.
https://bugzilla.mozilla.org/buglist.cgi?bug_id=1183994%2C1331312%2C1461931%2C1482918%2C1503620%2C1510589%2C1531755%2C1546167%2C1549796%2C1568314%2C1576620%2C1582977%2C1602670%2C1603202%2C1604450%2C1614604%2C1635980%2C1637142%2C1642846%2C1654108%2C1660117%2C1665720%2C1670340%2C1670478%2C1671029%2C1671531%2C1672435%2C1673747%2C1673944%2C1674042%

[2021-07-08 12:49] softvision-oana-arbuzov commented on #201
Progress is available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=451245690

[2021-07-08 13:06] softvision-oana-arbuzov commented on #199
1st QA run (Q3) - 2021-07-22

[2021-07-09 14:44] softvision-oana-arbuzov commented on #200
Progress - 09.07.2021 : 0 untriaged / 0 unmoderated / 37 backlog issues (needsinfo)

[2021-07-12 14:43] denschub commented on #193
v91 landed within the expected release train, so this is 100% done now. Closing. :)

[2021-07-12 14:43] #193 closed, assigned to skyschub, wisniewskit, ksy36, softvision-oana-arbuzov

[2021-07-16 15:00] softvision-oana-arbuzov commented on #200
Progress - 16.07.2021 : 0 untriaged / 0 unmoderated / 32 backlog issues (needsinfo)

[2021-07-16 15:02] softvision-oana-arbuzov commented on #201
Progress: 44 triaged issues / 82 issues

[2021-07-16 15:05] softvision-oana-arbuzov commented on #198
Progress: 87 verified issues / 507 issues

[2021-07-22 15:28] softvision-oana-arbuzov commented on #199
[Done] 1st run (Q3) - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=6586243

UA Overrides to be removed:
[1721835](https://bugzilla.mozilla.org/show_bug.cgi?id=1721835) Remove UA Override for automotivesuperstore.com.au

[2021-07-23 15:32] softvision-oana-arbuzov commented on #200
Progress - 23.07.2021 : 0 untriaged / 0 unmoderated / 37 backlog issues (needsinfo)

[2021-07-23 15:34] softvision-oana-arbuzov commented on #201
Progress: 71 triaged issues / 82 issues

[2021-07-23 15:34] softvision-oana-arbuzov commented on #198
Progress: 126 verified issues / 507 issues

[2021-07-29 15:46] ksy36 commented on #130
This was done in https://github.com/mozilla/webcompat-team-okrs/issues/194

[2021-07-29 15:46] #130 closed, assigned to ksy36

[2021-07-30 09:51] softvision-raul-bucata commented on #198
Progress: 161 verified issues/ 507 issues

[2021-07-30 09:52] softvision-raul-bucata commented on #200
Progress - 30.07.2021 : 0 untriaged / 0 unmoderated / 48 backlog issues (needsinfo)

[2021-07-30 09:53] softvision-raul-bucata commented on #201
Progress: 78 triaged issues/ 82 issues

[2021-08-05 13:02] softvision-oana-arbuzov commented on #199
2nd QA run (Q3) - 2021-08-19

[2021-08-06 11:04] denschub opened #202 "2021Q3/Q4 - web-bug data pipeline overhaul"
We currently have some blind spots in terms of data and analysis that prevent us from effectively answering a couple of questions we have. Luckily, the data is not too hard to gather, and pretty much all of the web-bug data has already been imported into an ElasticSearch, we just have to make that more usable.

To end up in a better state, we should

- [x] ~~Update the software stack in use to rec

[2021-08-06 11:34] softvision-oana-arbuzov commented on #201
We've finished triaging the issues and bellow is the result:
- 1 issue **Fixed**
- 30 issues **Worksforme**
- 15 issues Needinfo user
- 3 issue Invalid
- 1 issue Incomplete
- 6 issues No account
- 2 issues Can't test
- 1 issue Won't fix
- 1 issue **Reopened**
- 22 issues **Reproducible**

This talks is completed. I will close it.

[2021-08-06 11:34] #201 closed, assigned to softvision-oana-arbuzov, softvision-raul-bucata

[2021-08-06 16:02] softvision-oana-arbuzov commented on #200
Progress - 06.08.2021 : 0 untriaged / 0 unmoderated / 39 backlog issues (needsinfo)

[2021-08-13 15:02] softvision-oana-arbuzov commented on #198
Progress: 321 verified issues/ 507 issues

[2021-08-13 15:15] softvision-raul-bucata commented on #200
Progress - 13.08.2021 : 0 untriaged / 0 unmoderated / 34 backlog issues (needsinfo)

[2021-08-18 01:52] karlcow opened #203 "Complete the Automated Test Suite for Site Interventions"
https://bugzilla.mozilla.org/show_bug.cgi?id=1715900
https://mozilla-hub.atlassian.net/browse/FFXP-592?jql=%22Platform%20Team%22%20%3D%20WebCompat

[2021-08-18 01:57] karlcow opened #204 "Ensure the Webcompat addon is also shipped on Focus for Android"
https://github.com/mozilla-mobile/focus-android/issues/4525

[2021-08-18 01:58] karlcow opened #205 "Developing a concrete plan with the iOS team to get webcompat gofaster funtionality on Firefox for iOS"

[2021-08-18 02:00] karlcow opened #206 "Ship additional SmartBlock shims in bz1703875 for existing functionality"
https://bugzilla.mozilla.org/show_bug.cgi?id=1703875

[2021-08-18 02:00] karlcow opened #207 "Ensure all sub-bugs of bz1101005 for Strict/Private ETP breakage are diagnosed, and develop a 4th SmartBlock phase to address more breakage"
https://bugzilla.mozilla.org/show_bug.cgi?id=1101005

[2021-08-18 02:02] karlcow opened #208 "Add all shims deemed beneficial in bz1602922 for shipping TCP/dFPI in standard mode."
https://bugzilla.mozilla.org/show_bug.cgi?id=1602922

[2021-08-18 02:04] karlcow opened #209 "Address an issue with excessive permissions when filing a webcompat bug using Github"
https://github.com/webcompat/webcompat.com/issues/655
Amount of permissions is reduced to a reasonable number (or no granted permissions at all)

[2021-08-18 02:07] karlcow opened #210 "Upgrade Flask version to 2.0 on webcompat.com"
Corresponding issue https://github.com/webcompat/webcompat.com/issues/3572
https://mozilla-hub.atlassian.net/browse/FFXP-634?jql=%22Platform%20Team%22%20%3D%20WebCompat

1. Flask version is upgraded to 2.0
2. All dependent packages upgraded to match the new version of Flask (Flask-SQLAlchemy, Jinja, the underlining server, etc.)

[2021-08-18 02:10] karlcow opened #211 "Progress WebDriver-BiDi specification and implementation"
https://mozilla-hub.atlassian.net/browse/FFXP-245?jql=%22Platform%20Team%22%20%3D%20WebCompat

Allowing authors (and browser implementors) to write advanced tests that work cross-browser is important to maintain compatibility with sites. WebDriver BiDi aims to provide a replacement for the proprietary CDP-based testsuites.

The goal for this half is:

* Add script execution features to the specifi

[2021-08-18 02:14] karlcow opened #212 "Improve ability to write web-platform-tests"
The shared web-platform-tests suite allows us to align Gecko's behaviour with that of other web platform implementations, and avoid web compatibility issues that affect user retention. The goal is to make it easier for Gecko developers to write web-platform-tests, in particular:

* Add built-in support for tests that invlve multiple browsing contexts and multiple borwsing context groups.
* Improve

[2021-08-18 02:15] karlcow opened #213 "Be more aggressive with shipping interventions - Stats"
Let's measure how did we improve our shipping interventions stats.
Related to #199

Investigated and shipped/wontfix'ed 50% of the candidates in our backlog.

[2021-08-18 02:19] karlcow opened #214 "Firefox/100 Testing Project"
This is a work led by @cpeterso and will potentially create work for the diagnosis team, eventual site interventions #199
This is a kind of followup on https://mozilla-hub.atlassian.net/browse/FFXP-238?jql=%22Platform%20Team%22%20%3D%20WebCompat

And this is tracked in https://mozilla-hub.atlassian.net/browse/DS-1680

[2021-08-18 02:31] karlcow commented on #153
There might be a dependency on #202 worked on by @denschub

[2021-08-18 16:00] denschub commented on #213
The [current interventions-candidate backlog](https://github.com/webcompat/web-bugs/issues?q=label%3Aaction-needssitepatch) consists of 96 issues. The oldest of that is an issue from September 2019.

[2021-08-19 13:33] softvision-oana-arbuzov commented on #199
[Done] 2nd run (Q3) - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1732552367

UA Overrides to be removed:
[1726520](https://bugzilla.mozilla.org/show_bug.cgi?id=1726520) Remove UA Override for corporate.santander.co.uk
[1726542](https://bugzilla.mozilla.org/show_bug.cgi?id=1726542) Remove UA Override fo

[2021-08-19 13:34] softvision-oana-arbuzov commented on #199
3rd QA run (Q3) - 2021-09-16

[2021-08-20 18:25] softvision-raul-bucata commented on #200
Progress - 20.08.2021 : 0 untriaged / 0 unmoderated / 46 backlog issues (needsinfo)

[2021-08-23 07:22] softvision-raul-bucata commented on #198
Progress: 375 verified issues/ 507 issues

[2021-08-27 14:51] softvision-oana-arbuzov commented on #200
Progress - 27.08.2021 : 0 untriaged / 0 unmoderated / 39 backlog issues (needsinfo)

[2021-08-27 15:00] softvision-oana-arbuzov commented on #198
We've finished verifying all the Needscontact issues and bellow are the results:
- **Fixed: 174 issues**
- Duplicate: 4 issues
- Invalid: 23 issues
- Incomplete: 2 issues
- Non-compat: 8 issues
- Won't fix: 2 issues
- Can't test: 6 issues
- **Reproducible: 281 issues**

[2021-08-27 15:00] #198 closed, assigned to softvision-oana-arbuzov, softvision-raul-bucata

[2021-09-03 15:32] softvision-raul-bucata commented on #200
Progress - 03.09.2021 : 0 untriaged / 0 unmoderated / 65 backlog issues (needsinfo/ ipad device issues)

[2021-09-10 15:18] softvision-oana-arbuzov commented on #200
Progress - 10.09.2021 : 0 untriaged / 0 unmoderated / 49 backlog issues (needsinfo)

[2021-09-17 14:14] softvision-oana-arbuzov commented on #199
[Done] 3rd run (Q3) - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=603406939

UA Overrides to be removed:
[1731089](https://bugzilla.mozilla.org/show_bug.cgi?id=1731089) Remove UA Override for tieba.baidu.com
[1731254](https://bugzilla.mozilla.org/show_bug.cgi?id=1731254) Remove UA Override for avto.pro

[2021-09-17 15:47] softvision-oana-arbuzov commented on #200
Progress - 17.09.2021 : 0 untriaged / 0 unmoderated / 24 backlog issues (needsinfo)

[2021-09-23 15:25] softvision-oana-arbuzov commented on #196
Performed Exploratory testing on:
- Office 365 Microsoft - Sharepoint - desktop & mobile
- Office 365 Microsoft - OneNote - desktop & mobile
- Office 365 Microsoft - Booking - desktop & mobile
- Office 365 Microsoft - Planner - desktop & mobile
- Webex
- Salesforce

Issues found:
[#87846](https://github.com/webcompat/web-bugs/issues/87846) outlookwebtest.sharepoint.com -  Inconsistent display of e

[2021-09-24 14:49] softvision-oana-arbuzov commented on #200
Progress - 24.09.2021 : 0 untriaged / 0 unmoderated / 27 backlog issues (needsinfo)

[2021-10-01 15:29] softvision-oana-arbuzov commented on #200
Progress - 01.10.2021 : 0 untriaged / 0 unmoderated / 30 backlog issues (needsinfo)

[2021-10-01 15:39] softvision-oana-arbuzov commented on #196
Performed Exploratory testing on:
- Office 365 Microsoft - Planner - desktop
- Office 365 Microsoft - Sway - desktop & mobile
- Office 365 Microsoft - Forms - desktop & mobile
- Office 365 Microsoft - Lists - desktop
- Office 365 Microsoft - Power Apps - desktop
- Webex

Issues found:
[88374](https://github.com/webcompat/web-bugs/issues/88374) sway.office.com - Unable to share the video
[88375](ht

[2021-10-08 09:30] #200 closed, assigned to softvision-oana-arbuzov, softvision-raul-bucata

[2021-10-08 15:12] softvision-oana-arbuzov commented on #200
Progress - 08.10.2021 : 0 untriaged / 0 unmoderated / 31 backlog issues (needsinfo)

[2021-10-08 17:22] softvision-oana-arbuzov commented on #196
Performed Exploratory testing on:
- Office 365 Microsoft - Power Apps - desktop
- Salesforce - desktop
- Slack - desktop

Issues found:
[89354](https://github.com/webcompat/web-bugs/issues/89354) make.powerapps.com - "Zoom bar" design is broken
[1734621](https://bugzilla.mozilla.org/show_bug.cgi?id=1734621) Sign in is not performed on web.powerva.microsoft.com with ETP - Standard enabled
[89357](h

[2021-10-11 14:30] softvision-oana-arbuzov opened #215 "2021Q4 - End every week with 0 untriaged and unmoderated bugs"
As measured by the webcompat-metrics server: http://webcompat-dashboard.herokuapp.com/needstriage and https://github.com/webcompat/web-bugs-private/issues (since we don't have a moderation endpoint for the metrics server yet).

The goal here is to track that we're able to keep up with bug load with current resources, and if not, use that as a justification to request more resources.

Note: Comment

[2021-10-11 14:30] softvision-oana-arbuzov commented on #215
Progress - 01.10.2021 : 0 untriaged / 0 unmoderated / 30 backlog issues (needsinfo)

[2021-10-11 14:30] softvision-oana-arbuzov commented on #215
Progress - 08.10.2021 : 0 untriaged / 0 unmoderated / 31 backlog issues (needsinfo)

[2021-10-11 14:32] softvision-oana-arbuzov commented on #199
1st QA run (Q4) - 2021-10-14

[2021-10-11 14:37] softvision-oana-arbuzov opened #216 "[Reserve] 2021Q4 - Test Top 50 Alexa site with Firefox v.100"
Test top 50 Alexa sites to make sure they work with Firefox version.100.
https://www.alexa.com/topsites

[2021-10-11 14:41] softvision-oana-arbuzov opened #217 "2021Q4 -Top 10 TSCI re-check"
Perform a single check on top 10 TSCI site based on https://docs.google.com/spreadsheets/d/1lSbM-gPtyyuUf_gO3GGrZKfZ_FP50XZ6N9xmNlouqpU/edit#gid=63787018

[2021-10-11 14:43] softvision-oana-arbuzov commented on #217
Progress will be shown here https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=549305135

[2021-10-11 18:40] softvision-oana-arbuzov commented on #216
Progress will be visible here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1466880256

[2021-10-14 13:05] softvision-oana-arbuzov commented on #199
[Done] 1st run (Q4) - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=347647518

[2021-10-15 16:10] softvision-raul-bucata commented on #196
Performed Exploratory testing on:
- Office 365 Microsoft - Power Apps - desktop
- Salesforce - desktop/mobile
- Slack - desktop

[2021-10-15 16:10] softvision-raul-bucata commented on #215
Progress - 15.10.2021 : 0 untriaged / 0 unmoderated / 43 backlog issues (needsinfo)

[2021-10-20 04:53] karlcow commented on #210
This has been done.

[2021-10-20 04:53] #210 closed, assigned to ksy36

[2021-10-22 14:45] softvision-oana-arbuzov commented on #215
Progress - 22.10.2021 : 0 untriaged / 0 unmoderated / 33 backlog issues (needsinfo)

[2021-10-22 14:46] softvision-oana-arbuzov commented on #196
Performed Exploratory testing on:

-   Office 365 Microsoft - Power Apps - desktop
-   Office 365 Microsoft - Power Virtual Agents  - desktop
-   Slack - desktop

[2021-10-25 13:42] softvision-oana-arbuzov commented on #199
2nd QA run (Q4) - 2021-11-17

[2021-10-29 14:53] softvision-raul-bucata commented on #196
Performed Exploratory testing on:

-   Office 365 Microsoft - Power Apps - desktop
-   Office 365 Microsoft - Power Virtual Agents  - desktop
-   Salesforce -desktop and mobile

[2021-10-29 14:58] softvision-raul-bucata commented on #215
Progress - 29.10.2021 : 0 untriaged / 0 unmoderated / 33 backlog issues (needsinfo)

[2021-11-05 15:18] softvision-oana-arbuzov commented on #217
We've finished re-checking top 10 TSCI sites and below is the result:
- **6** Needsdiagnosis issues - **Fixed**
- **3** Sitewait issues - **Fixed**
- **8** Needstriage issues - with **Needsinfo**
- **26** Needsdiagnosis - **Reproducible**
- **15** Sitewait - **Reproducible**

[2021-11-05 15:18] #217 closed, assigned to softvision-oana-arbuzov, softvision-raul-bucata

[2021-11-05 16:32] softvision-oana-arbuzov commented on #215
Progress - 05.11.2021 : 0 untriaged / 0 unmoderated / 36 backlog issues (needsinfo)

[2021-11-05 16:39] softvision-oana-arbuzov commented on #196
Performed Exploratory testing on:
- Office 365 Microsoft - Whiteboard - desktop
- Office 365 Microsoft - People - desktop

Issues found:
[92369](https://github.com/webcompat/web-bugs/issues/92369) whiteboard.office.com - Incorrect font displayed for the expanded "Copyright" section
[92370](https://github.com/webcompat/web-bugs/issues/92370) wbd.ms - "Hint" text is missing from created "Note"

[2021-11-12 10:10] softvision-oana-arbuzov opened #218 "2022Q1 - Test Top 50 Alexa site with Firefox v.100"
Test top 50 Alexa sites to make sure they work with Firefox version.100.
https://www.alexa.com/topsites

[2021-11-12 10:11] softvision-oana-arbuzov opened #219 "2022H1 - End every week with 0 untriaged and unmoderated bugs"
As measured by the webcompat-metrics server: http://webcompat-dashboard.herokuapp.com/needstriage and https://github.com/webcompat/web-bugs-private/issues (since we don't have a moderation endpoint for the metrics server yet).

The goal here is to track that we're able to keep up with bug load with current resources, and if not, use that as a justification to request more resources.

Note: Comment

[2021-11-12 10:13] softvision-oana-arbuzov opened #220 "2022Q1 - ETP shim testing on 20 new sites from the optional list"
Test ETP shimming on the optional list of sites
https://gist.github.com/englehardt/a698fa491d477cc03a67e383c8853ca0

[2021-11-12 10:15] softvision-oana-arbuzov opened #221 "2022Q4 - QA re-verification of Needsdiagnosis issues"
Some older issues may no longer be valid, let's check them.
https://github.com/webcompat/web-bugs/issues?q=is%3Aopen+is%3Aissue+milestone%3Aneedsdiagnosis

[2021-11-12 10:16] softvision-oana-arbuzov opened #222 "2022Q3 - QA re-verification of Needcontact issues"
Some older issues may no longer be valid, let's check them.
https://github.com/webcompat/web-bugs/issues?q=is%3Aopen+is%3Aissue+milestone%3Aneedscontact

[2021-11-12 10:16] softvision-oana-arbuzov opened #223 "2022Q2 - QA re-verification of Sitewait issues"
Some older issues may no longer be valid, let's check them.
https://github.com/webcompat/web-bugs/issues?q=is%3Aopen+is%3Aissue+milestone%3Asitewait

[2021-11-12 10:18] softvision-oana-arbuzov opened #224 "2022Q1 - QA re-verification of Contactready issues"
Some older issues may no longer be valid, let's check them.
https://github.com/webcompat/web-bugs/issues?q=is%3Aopen+is%3Aissue+milestone%3Acontactready

[2021-11-12 10:21] softvision-oana-arbuzov opened #225 "2022Q1 - needstriage on Webcompat Bugzilla"
We currently have 70 issues without a webcompat keywords, so supposedly being in need of needs-diagnosis or another status.

The goal is to make sure these are all being triaged.
https://bugzilla.mozilla.org/buglist.cgi?cmdtype=dorem&remaction=run&namedcmd=needs-triage&sharer_id=473918

[2021-11-12 10:23] softvision-oana-arbuzov opened #226 "2022Q1 -Top 10 TSCI re-check"
Perform a single check on top 10 TSCI site based on https://docs.google.com/spreadsheets/d/1lSbM-gPtyyuUf_gO3GGrZKfZ_FP50XZ6N9xmNlouqpU/edit#gid=63787018

[2021-11-12 10:25] softvision-oana-arbuzov opened #227 "2022 - Bugzilla Webcompat clean-up"
Investigate old Bugzilla issues.
https://bugzilla.mozilla.org/describecomponents.cgi?product=Web%20Compatibility

[2021-11-12 10:27] softvision-oana-arbuzov opened #228 "2022Q1 - Top 10 TSCI sites High Level TS creation an execution"
Create High level TS for the top 10 TSCI site based on https://docs.google.com/spreadsheets/d/1lSbM-gPtyyuUf_gO3GGrZKfZ_FP50XZ6N9xmNlouqpU/edit#gid=63787018

On each quarter 3 of the TS will be executed.

[2021-11-12 10:29] softvision-oana-arbuzov opened #229 "2022Q1 - Product Team proposal testing"
Topics:
- Adobe Photoshop in browser
- YouTube offline

[2021-11-12 16:00] softvision-raul-bucata commented on #215
Progress - 12.11.2021 : 0 untriaged / 0 unmoderated / 40 backlog issues (needsinfo)

[2021-11-12 17:44] softvision-oana-arbuzov commented on #196
Performed Exploratory testing on:

- Office 365 Microsoft - Whiteboard - desktop
- Office 365 Microsoft - People - desktop & mobile
- Office 365 Microsoft - Yammer - desktop & mobile
- Office 365 Microsoft - Calendar - mobile
- Confluence

Issues found:
[93208](https://github.com/webcompat/web-bugs/issues/93208) outlook-sdf.office.com - Horizontal scroll bar overlaps the "Suggested Contacts" names

[2021-11-14 19:09] ksy36 commented on #209
This is done.

[2021-11-14 19:19] #209 closed, assigned to ksy36

[2021-11-16 13:37] denschub commented on #202
Long comment, import things are bold.

As I worked on this, some changes to the plans have popped up.

Instead of updating the old stack and making it work again, **I decided to pretty much start from scratch and re-build the enitre stack**. The reasons:
- There was **no real upgrade-path for Kibana and ElasticSerach**. Bonsai isn't really meant that way. I've confirmed with their support staff th

[2021-11-16 13:40] denschub commented on #227
I went through all the issues in the "Interventions" component, so that's done. :)

[2021-11-16 16:20] wisniewskit opened #230 "Add Telemetry for WebCompat/ETP interventions"
[bug 1585804](https://bugzilla.mozilla.org/show_bug.cgi?id=1585804)
- at the very least it would be good to know how many times a given intervention is being used.
- it might also be worthwhile tracking whether users disable a given intervention/shim (via `about:config` or `about:compat`)
- rough time estimate: one week of engineering time to find/create the required experimental APIs and hook the

[2021-11-16 16:33] wisniewskit opened #231 "Refactor the WebCompat interventions code to re-use the shims code"
[Issue #248](https://github.com/mozilla-extensions/webcompat-addon/issues/248)
- to reduce friction when creating interventions, it would be good to have one "type" of intervention, sharing the same single codebase/JSON file.
- right now we have three: shims, UA overrides, and interventions. we can just make them all shims with some kind of "type" field.
- this would consolidate the code, making i

[2021-11-16 16:35] wisniewskit opened #232 "List ETP-related interventions on about:compat"
SmartBlock/ETP shims are not presently listed on about:compat. Work for adding them is progressing in [bz1723776](https://bugzilla.mozilla.org/show_bug.cgi?id=1723776).

There will almost certainly be some related follow-up work, such as [bz1728110](https://bugzilla.mozilla.org/show_bug.cgi?id=1728110)

Rough time estimate: about one week of engineering.

[2021-11-16 17:03] wisniewskit opened #233 "Increase reliability of ETP shims"
Basically aim to resolve these bugs:
- https://bugzilla.mozilla.org/show_bug.cgi?id=1733566
- https://bugzilla.mozilla.org/show_bug.cgi?id=1733370
- https://bugzilla.mozilla.org/show_bug.cgi?id=1712096
- rough time estimate: at least one week of engineering for the first two bugs. likely 2+ weeks for the third.

[2021-11-16 17:03] wisniewskit opened #234 "Address growing backlog of Report-Site-Issue addon issues"
Basically aim to resolve bugs such as:
- https://bugzilla.mozilla.org/show_bug.cgi?id=1697124
- https://bugzilla.mozilla.org/show_bug.cgi?id=1677415
- https://bugzilla.mozilla.org/show_bug.cgi?id=1560449
- https://bugzilla.mozilla.org/show_bug.cgi?id=1400263
- https://bugzilla.mozilla.org/show_bug.cgi?id=1318353
- rough time estimate: 1 weeks of engineering effort, not counting any surprises or un

[2021-11-16 17:04] wisniewskit opened #235 "Increase momentum on interventions in general"
- post-refactor (#231), we should have an easier time adding and maintaining site-patches
- we should seek other avenues for reducing friction on site-patches

[2021-11-16 17:10] wisniewskit opened #236 "Make a concrete plan for iOS interventions/SmartBlock"
Having a document outlining our proposals, intents, and how our code aims to work would be beneficial for others to know which code we're adding and why.

Rough time estimate: 2+ days of effort to compile our thoughts and create a document, after having spent some time to figure out our thoughts in the first place.

[2021-11-16 17:12] wisniewskit opened #237 "Resolve the Testcase Reducer iframe issue"
The Testcase Reducer addon does not work consistently across iframes, and perhaps due to other issues. I believe that the main issue here is https://bugzilla.mozilla.org/show_bug.cgi?id=1393022, and fixing it would greatly help with reducing complicated sites, increasing diagnosis throughput.

Rough time estimate: 2-4 days of effort, depending on how close the current patch is, unexpected test fai

[2021-11-16 17:18] wisniewskit opened #238 "Make a concrete plan with the ETP team for SmartBlock UI enhancements"
- SmartBlock could inform users where certain types of tracked content are on a page, and let them opt into just allowing them (instead of dropping all protections using the Shield icon).
- placeholders where social media posts, videos, etc should be, so that users can see what they are missing.
- a global indicator for cases where sites completely break (shopping APIs, CDNs with custom jquery ver

[2021-11-17 11:23] softvision-oana-arbuzov commented on #199
[Done] 2dn run (Q4) - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=810301049

[2021-11-17 11:24] softvision-oana-arbuzov commented on #199
3rd QA run (Q4) - 2021-12-20

[2021-11-17 22:08] denschub opened #239 "Investigate shipping Interventions for other Large Applications"
The Slack User Agent override went well. We do have a couple of other large sites and large applications with known User Agent-based blocks on our list, so let's look into adding interventions to these.

Unfortunately, these cases are a bit more complicated than our usual interventions. In some cases, other teams are working with the site's developers to get things addressed, and we have to make s

[2021-11-17 22:16] wisniewskit commented on #204
This appears to have landed as part of this commit: https://github.com/mozilla-mobile/focus-android/commit/95b49cc5b264295db9a81998536a86c3556953a7

I'm not sure if SmartBlock is working 100%, but that can be fixed in a follow-up outside of this OKR.

[2021-11-17 22:26] denschub opened #240 "Figuring out how to handle diagnosis more efficiently"
Our current diagnosis backlog is a bit too large for my personal comfort. And unfortunately, some of the issues are quite old already. This is the distribution of our current diagnosis backlog:

<img width="859" alt="Screenshot 2021-11-17 at 23 19 13" src="https://user-images.githubusercontent.com/344777/142291719-0e96925b-0fd6-488a-925c-270213196ac8.png">

Having issues that are 3-6 months old is

[2021-11-17 22:50] ksy36 opened #241 "Create a standalone Github app for bugbug prediction"
We currently have all bugbug-related code inside our webhook event handler on webcompat.com. It would be great to separate it into a standalone Github app, so other repositories could reuse it.

The process consists of 3 steps:
1) Make a [request](https://github.com/webcompat/webcompat.com/blob/main/webcompat/webhooks/ml.py) to the bugbug http server for a prediction on a ["issue opened" webhook e

[2021-11-18 01:16] ksy36 opened #242 "Automatically label nsfw issues"
Let's create a list with nsfw domains and add `nsfw` label to new issues with domains from this list. The list can be based either on the previous issues from our own `web-bugs` repository or other sources. Optionally we could also delete screenshots for issues that get this label. This would probably take a week worth of effort.

[2021-11-18 01:33] ksy36 opened #243 "Gather bugbug statistics to get insights into issues that are closed as invalid"
It would be beneficial to gather bugbug prediction stats similarly to the [previous version of ml-bot](https://github.com/mozilla/webcompat-ml-deploy/blob/master/docker/needsdiagnosis/run.py#L81). With firefox-ios reporter moving to beta only we'll have fewer invalid issues, so we can experiment with lowering the confidence threshold, which is 0.97 at the moment. This will take 4-5 days of work (t

[2021-11-18 17:21] denschub commented on #234
So, about [bug 1677415](https://bugzilla.mozilla.org/show_bug.cgi?id=1677415):

This is a timing issue that, if we want to resolve it properly, needs quite a bit of rework on both the reporter, but also on the webcompat.com end to make it accept the pre-fill data on a different channel. All that doesn't look like a quick fix to me, and the 1 week estimate is, in my opinion, a bit too close if this

[2021-11-18 17:28] wisniewskit commented on #234
@denschub: Yes, in hindsight you're right, I didn't really count the webcompat.com work in my estimate, which was a bit silly. Do you suppose doubling the estimate is reasonable?

[2021-11-18 21:32] denschub commented on #234
@ksy36 is a way better person to estimate the webcompat.com work, but I think two weeks are enough, yeah.

[2021-11-19 14:02] jgraham opened #244 "Implement touch/pen event support in marionette"
Implement support for touch and pen events in marionette. This will improve our ability to write platform tests using wpt, improve author's ability to write tests that work in Firefox, and improve our support for the existing pointerevents testsuite https://wpt.fyi/results/pointerevents?label=master&label=experimental&aligned&q=pointerevents

[2021-11-19 14:10] jgraham opened #245 "WebDriver-BiDi spec work"
Continue work on the spec. Next priorities are either input events (probably easier, since it will be more like WebDriver classic) or network request monitoring and interception (requires more work on the HTML/fetch side, has some crossover with WebExtensions).

[2021-11-19 16:00] softvision-raul-bucata commented on #215
Progress - 19.11.2021 : 0 untriaged / 0 unmoderated / 31 backlog issues (needsinfo)

[2021-11-19 16:02] softvision-raul-bucata commented on #196
Performed Exploratory testing on:

 - Office 365 Microsoft - Calendar - mobile
- Confluence - desktop

Issues found:
[93917](https://github.com/webcompat/web-bugs/issues/93917) mana.mozilla.org - Set-up time zone modal is not displayed

[2021-11-22 18:19] denschub commented on #202
A possible improvement here is to extend the indexer task to extract the URL from the reports data, to have both the full URL as its own field in the JSON, but also the base domain. This would allow some more advanced statistics that are hard to do based on full-text searches alone.

Al the other fields, like the Operating System or Browser Version are also available as labels, but since the index

[2021-11-23 11:26] karlcow commented on #244
To create a JIRA issue for it

[2021-11-25 05:38] karlcow commented on #238
This probably should be tracked with the Privacy team. This is cool to know about it here.

[2021-11-25 05:39] karlcow commented on #232
While this shares the same spot for webcompat site interventions. I believe this is work we should be tracked by the privacy team.

[2021-11-25 05:42] karlcow commented on #235
@wisniewskit How long do you think this should take.

[2021-11-25 05:49] karlcow commented on #233
This seems to be Privacy team related work.

[2021-11-25 05:50] karlcow commented on #234
@wisniewskit is it 1 week per issue or 1 week for the total

[2021-11-25 06:01] karlcow commented on #228
I think We would put this one on hold for now.
The main reason is that this document is not really used and maintained. And we should come up with a better source in the future.

[2021-11-25 06:03] karlcow commented on #227
@softvision-oana-arbuzov did you mean the compat bugs to triage and diagnosis? or something else.]
@denschub "just" did for Interventions. (Thanks)

[2021-11-25 06:04] karlcow commented on #226
See comment on #228

[2021-11-25 06:05] karlcow commented on #225
Yes!

[2021-11-25 06:06] karlcow commented on #225
And could you in your routine when moved to needsdiagnosis to just assign someone to them. one of the 4 by rotation.

[2021-11-25 06:07] karlcow commented on #229
Let's check with the product team.

[2021-11-25 06:28] karlcow commented on #220
This seems to be a work for the privacy team. Let's put it on hold.

[2021-11-25 06:29] karlcow commented on #218
Let's wait first for the results of The Firefox 100 experiment going.

[2021-11-25 06:35] karlcow commented on #236
This seems to be for the Privacy team.

[2021-11-25 06:37] karlcow commented on #235
Or maybe the terms are currently too vague to define a plan for work,

[2021-11-25 06:40] wisniewskit commented on #234
@karlcow , at this stage I feel it will be about two weeks total, though @ksy36 might have additional insight.

[2021-11-25 06:41] wisniewskit commented on #236
Actually, I intended it to be for our port of the webcompat addon's capabilities to iOS, including UA overrides and JS/CSS interventions (the SmartBlock/ETP-specific parts can be treated separately, though they are likely to be very similar overall).

[2021-11-25 06:42] wisniewskit commented on #235
Yes, this is too vague as written to give a proper estimate. We can discuss it together with @denschub and @ksy36 to get more thoughts on what we'd like to do here.

[2021-11-25 06:43] karlcow commented on #245
https://mozilla-hub.atlassian.net/browse/FFXP-245
https://mozilla-hub.atlassian.net/browse/FFXP-314

Putting as non-compat as this is tracked in devtools team

[2021-11-25 08:15] softvision-oana-arbuzov commented on #227
@karlcow yes we'll check the compat bugs on Bugzilla (Desktop & Mobile).

[2021-11-25 15:37] denschub commented on #235
So, this is my very personal opinion.

I'm not sure if that's actually true. While I think that the suggested refactoring is not a bad idea, I don't see any significant friction caused by the current state in my work with the addon. For me, while building interventions, the things that take time are

- figuring out which issues are worth an intervention
- doing full diagnosis on an issue - because

[2021-11-26 15:54] softvision-oana-arbuzov commented on #215
Progress - 26.11.2021 : 0 untriaged / 0 unmoderated / 32 backlog issues (needsinfo)

[2021-11-26 16:40] softvision-oana-arbuzov commented on #196
Performed Exploratory testing on:

- Office 365 Microsoft - Visio - desktop
- Office 365 Microsoft - Stream - desktop & mobile
- Box - desktop
- Confluence - desktop & mobile

Issues found:
[94369](https://github.com/webcompat/web-bugs/issues/94369) mana.mozilla.org - Thick scrollbar is displayed inside the pop-up modal
[94590](https://github.com/webcompat/web-bugs/issues/94590) web.microsoftstrea

[2021-12-03 17:28] softvision-raul-bucata commented on #215
Progress - 03.12.2021 : 0 untriaged / 0 unmoderated / 46 backlog issues (needsinfo)

[2021-12-03 17:28] softvision-raul-bucata commented on #196
Performed Exploratory testing on:

- Confluence - desktop

[2021-12-09 15:28] denschub commented on #213
I'll reverse my decision to mark this as challanged, and instead treat is as complete. Here is what I wrote in cultureamp:

Even including iOS, that's a backlog-reduction of over 50% for the older-than-H2 issues. I wanted to get 100% done, but given there was other work as well, and some unforeseen complications, this didn't happen. But it would be unfair to everyone working on interventions to ma

[2021-12-09 15:29] denschub commented on #199
Version 29 has been shipped - in time on Desktop, but with some delay on Mobile due to some issues. No big deal, it made it into a release anyway. :)

And with that, this goal is done, there are no more interventions to be released this year. Thanks to everyone who sometimes had more interventions to build because I sneakily assigned them some issues from the backlog, and thanks to @softvision-oan

[2021-12-09 16:22] denschub commented on #202
The internal presentation is done. I also ported over the significant portions from Adams dashboard. Because the data is there anyway, we can adjust and expand this stuff at any time without having to "start from scratch".

I will not have time to work on more dashboards and more data-based answers this year. I partly blame the fact that this project started a bit later than I would have hoped - w

[2021-12-10 15:34] softvision-oana-arbuzov commented on #215
Progress - 10.12.2021 : 0 untriaged / 0 unmoderated / 36 backlog issues (needsinfo)

[2021-12-10 15:35] softvision-oana-arbuzov commented on #196
Performed Exploratory testing on:

- Office 365 Microsoft - Stream - desktop

[2021-12-14 10:17] karlcow opened #246 "Create an addon to move a web-bug to bugs.webkit.org"
The current bugs from web-bugs which are related to Safari are looked at carefully by Apple. Let's possible move them to their bug reporting system after triage.

We could create an addon of the same type we did for web-bugs to bugzilla.mozilla.org made by @mdtsai

[2021-12-14 10:27] karlcow opened #247 "Compile statistics about browser versions, models for reported web-bugs"
We need to better understand how many bugs from each browser vendors, and their versions and platforms.

[2021-12-17 09:51] karlcow commented on #147
I'm not sure we see that many fastclick issues anymore. I propose we close this.

[2021-12-17 09:51] #147 closed, assigned to wisniewskit

[2021-12-17 15:42] softvision-oana-arbuzov commented on #215
Progress - 17.12.2021 : 0 untriaged / 0 unmoderated / 38 backlog issues (needsinfo)

[2021-12-23 13:24] softvision-oana-arbuzov commented on #199
Thanks @denschub and thanks @softvision-raul-bucata for helping out with this task.

[Done] 3rd run (Q4) - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1998440871

Interventions to be removed:
[1747366](https://bugzilla.mozilla.org/show_bug.cgi?id=1747366) Remove Intervention for lu.ma
[1747373](https://

[2021-12-24 14:17] softvision-oana-arbuzov commented on #215
Progress - 24.12.2021 : 0 untriaged / 0 unmoderated / 30 backlog issues (needsinfo)

[2021-12-31 14:01] softvision-oana-arbuzov commented on #196
Performed Exploratory testing on:

- Office 365 Microsoft - Delve - desktop
- Office 365 Microsoft - Excel - desktop
- Office 365 Microsoft - Word - desktop
- Office 365 Microsoft - PowerPoint - desktop

Issues found:
[97503](https://github.com/webcompat/web-bugs/issues/97503) www.office.com - Scrollbar overlaps the options arrows inside "More options" menu
[1747889](https://bugzilla.mozilla.org/s

[2021-12-31 14:01] #196 closed, assigned to softvision-oana-arbuzov, softvision-raul-bucata

[2021-12-31 14:03] softvision-oana-arbuzov commented on #215
Progress - 31.12.2021 : 0 untriaged / 0 unmoderated / 25 backlog issues (needsinfo)

This task is Completed, thus closing it.

[2021-12-31 14:03] #215 closed, assigned to softvision-oana-arbuzov, softvision-raul-bucata

[2022-01-05 20:51] ksy36 opened #248 "Add a section with possible duplicates to the webcompat.com reporting form"
We regularly receive duplicate reports and some of them have been reported a lot of times (for example [imgur.com](
https://github.com/webcompat/web-bugs/issues?q=is%3Aissue+imgur.com+is%3Aclosed)). To potentially discourage users from reporting duplicates and therefore save time on triage, we could add a "possible duplicates" section to the form.

We could place it after "Web address", "Issue", "

[2022-01-06 08:48] softvision-oana-arbuzov commented on #248
I think that would be nice to have.

I would say the location to be after typing the URL in the "Web address" field. After the field is filled the suggestion list with duplicates/related issues could be shown, similar to Bugzilla.

[2022-01-06 10:06] karlcow commented on #248
With the work of @denschub on having a backup of all data, It is probably easier to do than in the past.

What would be the criteria for evaluating the duplicate nature? ML? or something else?

URIs are an issue, because they do not work for things like `facebook.com`, `google.com`, etc. Discussed in

* [#307](https://github.com/webcompat/webcompat.com/issues/307)
* [#864](https://github.com/webco

[2022-01-06 13:33] softvision-oana-arbuzov commented on #224
Progress will be visible here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1042435056

[2022-01-06 15:29] softvision-raul-bucata commented on #248
I agree with Oana, this would be cool and nice to have.

[2022-01-07 09:07] softvision-oana-arbuzov commented on #225
Progress will be visible here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1662301213

[2022-01-07 15:44] softvision-oana-arbuzov commented on #219
Progress - 07.01.2022 : 0 untriaged / 0 unmoderated / 24 backlog issues (needsinfo)

[2022-01-07 16:03] softvision-raul-bucata commented on #225
Progress 7/01/2022: 11/70

[2022-01-07 16:03] softvision-raul-bucata commented on #224
Progress 7/01/2022: 40/103

[2022-01-07 16:04] softvision-raul-bucata commented on #224
Progress 7/01/2022: 41/103

[2022-01-11 10:16] karlcow opened #249 "Alexa Sunset in May 2022"
see https://github.com/webcompat/webcompat.com/issues/3656

[2022-01-12 17:40] softvision-oana-arbuzov opened #250 "2022H1 - Site Intervension Release"
Manual execution (issues related to 2fa/geo-location/code verification) and Automated Test Suite progress for Interventions and UA Overrides.

* [x] Version 30 for Firefox 98 (Soft Freeze: 2022-02-03) - @ksy36  - [Bugzilla Bug #1749436](https://bugzilla.mozilla.org/show_bug.cgi?id=1749436)
* [x] Version 31 for Firefox 99 (Soft Freeze: 2022-03-03) - @wisniewskit - [Bugzilla Bug #1752986](https://bu

[2022-01-12 20:08] ksy36 commented on #248
Thanks for your input everyone!

This is a good idea! Also, we need to think about what to do with domains with a lot of issues. Perhaps we could take a 2-phase approach:

1) Once a reporter presses "Confirm" for the URL address we search for the issues with such domain and there could be two cases:

a) A few issues with such domain (for example [nha.chotot.com](https://github.com/webcompat/web-bu

[2022-01-13 14:52] softvision-oana-arbuzov commented on #218
Experiment is completed, thus we can test ourselves.

Progress will be available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1466880256

[2022-01-14 05:14] wisniewskit commented on #232
This is now done, and about:compat on desktop, Fenix, and Focus on Android shows the ETP-related shims under "SmartBlock Fixes".

[2022-01-14 05:14] #232 closed, assigned to wisniewskit

[2022-01-14 15:50] softvision-oana-arbuzov commented on #224
We've finished this task and bellow is the progress:
- Fixed issues: **28**
- Non-compat: 3
- Invalid: 8
- Needinfo: 2
- Reproducible: **62**

[2022-01-14 15:50] #224 closed, assigned to softvision-oana-arbuzov, softvision-raul-bucata

[2022-01-14 15:53] softvision-oana-arbuzov commented on #219
Progress - 14.01.2022 : 0 untriaged / 0 unmoderated / 24 backlog issues (needsinfo)

[2022-01-14 15:54] softvision-oana-arbuzov commented on #225
Progress 14/01/2022: 32/70

[2022-01-21 15:20] softvision-oana-arbuzov opened #251 "Version 30 for Firefox 98 (Soft Freeze: 2022-02-03) - @ksy36 - Bugzilla Bug #1749436"

[2022-01-21 15:20] #251 closed, assigned to nobody

[2022-01-21 15:52] softvision-oana-arbuzov commented on #250
[Done] 1st Manual run (Q1) - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=502946932

**Intervention to be removed:**
[1751220](https://bugzilla.mozilla.org/show_bug.cgi?id=1751220) Remove Intervention for air-quality.com

[2022-01-21 16:41] softvision-oana-arbuzov commented on #219
Progress - 21.01.2022 : 0 untriaged / 0 unmoderated / 23 backlog issues (needsinfo)

[2022-01-21 16:43] softvision-oana-arbuzov commented on #225
Progress 21/01/2022: 36/70

[2022-01-28 15:24] softvision-raul-bucata commented on #225
Progress 28/01/2022: 38/70

[2022-01-28 15:24] softvision-raul-bucata commented on #219
Progress - 28.01.2022 : 0 untriaged / 0 unmoderated / 24 backlog issues (needsinfo)

[2022-02-01 22:03] karlcow opened #252 "Write an explainer about site interventions"
Goal: offer a document which can be used as a reference and/or blog post explaining site interventions.

* What does it solve?
* What is the architecture on the Gecko side? (Probably a couple of graphs)
* Rough explanation of the release cycle
* How to create site interventions (with code examples)?
   * JavaScript
   * CSS

[2022-02-01 22:05] karlcow opened #253 "Core Bugs and Webcompat Priority P1"
How do we make sure that people understand the priority of a P1 in Core Bugs list
https://wiki.mozilla.org/Compatibility/Core_Bugs

What makes us sure that one has more priority than another one in order to push it to be fixed faster among the core engineers.

[2022-02-03 11:12] denschub commented on #252
This seems like something I would enjoy, so I'm preemptively assigning myself. But if someone else wants to work on this, please, feel free to take this!

[2022-02-04 15:33] softvision-oana-arbuzov commented on #225
Progress 04/02/2022: 65/70

[2022-02-04 15:34] softvision-oana-arbuzov commented on #219
Progress - 04.02.2022 : 0 untriaged / 0 unmoderated / 16 backlog issues (needsinfo)

[2022-02-04 15:37] softvision-oana-arbuzov commented on #218
Progress 04.02.2022:
- [Google.com](https://www.google.com)
- [Youtube.com](http://youtube.com/)

[2022-02-07 00:44] karlcow opened #254 "Better cooperation in between Relman Team and Webcompat Team"
The relman team has for objectives stability and no surprises.
The webcompat team is working on an assumption of emergency and reactivity (nature of the work).

Both team objectives create frictions and probably misunderstandings on the nature of the work.

We need to better explain what each of the team do (That would be perfect if All Hands or work week were still possible.) Some items we need t

[2022-02-07 00:45] karlcow commented on #254
@pascalchevrel if there are more questions and comments could you add them here. And we can open separate issues, little by little to address them.

[2022-02-08 02:12] karlcow commented on #254
@ksy36 has opened a bug for [better tracking regression on web-bugs](https://github.com/webcompat/webcompat.com/issues/3671)

[2022-02-08 09:04] softvision-oana-arbuzov commented on #250
Next run: 17.02.2022

[2022-02-09 03:20] karlcow commented on #254
Interesting case for the discussion.
https://github.com/webcompat/web-bugs/issues/99281#issuecomment-1033303257

[2022-02-09 12:07] pascalchevrel commented on #254
yes, had we known that this would cause a webcompat issue, we would most likely have uplifted the patch to 96.

[2022-02-09 12:14] karlcow commented on #254
except we could not :) The webcompat issue has been opened 2 days ago.

[2022-02-09 12:27] pascalchevrel commented on #254
The relman team organizes the shipping of our Firefox products for desktop and mobile (with the exception of Firefox for iOS). This is cross-functional work, we work with all mozilla department from legal to platform.

We monitor all the patches that land in nightly, organize uplifts to our betas and releases when needed, manage the release calendar, crashes, performance, release notes, and genera

[2022-02-11 15:32] softvision-oana-arbuzov commented on #225
Progress 11/02/2022: 68/70

[2022-02-11 15:43] softvision-raul-bucata commented on #218
Progress 11.02.2022:
- [Tmall.com](https://www.tmall.com)
- [Baidu.com](https://www.baidu.com/)
- [Facebook.com](https://www.facebook.com/)
- [Taobao.com](http://taobao.com/)
- [QQ.com](http://qq.com/)
- [Sohu.com](http://sohu.com/)
- [360.cn](https://www.360.cn/)
- [Jd.com](http://jd.com/)

[2022-02-11 15:44] softvision-raul-bucata commented on #219
Progress - 11.02.2022 : 0 untriaged / 0 unmoderated / 23 backlog issues (needsinfo)

[2022-02-15 12:57] softvision-oana-arbuzov commented on #225
We've finished checking the Bugzilla issue and below is the result:
- Fixed : **9**
- Worksforme: **14**
- Meta Bug: 4
- Wontfix : 1
- Incomplete: 1
- NeedInfo User: **23**
- Reproducible: **18**

[2022-02-15 12:57] #225 closed, assigned to softvision-oana-arbuzov, softvision-raul-bucata

[2022-02-17 15:59] softvision-oana-arbuzov commented on #250
[Done] 2nd Manual run (Q1) - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1103212077

**UA Overrides to be removed:**
[1755893](https://bugzilla.mozilla.org/show_bug.cgi?id=1755893)  Remove UA Override for ebuyer.com

**Intervention to be removed:**
[1755941](https://bugzilla.mozilla.org/show_bug.cgi?id=

[2022-02-18 16:17] softvision-oana-arbuzov commented on #219
Progress - 18.02.2022 : 0 untriaged / 0 unmoderated / 30 backlog issues (needsinfo)

[2022-02-18 16:25] softvision-oana-arbuzov commented on #218
Progress 18.02.2022:
- [Amazon.com](https://www.amazon.com/)
- [Wikipedia.org](https://www.wikipedia.org/)
- [Sina.com.cn](https://sina.com.cn/)
- [Yahoo.com](http://yahoo.com/)

[2022-02-25 15:47] softvision-raul-bucata commented on #219
Progress - 25.02.2022 : 0 untriaged / 0 unmoderated / 37 backlog issues (needsinfo)

[2022-02-25 15:51] softvision-raul-bucata commented on #218
Progress 25.02.2022:
- [Weibo.com](http://weibo.com/)
- [Xinhuanet.com](http://xinhuanet.com/)
- [Live.com](http://live.com/)
- [Microsoft.com](http://microsoft.com/)
- [Zoom.us](http://zoom.us/)
- [Netflix.com](http://netflix.com/)
- [Reddit.com](http://reddit.com/)
- [Office.com](http://office.com/)

[2022-02-28 22:52] wisniewskit commented on #204
This is indeed done, with the caveat that SmartBlock opt-in logins (for "log in with Facebook" oauth buttons) are intentionally not enabled until UX can be considered which is in-line with Focus' desires.

[2022-02-28 22:52] #204 closed, assigned to wisniewskit

[2022-02-28 22:54] wisniewskit commented on #236
This is effectively a dupe of #205, as the investigations for both the webcompat and SmartBlock parts of the addon are happening in parallel.

[2022-02-28 22:54] #236 closed, assigned to nobody

[2022-03-04 03:15] karlcow commented on #244
https://mozilla-hub.atlassian.net/browse/FFXP-1626

[2022-03-04 12:00] jgraham commented on #244
In the end it made more sense to scope this to touch and wheel events. I could add pen events — there's no additional complexity that I'm aware of — but I aiui the support in gecko is platform-specific, so it seems less useful.

[2022-03-04 15:18] softvision-oana-arbuzov commented on #219
Progress - 04.03.2022 : 0 untriaged / 0 unmoderated / 32 backlog issues (needsinfo)

[2022-03-04 15:50] softvision-oana-arbuzov commented on #218
Progress 04.03.2022:

- [Zhanqi.tv](https://zhanqi.tv/)
- [Alipay.com](https://alipay.com/)
- [Csdn.net](https://csdn.net/)
- [Vk.com](https://vk.com/)
- [Bongacams.com](https://bongacams.com/)
- [Twitter.com](https://twitter.com/)
- [Amazon.in](https://amazon.in/)
- [Okezone.com](https://okezone.com/)
- [Panda.tv](http://panda.tv/)
- [Google.com.hk](http://google.com.hk/)
- [Bing.com](http://bing

[2022-03-10 01:34] karlcow opened #255 "Tracking Protection Issues and Webcompat infrastructure"
This issue here is to record understanding and state of discussions on what is happening around tracking protection issues and how the webcompat team can provide the knowledge for the privacy team to organize themselves.

Some possible topics that needs to be addressed.

* [ ] Triage expertise @softvision-oana-arbuzov @softvision-raul-bucata
* [ ] webcompat.com infrastructure @ksy36
* [ ] webcompa

[2022-03-10 12:45] softvision-oana-arbuzov opened #256 "[Meta] Gather issues observed with ML-bot and find ways to improve it"
This task is created to gather the issues which are observed in regards to ML-bot behavior and come up with ways to improve it.

-  Triage expertise [@softvision-oana-arbuzov](https://github.com/softvision-oana-arbuzov) [@softvision-raul-bucata](https://github.com/softvision-raul-bucata)
 - webcompat ML bot [@ksy36](https://github.com/ksy36)

[2022-03-10 12:48] softvision-oana-arbuzov commented on #256
@softvision-raul-bucata : We've observed that the ML BOT changes the milestone to ml-autoclosed for what seems to be valid issues.
We've gathered a **[list](https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1640243023)** and we'll continue updating it.

If the ML-BOT needs adjustment, we can manually triage the issues that seem valid, and move them

[2022-03-10 12:50] softvision-oana-arbuzov commented on #256
**[@ksy36](https://github.com/ksy36)** reply:
While this is expected to some extent, I do see that the number of potentially valid issues that it recently closed is not desirable.

Right now the criteria for the issue to be considered "valid" is whether it is moved to "needsdiagnosis" milestone. So the ML model takes into account the content of such issues (Domain, Tested different browser, UA, De

[2022-03-10 18:53] ksy36 commented on #256
Maybe we could add an additional column to track whether an issue has resolved in an actionable milestone (needsdiagnosis or moved). I've tried to add it in the spreadsheet, but don't have edit access.

I think this issue is only one as of today:
https://github.com/webcompat/web-bugs-private/issues/48890

And these 3 might be valid, but we can't test as a special account is needed:
https://github.

[2022-03-10 19:49] softvision-oana-arbuzov commented on #256
I've updated the list with the created date and status.

[2022-03-11 10:25] softvision-oana-arbuzov commented on #218
We've finished checking all top Alexa 50 sites, both on desktop and mobile with Firefox Nightly v.100.

Based on the results and issues found sites that are considered "**Fail**"
- desktop [Yahoo.com](http://yahoo.com/)

Sites no longer available (N/A) or app required:
- [Panda.tv](http://panda.tv/)
- [Microsoftonline.com](http://microsoftonline.com/)
- mobile - [Alipay.com](https://alipay.com/)

[2022-03-11 10:25] #218 closed, assigned to softvision-oana-arbuzov, softvision-raul-bucata

[2022-03-11 11:31] softvision-oana-arbuzov commented on #227
Mobile Webcompat list: https://bugzilla.mozilla.org/buglist.cgi?product=Web%20Compatibility&component=Mobile&resolution

Progress will be visible here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=700729771

[2022-03-11 15:36] softvision-raul-bucata commented on #219
Progress - 11.03.2022 : 0 untriaged / 0 unmoderated / 30 backlog issues (needsinfo)

[2022-03-16 17:16] softvision-oana-arbuzov commented on #250
Next run: 17.03.2022

[2022-03-17 17:29] softvision-raul-bucata commented on #250
[Done] 3rd Manual run (Q1)-  QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1815160789

**UA Overrides to be removed:**
[1760149](https://bugzilla.mozilla.org/show_bug.cgi?id=1760149) Remove UA Override for [bracketchallenge.ncaa.com](http://bracketchallenge.ncaa.com/)

**Interventions to be removed:**
[17

[2022-03-18 13:31] softvision-oana-arbuzov commented on #250
I've also executed the Automation Test Suite and below are the results:

**First run:**
Ran 38 checks (38 tests)
Expected results: 27

Skipped: 8 tests
SKIPPED bug #1570108 - login info required for
SKIPPED bug #1577519 - Region-locked, cannot test. Try using a VPN set to USA for
SKIPPED bug #1610344 - Region-locked, cannot test. Try using a VPN set to USA for
SKIPPED bug #1644830 - login info req

[2022-03-18 14:53] softvision-oana-arbuzov commented on #219
Progress - 18.03.2022 : 0 untriaged / 0 unmoderated / 27 backlog issues (needsinfo)

[2022-03-18 14:55] softvision-oana-arbuzov commented on #227
[Mobile Webcompat] Progress - 18.03.2022 : 8/50

[2022-03-24 16:50] softvision-oana-arbuzov commented on #227
We've finished checking Bugzilla issues (Mobile) and below are the results:

![image](https://user-images.githubusercontent.com/12184325/159970089-4db8c0ef-b701-41e4-a577-66173a1378b3.png)

[2022-03-24 17:00] softvision-oana-arbuzov commented on #227
Desktop Webcompat list: https://bugzilla.mozilla.org/buglist.cgi?product=Web%20Compatibility&component=Desktop&resolution=---&list_id=16032293

Progress will be visible here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=2089421580

[2022-03-25 14:46] softvision-raul-bucata commented on #219
Progress - 25.03.2022 : 0 untriaged / 0 unmoderated / 24 backlog issues (needsinfo)

[2022-03-25 15:24] softvision-oana-arbuzov commented on #227
[Desktop Webcompat] Progress - 25.03.2022 : 1/300

[2022-03-28 12:40] denschub commented on #199
Completed OKR-tracking-issue, thou shalt be closed.

[2022-03-28 12:40] #199 closed, assigned to skyschub, wisniewskit, karlcow, ksy36, softvision-oana-arbuzov, softvision-raul-bucata

[2022-03-31 20:09] ksy36 commented on #250
Update on Firefox v100 override:

brownells.com is fixed (https://github.com/webcompat/web-bugs/issues/90806)

I've filed https://bugzilla.mozilla.org/show_bug.cgi?id=1762465 to update Firefox v100 override for v101 version of the addon.

[2022-04-01 14:44] softvision-oana-arbuzov commented on #219
Progress - 01.04.2022 : 0 untriaged / 0 unmoderated / 33 backlog issues (needsinfo)

[2022-04-01 14:49] softvision-oana-arbuzov commented on #227
[Desktop Webcompat] Progress - 01.04.2022 : 19/300

[2022-04-02 01:31] ksy36 commented on #256
I've added https://github.com/webcompat/webcompat.com/issues/3685 to temporarily add automatic labelling to gather statistics:

`bugbug-reopened` label for issues that have been reopened after ML bot closed them;
`bugbug-valid` to issues that have `bugbug-reopened` label AND has been moved to needsdiagnosis or moved milestone;

I'll add the same labels to the issues that are currently on the list

[2022-04-06 20:07] ksy36 commented on #256
Deployed https://github.com/webcompat/webcompat.com/issues/3685, so it's adding the labels now. Also added the labels to the issues from the list: https://github.com/webcompat/web-bugs/issues?q=is%3Aissue+is%3Aopen+label%3Abugbug-reopened

[2022-04-07 11:23] softvision-oana-arbuzov commented on #250
Next run: 14.04.2022

[2022-04-08 14:14] softvision-raul-bucata commented on #219
Progress - 08.04.2022 : 0 untriaged / 0 unmoderated / 35 backlog issues (needsinfo)

[2022-04-08 14:15] softvision-raul-bucata commented on #227
[Desktop Webcompat] Progress - 08.04.2022 : 43/300

[2022-04-15 06:43] softvision-oana-arbuzov commented on #250
[Done] 1st Manual run (Q2)- QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=176668246

**UA Overrides to be removed:**
[1764734](https://bugzilla.mozilla.org/show_bug.cgi?id=1764734) Remove UA Override for [expertflyer.com](http://expertflyer.com/)

**Interventions to be removed:**
Intervention for [instagr

[2022-04-15 13:54] softvision-oana-arbuzov commented on #219
Progress - 15.04.2022 : 0 untriaged / 0 unmoderated / 35 backlog issues (needsinfo)

[2022-04-15 14:13] softvision-oana-arbuzov commented on #227
[Desktop Webcompat] Progress - 15.04.2022 : 64/300

[2022-04-15 14:15] softvision-oana-arbuzov commented on #223
Progress - 15.04.2022 : 47/372

[2022-04-18 13:28] softvision-oana-arbuzov commented on #250
I've also executed the Automation Test Suite and below are the results (VPN active pointing to USA):

**First run:**
Ran 39 checks (39 tests)
Expected results: 22

Skipped: 4 tests
SKIPPED bug #1570108 - login info required
SKIPPED bug #1644830 - login info required

Unexpected results: 13 (1 error, 12 fail)
FAILED bug #[1472075](https://bugzilla.mozilla.org/show_bug.cgi?id=1472075) - Message: Una

[2022-04-19 11:53] softvision-oana-arbuzov opened #257 "[H1] Testing of top 20 Leading Online Marketplaces Worldwide sites"
Exploratory testing on top 20 Leading Online Marketplaces Worldwide.

1.  Amazon | Global - [830](https://github.com/webcompat/web-bugs/issues?q=is%3Aissue+Amazon) webcompat issues
2.  eBay | Global - [406](https://github.com/webcompat/web-bugs/issues?q=is%3Aissue+eBay+) webcompat issues
3.  Mercado Libre | Latin America - [18](https://github.com/webcompat/web-bugs/issues?q=is%3Aissue+MercadoLibre

[2022-04-21 13:58] softvision-raul-bucata commented on #219
Progress - 21.04.2022 : 0 untriaged / 0 unmoderated / 32 backlog issues (needsinfo)

[2022-04-21 14:00] softvision-raul-bucata commented on #227
[Desktop Webcompat] Progress - 21.04.2022 : 74/300

[2022-04-21 14:01] softvision-raul-bucata commented on #223
Progress - 21.04.2022 : 139/372

[2022-04-29 15:20] softvision-raul-bucata commented on #219
Progress - 29.04.2022 : 0 untriaged / 0 unmoderated / 34 backlog issues (needsinfo)

[2022-04-29 15:21] softvision-raul-bucata commented on #227
[Desktop Webcompat] Progress - 29.04.2022 : 79/300

[2022-04-29 15:21] softvision-raul-bucata commented on #223
Progress - 29.04.2022 : 151/372

[2022-05-05 07:18] softvision-oana-arbuzov commented on #250
Next run: 12.05.2022

[2022-05-06 14:16] softvision-oana-arbuzov commented on #219
Progress - 06.05.2022 : 0 untriaged / 0 unmoderated / 33 backlog issues (needsinfo)

[2022-05-06 14:41] softvision-oana-arbuzov commented on #227
[Desktop Webcompat] Progress - 06.05.2022 : 87/300

[2022-05-06 14:44] softvision-oana-arbuzov commented on #223
Progress - 06.05.2022 : 228/372

[2022-05-12 15:30] softvision-oana-arbuzov commented on #250
[Done] 2nd Manual run (Q2)- QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=438080433

**UA Overrides to be removed:**
[1769073](https://bugzilla.mozilla.org/show_bug.cgi?id=1769073) Remove UA Override for sites returning desktop site instead of mobile site for Android 12

**Interventions to be removed:**
[

[2022-05-13 14:07] softvision-oana-arbuzov commented on #219
Progress - 13.05.2022 : 0 untriaged / 0 unmoderated / 34 backlog issues (needsinfo)

[2022-05-13 14:12] softvision-oana-arbuzov commented on #227
[Desktop Webcompat] Progress - 13.05.2022 : 89/300

[2022-05-13 14:13] softvision-oana-arbuzov commented on #223
Progress - 13.05.2022 : 245/372

[2022-05-17 11:52] softvision-oana-arbuzov commented on #250
I've also executed the Automation Test Suite and below are the results (VPN active pointing to USA):

**First run:**
Ran 39 checks (39 tests)
Expected results: 20

Skipped: 4 tests
SKIPPED bug #1570108 - login info required
SKIPPED bug #1644830 - login info required

Unexpected results: 15
  test: 15 (1 error, 14 fail)
FAILED 1457335_histography.py::test_disabled[without_interventions]
FAILED 1472

[2022-05-20 13:31] softvision-raul-bucata commented on #227
[Desktop Webcompat] Progress - 20.05.2022 : 120/300

[2022-05-20 13:32] softvision-raul-bucata commented on #223
Progress - 20.05.2022 : 372/372

[2022-05-20 13:54] softvision-oana-arbuzov commented on #219
Progress - 20.05.2022 : 0 untriaged / 0 unmoderated / 27 backlog issues (needsinfo)

[2022-05-20 13:56] softvision-oana-arbuzov commented on #257
Progress 20.05.2022 sites:
- Amazon

[2022-05-27 14:11] softvision-raul-bucata commented on #257
Progress 27.05.2022:
 - Amazon
 - Ebay

[2022-05-27 14:11] softvision-raul-bucata commented on #219
Progress - 27.05.2022 : 0 untriaged / 0 unmoderated / 37 backlog issues (needsinfo)

[2022-05-27 14:13] softvision-raul-bucata commented on #227
[Desktop Webcompat] Progress - 27.05.2022 : 140/300

[2022-05-30 08:14] softvision-oana-arbuzov commented on #223
We've finished re-verification of Sitewait issues and below are the results:
![image](https://user-images.githubusercontent.com/12184325/170948146-f798bde3-928a-4f69-b904-cf7677547ae1.png)

[2022-05-30 08:14] #223 closed, assigned to softvision-oana-arbuzov, softvision-raul-bucata

[2022-05-30 12:09] denschub commented on #250
I'll take over 103, as Tom is still working on Privacy stuff. I hope I'll have some cycles to look into the failing tests mentioned in @softvision-oana-arbuzov's previous comment, and catch up on adding tests for current interventions.

[2022-06-03 06:12] softvision-oana-arbuzov commented on #250
Next run: 09.06.2022

[2022-06-03 14:03] softvision-oana-arbuzov commented on #219
Progress - 03.06.2022 : 0 untriaged / 0 unmoderated / 33 backlog issues (needsinfo)

[2022-06-03 14:37] softvision-oana-arbuzov commented on #257
Progress 03.06.2022:
- Amazon
- Ebay
- Zalando

[2022-06-03 15:02] softvision-oana-arbuzov commented on #227
[Desktop Webcompat] Progress - 03.06.2022 : 153/300

[2022-06-06 17:49] #249 closed, assigned to nobody

[2022-06-06 20:07] ksy36 commented on #243
Tracked in:
https://github.com/webcompat/webcompat.com/issues/3697
https://github.com/webcompat/webcompat.com/issues/3702

[2022-06-07 01:46] ksy36 commented on #256
I've built a graph in kibana to visualize `bugbug-reopened` and `bugbug-valid` labels, where the legend is based on the following:

closed as invalid - issues with `bugbug-probability-high` label
issues that looked valid -  issues with  `bugbug-reopened` label
true valid issues -  issues with  `bugbug-valid` label

<img width="976" alt="Screen Shot 2022-06-06 at 2 09 36 PM" src="https://user-image

[2022-06-07 01:56] karlcow commented on #256
That's really cool.

[2022-06-09 16:17] softvision-oana-arbuzov commented on #250
[Done] 3rd Manual run (Q2)- QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=477077755

**Interventions to be removed:**
[1773445](https://bugzilla.mozilla.org/show_bug.cgi?id=1773445) Remove Intervention for m.aliexpress.com
[1773522](https://bugzilla.mozilla.org/show_bug.cgi?id=1773522) Remove Intervention

[2022-06-10 09:38] softvision-oana-arbuzov commented on #250
I've also executed the Automation Test Suite and below are the results (VPN active pointing to USA):

**First run:**
Ran 39 checks (39 tests)
Expected results: 21

Skipped: 4 tests
SKIPPED bug #1570108 - login info required
SKIPPED bug #1644830 - login info required

Unexpected results: 14
test: 14 (1 error, 13 fail)
FAILED 1472075_bankofamerica.py::test_disabled[without_interventions]
FAILED 1582

[2022-06-10 14:45] softvision-oana-arbuzov commented on #219
Progress - 10.06.2022 : 0 untriaged / 0 unmoderated / 37 backlog issues (needsinfo)

[2022-06-10 14:46] softvision-oana-arbuzov commented on #227
[Desktop Webcompat] Progress - 10.06.2022 : 173/300

[2022-06-10 14:48] softvision-oana-arbuzov commented on #257
Progress 10.06.2022:

- Amazon
- Ebay
- Zalando
- Lazada

[2022-06-17 14:35] softvision-raul-bucata commented on #219
Progress - 17.06.2022 : 0 untriaged / 0 unmoderated / 34 backlog issues (needsinfo)

[2022-06-17 14:38] softvision-raul-bucata commented on #227
[Desktop Webcompat] Progress - 17.06.2022 : 187/300

[2022-06-17 14:44] softvision-raul-bucata commented on #257
Progress 17.06.2022:

- Amazon
- Ebay
- Zalando
- Lazada (.com, .co.in)

[2022-06-24 14:11] softvision-oana-arbuzov commented on #219
Progress - 24.06.2022 : 0 untriaged / 0 unmoderated / 32 backlog issues (needsinfo)

[2022-06-24 15:23] softvision-oana-arbuzov commented on #227
[Desktop Webcompat] Progress - 24.06.2022 : 232/300

[2022-06-24 15:25] softvision-oana-arbuzov commented on #257
Progress 24.06.2022:
- Lazada (.co.in)
- Rakuten
- Shopee
- Wayfair

[2022-06-27 12:50] denschub opened #258 "2022H2 - Site Intervension Release"
Manual execution (issues related to 2fa/geo-location/code verification) and Automated Test Suite progress for Interventions and UA Overrides - and building and shipping those!

- [x] Version 104 (Soft Freeze: 2022-07-21) - @wisniewskit - [#1776673](https://bugzilla.mozilla.org/show_bug.cgi?id=1776673)
- [x] Version 105 (Soft Freeze: 2022-08-18) - @ksy36 - [#1776674](https://bugzilla.mozilla.org/sh

[2022-06-28 05:51] softvision-oana-arbuzov commented on #250
This is complete.

[2022-06-28 05:51] #250 closed, assigned to skyschub, wisniewskit, karlcow, ksy36, softvision-oana-arbuzov, softvision-raul-bucata

[2022-06-28 06:46] softvision-oana-arbuzov commented on #258
First QA run - 07.07.2022

[2022-07-01 07:46] softvision-raul-bucata commented on #227
[Desktop Webcompat] Progress - 1.07.2022 : 300/300

[2022-07-01 07:46] softvision-raul-bucata commented on #227
We've finished checking Bugzilla issues (Desktop) and below are the results:

![Screenshot_4](https://user-images.githubusercontent.com/75027050/176849241-f037803d-9398-42ab-8911-d98090e71d68.jpg)

[2022-07-01 07:46] #227 closed, assigned to softvision-oana-arbuzov, softvision-raul-bucata

[2022-07-01 14:16] softvision-raul-bucata commented on #219
Progress - 1.07.2022 : 0 untriaged / 0 unmoderated / 34 backlog issues (needsinfo)

[2022-07-01 14:19] softvision-raul-bucata commented on #257
Progress 1.07.2022:

- Lazada
- Shopee -desktop
- Wayfair -mobile
- Wildberries.ru
- Wildberries.eu

[2022-07-01 15:28] softvision-oana-arbuzov commented on #219
We've completed H1/Q2 for this task.

![image](https://user-images.githubusercontent.com/12184325/176925382-ec981d91-6f26-4563-ab3f-301c029991f2.png)

[2022-07-01 15:28] #219 closed, assigned to softvision-oana-arbuzov, softvision-raul-bucata

[2022-07-01 15:35] softvision-oana-arbuzov opened #259 "2022H2 - End every week with 0 untriaged and unmoderated bugs"
As measured by the webcompat-metrics server: http://webcompat-dashboard.herokuapp.com/needstriage and https://github.com/webcompat/web-bugs-private/issues (since we don't have a moderation endpoint for the metrics server yet).

The goal here is to track that we're able to keep up with bug load with current resources, and if not, use that as a justification to request more resources.

Note: Comment

[2022-07-04 10:07] denschub commented on #227
Amazing work! :)

[2022-07-04 11:31] karlcow commented on #227
Congratulations!

[2022-07-06 08:38] softvision-oana-arbuzov opened #260 "2022Q3 - QA re-verification of Needscontact issues"
Some older issues may no longer be valid, let's check them.
https://github.com/webcompat/web-bugs/issues?q=is%3Aopen+is%3Aissue+milestone%3Aneedscontact

[2022-07-06 08:40] softvision-oana-arbuzov opened #261 "[H2] Testing of top 20 Leading Online Marketplaces Worldwide sites"
Exploratory testing on top 20 Leading Online Marketplaces Worldwide.

1.  Amazon | Global - [830](https://github.com/webcompat/web-bugs/issues?q=is%3Aissue+Amazon) webcompat issues
2.  eBay | Global - [406](https://github.com/webcompat/web-bugs/issues?q=is%3Aissue+eBay+) webcompat issues
3.  Mercado Libre | Latin America - [18](https://github.com/webcompat/web-bugs/issues?q=is%3Aissue+MercadoLibre

[2022-07-06 09:11] softvision-oana-arbuzov commented on #260
Progress will be available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=792912894

[2022-07-07 11:34] softvision-oana-arbuzov commented on #257
This task is done for H1.

[2022-07-07 11:34] #257 closed, assigned to softvision-oana-arbuzov, softvision-raul-bucata

[2022-07-07 11:36] softvision-oana-arbuzov commented on #258
[Done] 1st Manual run (Q3) - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=222766122

[2022-07-07 12:01] softvision-oana-arbuzov commented on #258
[Done] 1st Automation run (Q3)
I've also executed the Automation Test Suite and below are the results (VPN active pointing to USA):

**First run:**
Ran 39 checks (39 tests)
Expected results: 22

Skipped: 4 tests
SKIPPED bug #1570108 - login info required
SKIPPED bug #1644830 - login info required

Unexpected results: 13 (1 error, 12 fail)
FAILED 1472075_bankofamerica.py::test_disabled[without_inte

[2022-07-08 14:27] softvision-oana-arbuzov commented on #259
Progress - 8.07.2022 : 0 untriaged / 0 unmoderated / 40 backlog issues (needsinfo)

[2022-07-08 14:43] softvision-oana-arbuzov commented on #261
Progress 8.07.2022:
- Shopee - mobile
- Etsy - desktop
- Wildberries.ru - desktop & mobile

[2022-07-12 13:13] softvision-oana-arbuzov opened #262 "QA Triage Trends"
Gather & describe Webcompat issue where we spot patterns/trends while performing Triage.

@janodvarko keep in the loop.

[2022-07-12 14:47] softvision-oana-arbuzov commented on #262
Our current findings:
- there are a lot of duplicates for [m.imgur.com](https://m.imgur.com/a/2ZpeEzF) site - in Private Mode the site does not load
Bugzilla bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1742344
=> there is a patch for patch https://phabricator.services.mozilla.com/D150034

- another issue with a few duplicates is related to Facebook news feed - keeps jumping and skips posts:

[2022-07-15 14:14] softvision-raul-bucata commented on #259
Progress - 15.07.2022 : 0 untriaged / 0 unmoderated / 41 backlog issues (needsinfo)

[2022-07-15 14:16] softvision-raul-bucata commented on #261
Progress 15.07.2022:
- Aliexpress.com -desktop
- Etsy - desktop and mobile
- MercadoLibre.com.co desktop

[2022-07-16 23:46] ksy36 commented on #256
An update here: I've been reopening issues for the past 6 weeks, and the percentage of missed issues is within expected range with 1.82% being the highest:

<img width="996" alt="Screen Shot 2022-07-13 at 7 13 38 PM" src="https://user-images.githubusercontent.com/1303908/179023827-1a0e0ebc-e5ff-489b-84f2-e044de1b5b26.png">

We could potentially increase the confidence threshold (from 97% to 98 or

[2022-07-18 14:05] softvision-raul-bucata commented on #262
Another issue with a few duplicates is related to Google Meet broken audio in calls:
 - `webcompat`: https://github.com/webcompat/web-bugs/issues/107298, https://github.com/webcompat/web-bugs/issues/107054, https://github.com/webcompat/web-bugs/issues/107098
 - `Bugzilla`: https://bugzilla.mozilla.org/show_bug.cgi?id=1666866, https://bugzilla.mozilla.org/show_bug.cgi?id=1653112,https://bugzilla.mo

[2022-07-22 14:22] softvision-raul-bucata commented on #259
Progress - 22.07.2022 : 0 untriaged / 0 unmoderated / 51 backlog issues (needsinfo)

[2022-07-22 14:23] softvision-raul-bucata commented on #261
Progress 22.07.2022:
- wallmart.com - mobile and desktop

[2022-07-25 14:48] softvision-raul-bucata commented on #262
There are a lot of duplicates for web.whatsapp.com not loading in PRIVATE MODE:
- `webcompat`: https://github.com/webcompat/web-bugs/issues/107832, https://github.com/webcompat/web-bugs/issues/107819, https://github.com/webcompat/web-bugs/issues/107352, https://github.com/webcompat/web-bugs/issues/107250, https://github.com/webcompat/web-bugs/issues/106867

- `Bugzilla`: https://bugzilla.mozilla.o

[2022-07-27 09:36] softvision-oana-arbuzov commented on #258
2nd QA run - 04.08.2022

[2022-07-29 11:16] softvision-raul-bucata commented on #262
It seems that the print preview is broken for some sites in Firefox, as we had a couple of reports regarding this, on desktop:
- https://github.com/webcompat/web-bugs/issues/107778 - reproducible
- https://github.com/webcompat/web-bugs/issues/107901 - reproducible
- https://github.com/webcompat/web-bugs/issues/108135 - Needs more info (paid account needed)
- https://github.com/webcompat/web-bugs/i

[2022-07-29 11:48] softvision-oana-arbuzov commented on #262
In the past few days, some issues occurred for users in regards to scrolling the site being broken

- https://github.com/webcompat/web-bugs/issues/108126
- https://github.com/webcompat/web-bugs/issues/108125
- https://github.com/webcompat/web-bugs/issues/108101
- https://github.com/webcompat/web-bugs/issues/108104
- https://github.com/webcompat/web-bugs/issues/108103
- https://github.com/webcompat

[2022-07-29 14:34] softvision-oana-arbuzov commented on #259
Progress - 29.07.2022 : 0 untriaged / 0 unmoderated / 48 backlog issues (needsinfo)

[2022-07-29 14:35] softvision-oana-arbuzov commented on #260
Progress - 29.07.2022: 12/499

[2022-08-01 06:33] softvision-oana-arbuzov commented on #261
Progress 29.07.2022:
- Flipkart - mobile & desktop

[2022-08-02 17:03] softvision-oana-arbuzov commented on #262
We received a few issues on Yahoo mail, and users were complaining that they are unable to perform different operations on emails (delete/reply/forward/attach files/archive/move/sort):
- https://github.com/webcompat/web-bugs/issues/108174
- https://github.com/webcompat/web-bugs/issues/108249
- https://github.com/webcompat/web-bugs/issues/108207
- https://github.com/webcompat/web-bugs/issues/110756

[2022-08-04 08:27] softvision-oana-arbuzov commented on #258
[Done] 2nd Automation run (Q3)
I've executed the Automation Test Suite and below are the results (VPN active pointing to USA):

**First run:**
Ran 38 checks (38 tests)
Expected results: 26

Skipped: 4 tests
SKIPPED bug #1570108 - login info required
SKIPPED bug #1644830 - login info required

Unexpected results: 8 (8 fail)
FAILED 1472075_bankofamerica.py::test_disabled[without_interventions]
FAILE

[2022-08-05 08:36] softvision-oana-arbuzov commented on #258
[Done] 2nd Manual run (Q3) - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=43704876

[2022-08-05 11:35] softvision-oana-arbuzov commented on #262
We received a few issues on YouTube, and users complain they can't play random videos:
- https://github.com/webcompat/web-bugs/issues/108538
- https://github.com/webcompat/web-bugs/issues/107863
- https://github.com/webcompat/web-bugs/issues/108528
- https://github.com/webcompat/web-bugs/issues/108295
- https://github.com/webcompat/web-bugs/issues/109955
- https://github.com/webcompat/web-bugs/iss

[2022-08-05 17:03] softvision-oana-arbuzov commented on #259
Progress - 05.08.2022 : 0 untriaged / 0 unmoderated / 45 backlog issues (needsinfo)

[2022-08-05 17:06] softvision-oana-arbuzov commented on #261
Progress 05.08.2022:
- Target.com - mobile

[2022-08-05 17:08] softvision-oana-arbuzov commented on #260
Progress - 05.08.2022: 48/499

[2022-08-11 03:40] ksy36 commented on #262
There are 4 reports about Firefox being unsupported that share similar UI:

<img width="1691" alt="Screen Shot 2022-08-10 at 11 26 40 PM" src="https://user-images.githubusercontent.com/1303908/184060264-0a2bdbf8-0588-4560-81cf-7d5de510ed8f.png">

https://github.com/webcompat/web-bugs/issues/100131
https://github.com/webcompat/web-bugs/issues/101496
https://github.com/webcompat/web-bugs/issues/1078

[2022-08-12 14:25] softvision-oana-arbuzov commented on #259
Progress - 12.08.2022 : 0 untriaged / 0 unmoderated / 47 backlog issues (needsinfo)

[2022-08-12 14:30] softvision-oana-arbuzov commented on #261
Progress 12.08.2022:

- Target.com - desktop
- Tokopedia.com - desktop & mobile
- Pinduoduo.com - desktop

[2022-08-12 15:49] softvision-oana-arbuzov commented on #260
Progress - 12.08.2022: 112/499

[2022-08-19 14:08] softvision-oana-arbuzov commented on #259
Progress - 19.08.2022 : 0 untriaged / 0 unmoderated / 42 backlog issues (needsinfo)

[2022-08-19 14:10] softvision-oana-arbuzov commented on #261
Progress 19.08.2022:
- Pinduoduo.com - mobile
- Trendyol - mobile & desktop

[2022-08-19 14:30] softvision-raul-bucata commented on #262
There are some reports regarding the lower part of some pages being blacked out (some due to triggering the keyboard):
- https://github.com/webcompat/web-bugs/issues/109330
- https://github.com/webcompat/web-bugs/issues/109125
- https://github.com/webcompat/web-bugs/issues/108976
- https://github.com/webcompat/web-bugs/issues/108984
- https://github.com/webcompat/web-bugs/issues/109134
- https://g

[2022-08-19 14:46] softvision-oana-arbuzov commented on #260
Progress - 19.08.2022: 165/499

[2022-08-26 07:57] softvision-oana-arbuzov commented on #262
Users complain about videos on Twitch not being visible, unfortunately we were not able to reproduce them.
- https://github.com/webcompat/web-bugs/issues/109717
- https://github.com/webcompat/web-bugs/issues/109704
- https://github.com/webcompat/web-bugs/issues/109620
- https://github.com/webcompat/web-bugs/issues/109618
- https://github.com/webcompat/web-bugs/issues/106823
- https://github.com/we

[2022-08-26 15:13] softvision-oana-arbuzov commented on #259
Progress - 26.08.2022 : 0 untriaged / 0 unmoderated / 40 backlog issues (needsinfo)

[2022-08-26 15:14] softvision-oana-arbuzov commented on #261
Progress 26.08.2022:

- Allegro - mobile & desktop

[2022-08-26 15:15] softvision-oana-arbuzov commented on #260
Progress - 26.08.2022: 245/499

[2022-08-29 06:36] softvision-oana-arbuzov commented on #262
Users complain about graphical glitches, flickering, artifacts and freezes on sites using devices with Android 13, which don't occur on lower Android versions.
- https://github.com/webcompat/web-bugs/issues/109777
- https://github.com/webcompat/web-bugs/issues/109673
- https://github.com/webcompat/web-bugs/issues/109690
- https://github.com/webcompat/web-bugs/issues/110266
- https://github.com/web

[2022-08-30 07:27] softvision-oana-arbuzov commented on #258
3rd QA run - 01.09.2022

[2022-09-01 14:26] softvision-raul-bucata commented on #258
[Done] 3rd Manual run (Q3) - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=43704876

[2022-09-01 14:35] softvision-oana-arbuzov commented on #258
[Done] 3rd Manual run (Q3) - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1907949384

Some issue are no longer reproducible regardless if the Intervention is enabled or not, but due to a crash in `about:compat` (`about:config`) https://github.com/mozilla-mobile/fenix/issues/26759 , we'll keep them and ve

[2022-09-02 12:56] softvision-oana-arbuzov commented on #258
[Done] 3rd Automation run (Q3)
I've executed the Automation Test Suite and below are the results (VPN active pointing to USA):

**First run:**
Ran 39 checks (39 tests)
Expected results: 21

Skipped: 4 tests
SKIPPED bug #1570108 - login info required
SKIPPED bug #1644830 - login info required

Unexpected results: 14 (1 error 13 fail)
FAILED 1472075_bankofamerica.py::test_disabled[without_interventi

[2022-09-02 14:14] softvision-oana-arbuzov commented on #259
Progress - 02.09.2022 : 0 untriaged / 0 unmoderated / 39 backlog issues (needsinfo)

[2022-09-02 14:19] softvision-raul-bucata commented on #261
Progress 02.09.2022:

- MercadoLibre.com.co - mobile & desktop

[2022-09-02 14:23] softvision-raul-bucata commented on #260
Progress - 02.09.2022 332/499

[2022-09-08 13:17] softvision-oana-arbuzov commented on #262
Dark mode/theme & Facebook container issues:
- Spiegel.de: https://github.com/webcompat/web-bugs/issues/110294
- Outlook Office: https://github.com/webcompat/web-bugs/issues/110474
- Twitch: https://bugzilla.mozilla.org/show_bug.cgi?id=1788911
- Tweetdeck.twitter.com: https://github.com/webcompat/web-bugs/issues/110478
- Macrumors.com: https://github.com/webcompat/web-bugs/issues/110483

Bugzilla

[2022-09-09 14:09] softvision-raul-bucata commented on #259
Progress - 09.09.2022 : 0 untriaged / 0 unmoderated / 45 backlog issues (needsinfo)

[2022-09-09 14:13] softvision-raul-bucata commented on #260
Progress - 09.09.2022 401/499

[2022-09-09 14:13] softvision-raul-bucata commented on #261
Progress 09.09.2022:

- Taobao.com -mobile & desktop

[2022-09-14 12:09] softvision-raul-bucata commented on #262
Issues with Google Calendar. They seem more like a candidate for something breaking with Firefox, as different issues where signaled( mostly UI and some functionalities not working as expected):

Reproducible:
- https://github.com/webcompat/web-bugs/issues/110745
- https://github.com/webcompat/web-bugs/issues/110760

Reported, but not reproducible:
- https://github.com/webcompat/web-bugs/issues/10

[2022-09-15 11:40] softvision-raul-bucata commented on #258
First Run (Q4) - 04.10.2022

[2022-09-15 14:37] softvision-oana-arbuzov commented on #261
We've finished testing the top 20 Leading Online Marketplaces Worldwide sites.

**Issues found:**
- https://github.com/webcompat/web-bugs/issues/110031
- https://github.com/webcompat/web-bugs/issues/107804
- https://github.com/webcompat/web-bugs/issues/107749
- https://github.com/webcompat/web-bugs/issues/110802
- https://bugzilla.mozilla.org/show_bug.cgi?id=1790622
- https://bugzilla.mozilla.org/

[2022-09-15 14:37] #261 closed, assigned to softvision-oana-arbuzov, softvision-raul-bucata

[2022-09-16 14:05] sv-calin commented on #259
Progress - 16.09.2022 : 0 untriaged / 0 unmoderated / 44 backlog issues (needsinfo)

[2022-09-16 14:14] sv-calin commented on #260
Progress - 16.09.2022 483/499

[2022-09-23 14:34] softvision-oana-arbuzov commented on #259
Progress - 23.09.2022 : 0 untriaged / 0 unmoderated / 33 backlog issues (needsinfo)

[2022-09-23 14:35] softvision-oana-arbuzov commented on #260
Progress - 23.09.2022 498/499

[2022-09-28 07:17] softvision-oana-arbuzov commented on #262
Users reported issues with Prime videos now playing. We were not able to reproduce them.

- https://github.com/webcompat/web-bugs/issues/110967
- https://github.com/webcompat/web-bugs/issues/110592
- https://github.com/webcompat/web-bugs/issues/110166
- https://github.com/webcompat/web-bugs/issues/111457

Found Bugzilla issues:
- https://bugzilla.mozilla.org/show_bug.cgi?id=1612407
- https://bugzi

[2022-09-30 14:07] softvision-raul-bucata commented on #260
Progress - 30.09.2022 499/499

[2022-09-30 14:07] softvision-raul-bucata commented on #259
Progress - 30.09.2022 : 0 untriaged / 0 unmoderated / 42 backlog issues (needsinfo)

[2022-10-03 12:13] softvision-raul-bucata opened #263 "2022Q4 - QA re-verification of Contact Ready issues"
Some older issues may no longer be valid, let's check them.
https://github.com/webcompat/web-bugs/issues?q=is%3Aopen+is%3Aissue+milestone%3Acontactready

[2022-10-03 12:17] softvision-raul-bucata opened #264 "2022Q4 - Exploratory testing for Top 10 Sites for: Streaming"
Exploratory testing on Top 10 Leading Worldwide Streaming Sites:

1. [YouTube](https://www.youtube.com/live) - 2,549 issues
2. [Facebook](https://www.facebook.com/watch) - 2,183 issues
3. [Twitch](https://www.twitch.tv/) - issues: 271
4. [VK](https://vk.com/video) - issues: 176
5. [TikTok](https://www.tiktok.com/) - issues: 53
6. [Voot](https://www.voot.com/) - issues: 11
7. [Vlive](https://www.vl

[2022-10-03 14:02] softvision-raul-bucata commented on #260
We've finished the re-verification of Needscontact issues and below are the results:

![Screenshot_11](https://user-images.githubusercontent.com/75027050/193596781-5ff4a8d2-e73d-4e1a-8d5c-8f67d3363536.jpg)

[2022-10-03 14:02] #260 closed, assigned to softvision-oana-arbuzov, softvision-raul-bucata

[2022-10-04 09:07] softvision-oana-arbuzov commented on #258
[Done] 1st Automation run (Q4)

I've executed the Automation Test Suite and below are the results (VPN active pointing to USA):

**First run:**
Ran 38 checks (38 tests)
Expected results: 26

Skipped: 4 tests
SKIPPED bug #1570108 - login info required
SKIPPED bug #1644830 - login info required

Unexpected results: 8 (8 fail)
FAILED 1472075_bankofamerica.py::test_disabled[without_interventions]
FAIL

[2022-10-04 14:58] softvision-raul-bucata commented on #258
[Done] 1st Manual Run (Q4) - QA Verification progress available here:
https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1164200933

**Interventions to be removed:**

[1652025](https://bugzilla.mozilla.org/show_bug.cgi?id=1652025) Remove Intervention for "Download prompt for files with no content-type"
[1793601](https://bugzilla.mozilla.org/show_bug.

[2022-10-06 08:18] softvision-raul-bucata commented on #262
Users reported issues with "Labels" option not functioning in Google Maps. We were able to reproduce the issues.

Reproducible issue:
- https://github.com/webcompat/web-bugs/issues/111546

Duplicates:
- https://github.com/webcompat/web-bugs/issues/111806
- https://github.com/webcompat/web-bugs/issues/111858
- https://github.com/webcompat/web-bugs/issues/111908

[2022-10-06 11:52] softvision-oana-arbuzov commented on #263
Progress will be available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=992180638

[2022-10-07 14:19] softvision-oana-arbuzov commented on #259
Progress - 07-10.2022 : 0 untriaged / 0 unmoderated / 41 backlog issues (needsinfo)

[2022-10-07 14:44] softvision-raul-bucata commented on #263
Progress 07.10.2022: 30/63

[2022-10-11 07:16] softvision-raul-bucata commented on #258
Second run (Q4) - 27.10.2022.

[2022-10-11 13:31] softvision-oana-arbuzov commented on #262
There are some reported issue related to Short YouTube videos - incorrect video played:
- https://github.com/webcompat/web-bugs/issues/111985 - reproducible
- https://github.com/webcompat/web-bugs/issues/111947 - reproducible randomly
- https://github.com/webcompat/web-bugs/issues/112138 - reproducible

Bugzilla: For reference, https://bugzilla.mozilla.org/show_bug.cgi?id=1794103 has been filed.

[2022-10-13 14:01] softvision-raul-bucata commented on #263
We've finished the re-verification of Contact Ready issues and below are the results:

![Screenshot_3](https://user-images.githubusercontent.com/75027050/195618199-832e5bb8-b7a1-49a0-8629-e97865251a18.jpg)

[2022-10-13 14:01] #263 closed, assigned to softvision-oana-arbuzov, softvision-raul-bucata

[2022-10-14 07:29] softvision-raul-bucata commented on #262
There are some issues where buttons on some pages are not working (mainly the login button):
 - https://github.com/webcompat/web-bugs/issues/112139 -Reproducible
 - https://github.com/webcompat/web-bugs/issues/111336
 - https://github.com/webcompat/web-bugs/issues/111692

[2022-10-14 07:30] softvision-raul-bucata commented on #262
There are some reported issues regarding the login process on Twitch:
- https://github.com/webcompat/web-bugs/issues/112152
- https://github.com/webcompat/web-bugs/issues/111692
- https://github.com/webcompat/web-bugs/issues/111336

[2022-10-14 13:54] softvision-raul-bucata commented on #264
Progress 14.10.2022:
- Openrec.tv -desktop
- Vk.com -mobile and desktop
- Vlive.tv -desktop
- Nimo.tv -desktop

[2022-10-14 14:09] softvision-raul-bucata commented on #259
Progress - 14.10.2022 : 0 untriaged / 0 unmoderated / 43 backlog issues (needsinfo)

[2022-10-21 14:20] softvision-raul-bucata commented on #259
Progress - 21.10.2022 : 0 untriaged / 0 unmoderated / 48 backlog issues (needsinfo)

[2022-10-21 14:23] softvision-raul-bucata commented on #264
Progress 21.10.2022:
- Openrec.tv -desktop and mobile
- Dlive.tv -desktop and mobile

[2022-10-27 13:05] softvision-raul-bucata commented on #258
[Done] 2nd Atuomationl Run (Q4) -
I've executed the Automation Test Suite and below are the results (VPN active pointing to USA):

**First run:**
Ran 38 checks (38 tests)
Expected results: 23

Skipped: 4 tests
SKIPPED login info required for bug #1570108
SKIPPED login info required for bug #1644830

Unexpected results: 11 (11 fail)

FAILED 1472075_bankofamerica.py::test_disabled[without_interventi

[2022-10-27 13:22] softvision-raul-bucata commented on #258
[Done] 2nd Manual Run (Q4) - QA Verification progress available here:
https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=304532596

[2022-10-27 13:26] softvision-raul-bucata commented on #258
3rd Run (Q4) - 24.11.2022

[2022-10-28 13:21] sv-calin commented on #259
Progress - 28.10.2022 : 0 untriaged / 0 unmoderated / 43 backlog issues (needsinfo)

[2022-10-28 13:27] sv-calin commented on #262
There are some reported issues regarding mail operations not functioning on various email service providers.

Not reproducible:
* https://github.com/webcompat/web-bugs/issues/113069
* https://github.com/webcompat/web-bugs/issues/112719
* https://github.com/webcompat/web-bugs/issues/112485
* https://github.com/webcompat/web-bugs/issues/112330

Reproducible:
* https://github.com/webcompat/web-bugs/i

[2022-10-28 13:34] sv-calin commented on #262
Users are complaining that the login process was unsuccessful.

Reproducible:
* https://github.com/webcompat/web-bugs/issues/113057
* https://github.com/webcompat/web-bugs/issues/112754
* https://github.com/webcompat/web-bugs/issues/112735

Not reproducible:
* https://github.com/webcompat/web-bugs/issues/113065
* https://github.com/webcompat/web-bugs/issues/113063
* https://github.com/webcompat/we

[2022-10-28 13:34] softvision-raul-bucata commented on #262
New reported issues about the video not playing on various platforms:

Reproducible:
* https://github.com/webcompat/web-bugs/issues/112864

Not reproducible:
* https://github.com/webcompat/web-bugs/issues/112995 (Instagram shorts)
* https://github.com/webcompat/web-bugs/issues/112949
* https://github.com/webcompat/web-bugs/issues/112945
* https://github.com/webcompat/web-bugs/issues/112895
* https

[2022-10-28 13:36] softvision-raul-bucata commented on #262
We have received reports about the burger menu not working on cardmarket.com, thus the login process can not be initiated.

Reproducible:
* https://github.com/webcompat/web-bugs/issues/113057

Duplicates:
* https://github.com/webcompat/web-bugs/issues/113065
* https://github.com/webcompat/web-bugs/issues/113063
* https://github.com/webcompat/web-bugs/issues/113059

[2022-10-28 13:37] softvision-raul-bucata commented on #264
Progress 28.10.2022:
* Openrec.tv - mobile

[2022-11-02 09:44] softvision-raul-bucata opened #265 "2022 - Q4 re-verification of NeedsDiagnosis issues"
Some older issues may no longer reproduce, let's check them:
https://github.com/webcompat/web-bugs/issues?q=milestone%3Aneedsdiagnosis+sort%3Aupdated-desc+-label%3Adiagnosis-priority-p1+-label%3Adiagnosis-priority-p2+-label%3Adiagnosis-priority-p3+-label%3Astatus-needsinfo-denschub+-label%3Astatus-needsinfo-wisniewskit+-label%3Astatus-needsinfo-ksy36+label%3Aengine-gecko+

[2022-11-02 09:45] softvision-raul-bucata commented on #265
We will start with issues submitted by users. Progress will be available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1634164584

[2022-11-04 14:57] softvision-raul-bucata commented on #259
Progress - 04.11.2022 : 0 untriaged / 0 unmoderated / 41 backlog issues (needsinfo)

[2022-11-04 14:57] softvision-raul-bucata commented on #264
Progress 04.11.2022:
* Tiktok.com - mobile
* Voot.com -desktop

[2022-11-04 15:01] softvision-raul-bucata commented on #265
Progress - 04.11.2022: 41/75 (user issues)
Total 41/172

[2022-11-11 14:38] softvision-raul-bucata commented on #262
We have received issues about various buttons not working on certain pages.

Reproducible:
 * https://github.com/webcompat/web-bugs/issues/113715
 *  https://github.com/webcompat/web-bugs/issues/113680

Not reproducible:
* https://github.com/webcompat/web-bugs/issues/113693
* https://github.com/webcompat/web-bugs/issues/113552
* https://github.com/webcompat/web-bugs/issues/113534
* https://github.

[2022-11-11 14:43] softvision-raul-bucata commented on #262
Issues where videos on pages can not be played:

Reproducible:

* https://github.com/webcompat/web-bugs/issues/113388

Needsinfo:

* https://github.com/webcompat/web-bugs/issues/113668
* https://github.com/webcompat/web-bugs/issues/113668

Not reproducbile:

* https://github.com/webcompat/web-bugs/issues/113801
* https://github.com/webcompat/web-bugs/issues/113799
* https://github.com/webcompat/we

[2022-11-11 14:46] softvision-raul-bucata commented on #262
Also, some pages presented issues with graphics (images, preview, etc).

Reproducible:

* https://github.com/webcompat/web-bugs/issues/113726
* https://github.com/webcompat/web-bugs/issues/113645
* https://github.com/webcompat/web-bugs/issues/113459

Not reproducible/duplicates:

* https://github.com/webcompat/web-bugs/issues/113732
* https://github.com/webcompat/web-bugs/issues/113594
* https://g

[2022-11-11 14:48] softvision-raul-bucata commented on #262
We have seen some issues where pages presented performance issues,

Reproducible:
* https://github.com/webcompat/web-bugs/issues/113684
* https://github.com/webcompat/web-bugs/issues/113267

Not reproducible:

* https://github.com/webcompat/web-bugs/issues/113795
* https://github.com/webcompat/web-bugs/issues/113575
* https://github.com/webcompat/web-bugs/issues/113555
* https://github.com/webcomp

[2022-11-11 14:58] sv-calin commented on #259
Progress - 11.11.2022 : 0 untriaged / 0 unmoderated / 40 backlog issues (needsinfo)

[2022-11-11 15:01] sv-calin commented on #264
Progress 11.11.2022:
* tiktok.com - desktop
* voot.com - mobile

[2022-11-11 15:02] sv-calin commented on #265
Progress - 11.11.2022: 75/75 (user issues)
Total 75/172

[2022-11-18 14:27] softvision-raul-bucata commented on #259
Progress - 18.11.2022 : 0 untriaged / 0 unmoderated / 32 backlog issues (needsinfo)

[2022-11-18 14:41] sv-calin commented on #262
Issues with audio play:

- https://github.com/webcompat/web-bugs/issues/113870
- https://github.com/webcompat/web-bugs/issues/113824

Issue with fullscreen:

- Reproducible: https://github.com/webcompat/web-bugs/issues/114054
- Not reproducible: https://github.com/webcompat/web-bugs/issues/113844

[2022-11-18 14:44] softvision-raul-bucata commented on #265
Progress - 18.11.2022: 92/172

[2022-11-18 14:45] softvision-raul-bucata commented on #264
Progress 18.11.2022:

* Twitch.tv - desktop
* Voot.com - mobile
* Tiktok.com - desktop

[2022-11-24 15:50] softvision-raul-bucata commented on #258
[Done] 3rd Manual Run (Q4) - QA Verification progress available here: https://docs.google.com/spreadsheets/d/1F9vcSpLQ_hNBeZinsytGXlfXpJLW6vh7C0BJYtd9hIY/edit?pli=1#gid=1164200933

**Interventions to be removed:**

[1802326](https://bugzilla.mozilla.org/show_bug.cgi?id=1802326)  Remove Intervention for Nintendo domains
[1802328](https://bugzilla.mozilla.org/show_bug.cgi?id=1802328)  Remove Interve

[2022-11-24 15:58] softvision-raul-bucata commented on #258
[Done] 3rd Atuomationl Run (Q4) -
I've executed the Automation Test Suite and below are the results (VPN active pointing to USA):

**First run:**
Ran 38 checks (38 tests)
Expected results: 23

Skipped: 4 tests
SKIPPED login info required for bug #1570108
SKIPPED login info required for bug #1644830

Unexpected results: 11 (11 fail)

FAILED 1472075_bankofamerica.py::test_disabled[without_interventi

[2022-11-25 14:33] sv-calin commented on #259
Progress - 25.11.2022 : 0 untriaged / 0 unmoderated / 42 backlog issues (needsinfo)

[2022-11-25 14:35] sv-calin commented on #264
Progress 25.11.2022:
* Twitch.tv - desktop
* Voot.com - mobile

[2022-11-25 14:38] sv-calin commented on #265
Progress - 25.11.2022: 158/172

[2022-11-25 14:43] sv-calin commented on #262
**Issues regarding login.**

Reproducible:
* https://github.com/webcompat/web-bugs/issues/114450
* https://github.com/webcompat/web-bugs/issues/114258

Not reproducible:
* https://github.com/webcompat/web-bugs/issues/114632
* https://github.com/webcompat/web-bugs/issues/114601
* https://github.com/webcompat/web-bugs/issues/114552
* https://github.com/webcompat/web-bugs/issues/114445
* https://gith